n8n-workflows/live-exports/RwUo7G2PmZNqyMbe-journey-b-onboard-pipeline.json
{
  "id": "RwUo7G2PmZNqyMbe",
  "name": "Zero Risk — JOURNEY B · ONBOARD Pipeline (Cliente firmado → activo)",
  "description": null,
  "nodes": [
    {
      "id": "journey-entry",
      "name": "Journey B entry (from Master Orchestrator)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        100
      ],
      "parameters": {
        "path": "journey-b-onboard",
        "responseMode": "onReceived",
        "httpMethod": "POST"
      },
      "webhookId": "74fd0dbc-d2e6-4ab6-b21a-b464fafaef6b"
    },
    {
      "id": "step-1-intake",
      "name": "Step 1 · onboarding-specialist intake form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
        "jsonBody": "={\n  \"agent\": \"onboarding-specialist\",\n  \"task\": \"Generar intake form personalizado para nuevo cliente {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} · industria + tamaño + objetivos preliminares\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\",\n  \"context\": { \"phase\": \"INTAKE\", \"journey_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body._journey_id  }}\" }\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{  $env.INTERNAL_API_KEY  }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "options": {
          "timeout": 900000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "step-2-wait-intake-response",
      "name": "Step 2 · wait for intake form completion (persist+resume)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        100
      ],
      "parameters": {}
    },
    {
      "id": "step-3-auto-brand-book",
      "name": "Step 3 · brand-strategist auto-generate Brand Book v0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
        "jsonBody": "={{ JSON.stringify({\n  agent: \"brand-strategist\",\n  task: \"Auto-generar Brand Book v1 INFORMED para cliente \" + $('Journey B entry (from Master Orchestrator)').first().json.body.client_id + \". Tu cliente tiene brain RAG enriquecido con intake form (v0) + ICP customer research (v1) + competitive landscape (v2) · usa brainEnrichment para construir Brand Book informed que diferencia del competitive landscape y resuena con ICP. Output: voice, tone, positioning, forbidden_words, required_terminology, visual identity. Scrape web cliente: \" + $('Journey B entry (from Master Orchestrator)').first().json.body.params.client_website_url,\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  workflow_id: $workflow.id,\n  workflow_execution_id: $execution.id,\n  context: {\n    phase: \"AUTO_BRAND_BOOK_V1_INFORMED\",\n    client_website_url: $('Journey B entry (from Master Orchestrator)').first().json.body.params.client_website_url,\n    brain_pipeline_state: \"v0+v1+v2 ingested · brand-strategist reads via brainEnrichment\"\n  }\n}) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{  $env.INTERNAL_API_KEY  }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "options": {
          "timeout": 900000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "notes": "Sprint 8D retry resilience CC#3 2026-05-25 · retryOnFail=true maxTries=3 wait=30s · transparent retry de Railway 502/ECONNRESET transient crashes per brand-strategist reliability fix"
    },
    {
      "id": "step-4-icp-definition",
      "name": "Step 4 · customer-research ICP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
        "jsonBody": "={\n  \"agent\": \"customer-research\",\n  \"task\": \"Generar ICP document v0 basado en intake responses + scrapeo web · 1-3 audience segments · JTBD + objeciones\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{  $env.INTERNAL_API_KEY  }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "options": {
          "timeout": 900000
        }
      }
    },
    {
      "id": "step-5-competitive-landscape",
      "name": "Step 5 · competitive-intelligence landscape mapping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
        "jsonBody": "={\n  \"agent\": \"competitive-intelligence-agent\",\n  \"task\": \"5-layer competitive landscape para {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} en su vertical · top 5 competidores identificados + diferenciación + ad library audit\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{  $env.INTERNAL_API_KEY  }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "options": {
          "timeout": 900000
        }
      }
    },
    {
      "id": "step-6-populate-client-brain",
      "name": "Step 6 · populate Client Brain (5 tablas)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/brain/ingest-source",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"source_table\": \"client_brand_books\",\n  \"source_id\": \"{{ $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"sections\": [\n    {\n      \"section_label\": \"brand_book_v1\",\n      \"text\": {{ JSON.stringify(($node['Step 3 · brand-strategist auto-generate Brand Book v0'].json && $node['Step 3 · brand-strategist auto-generate Brand Book v0'].json.response) || 'Brand book pending · onboarding-specialist did not return response.') }}\n    }\n  ],\n  \"metadata\": {\n    \"ingested_via\": \"journey-b-step-6\",\n    \"journey_id\": \"{{ $json._journey_id }}\",\n    \"brain_stage\": \"v3\",\n    \"source_step\": \"step-3-brand-strategist-informed\",\n    \"sprint\": \"8d-gap-4-wire-in-plus-reorder-plus-cumulative\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Sprint 8D Gap 4 wire-in · 2026-05-25 CC#3 · was noOp · now invokes /api/brain/ingest-source with Step 3 brand_book response · ICP + competitive ingest pending Sprint 9 enhancement (Step 6b/6c)"
    },
    {
      "id": "step-7-notion-workspace",
      "name": "Step 7 · web-designer · Notion workspace setup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
        "jsonBody": "={\n  \"agent\": \"web-designer\",\n  \"task\": \"Diseñar layout Notion workspace para {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} · sections: Brand Book · Campaigns · Reports · Files · Communication\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{  $env.INTERNAL_API_KEY  }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "options": {
          "timeout": 900000
        }
      }
    },
    {
      "id": "step-8-notion-create",
      "name": "Step 8 · Notion API · crear workspace real",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app'  }}/api/notion/create-client-workspace",
        "jsonBody": "={\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"client_name\": \"{{  ($('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief && ($('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief.client_name || $('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief.company)) || ('Cliente · ' + $('Journey B entry (from Master Orchestrator)').first().json.body.client_id)  }}\",\n  \"industry\": \"{{  ($('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief && $('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief.industry) || ''  }}\",\n  \"primary_contact\": \"{{  ($('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief && $('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief.primary_contact) || ''  }}\",\n  \"onboarding_notes\": \"Workspace creado automáticamente por Journey B Step 8 (Sprint 8D dual-mode refactor 2026-05-25 CC#2) · journey_id {{  $('Journey B entry (from Master Orchestrator)').first().json.body._journey_id  }} · trigger {{  $('Journey B entry (from Master Orchestrator)').first().json.body.trigger_source  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{  $env.INTERNAL_API_KEY  }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "step-9-kickoff-deck",
      "name": "Step 9 · sales-enablement · kickoff deck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
        "jsonBody": "={\n  \"agent\": \"sales-enablement\",\n  \"task\": \"Generar kickoff deck para {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} · slides: vision · KPIs propuestos · timeline · sprint 1 plan · communication cadence\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{  $env.INTERNAL_API_KEY  }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "options": {
          "timeout": 900000
        }
      }
    },
    {
      "id": "step-10-hitl-brand-book-validation",
      "name": "Step 10 · HITL · Brand Book + KPIs validation (Emilio + Cliente)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.MC_BASE_URL  }}/api/inbox?masterPassword={{  $env.MC_API_TOKEN  }}",
        "jsonBody": "={\n  \"from\": \"journey-b-onboard\",\n  \"to\": \"approval_required\",\n  \"type\": \"approval\",\n  \"subject\": \"Brand Book v0 + Kickoff deck para {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} · validar antes de presentar al cliente\",\n  \"body\": \"Auto-generated · review needed before client kickoff call\",\n  \"requires_response\": true,\n  \"items\": [\n    { \"type\": \"brand_book\", \"link\": \"...\" },\n    { \"type\": \"icp\", \"link\": \"...\" },\n    { \"type\": \"competitive\", \"link\": \"...\" },\n    { \"type\": \"kickoff_deck\", \"link\": \"...\" }\n  ]\n}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json"
      }
    },
    {
      "id": "step-10b-max-iterations-check",
      "name": "Step 10b · E-009 IF edit_iteration_count >= 2 THEN escalate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        200
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{  $json.edit_iteration_count || 0  }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "greaterThanOrEqual"
              }
            }
          ]
        }
      }
    },
    {
      "id": "step-10c-escalate-jefe-cs",
      "name": "Step 10c · escalate to jefe-client-success (max edits)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.MC_BASE_URL  }}/api/inbox?masterPassword={{  $env.MC_API_TOKEN  }}",
        "jsonBody": "={\n  \"from\": \"journey-b-onboard\",\n  \"to\": \"jefe-client-success\",\n  \"type\": \"escalation\",\n  \"subject\": \"Brand Book edit loop max · cliente {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} requiere intervención\",\n  \"body\": \"Cliente solicitó {{  $json.edit_iteration_count  }} edits. Max 2 permitido. Escalating para resolver.\"\n}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json"
      }
    },
    {
      "id": "step-11-resume-after-approval",
      "name": "Step 11 · resume after approval (persist+resume)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2300,
        100
      ],
      "parameters": {}
    },
    {
      "id": "step-12-first-sprint-plan",
      "name": "Step 12 · jefe-marketing · first sprint plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
        "jsonBody": "={\n  \"agent\": \"jefe-marketing\",\n  \"task\": \"Producir plan del primer sprint · 2-3 deliverables iniciales · deadlines · agentes asignados\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{  $env.INTERNAL_API_KEY  }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "options": {
          "timeout": 900000
        }
      }
    },
    {
      "id": "step-13-mark-active",
      "name": "Step 13 · mark cliente ACTIVO · trigger Journey C + D",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        100
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{  $env.NEXT_PUBLIC_SUPABASE_URL  }}/rest/v1/clients?id=eq.{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}",
        "jsonBody": "={ \"status\": \"active\", \"onboarded_at\": \"{{  $now  }}\" }",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        }
      }
    },
    {
      "id": "step-14-trigger-journey-c",
      "name": "Step 14 · auto-trigger Journey C (first campaign)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{  $env.N8N_BASE_URL  }}/webhook/journey-dispatch",
        "jsonBody": "={\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"journey\": \"PRODUCE\",\n  \"trigger_type\": \"automatic_post_onboard\",\n  \"params\": {{  JSON.stringify($node['Step 12 · jefe-marketing · first sprint plan'].json.first_campaign_brief)  }}\n}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json"
      }
    },
    {
      "id": "step-15-callback-master",
      "name": "Step 15 · callback to Master Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        200
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{  $env.NEXT_PUBLIC_SUPABASE_URL  }}/rest/v1/client_journey_state?id=eq.{{  $('Journey B entry (from Master Orchestrator)').first().json.body._journey_id  }}",
        "jsonBody": "={ \"status\": \"completed\", \"completed_at\": \"{{  $now  }}\" }",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      }
    },
    {
      "id": "step-1b-brain-ingest-intake-v0",
      "name": "Step 1b · brain ingest · intake form v0",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        250
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/brain/ingest-source",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"source_table\": \"client_historical_outputs\",\n  \"source_id\": \"{{ $json._journey_id || $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"sections\": [\n    {\n      \"section_label\": \"intake_form_v0\",\n      \"text\": {{ JSON.stringify(($node['Step 1 · onboarding-specialist intake form'].json && $node['Step 1 · onboarding-specialist intake form'].json.response) || 'step-1-intake pending · upstream agent did not return response.') }}\n    }\n  ],\n  \"metadata\": {\n    \"ingested_via\": \"journey-b-step-1-intake-cumulative-pipeline\",\n    \"journey_id\": \"{{ $json._journey_id }}\",\n    \"brain_stage\": \"v0\",\n    \"source_step\": \"step-1-intake\",\n    \"sprint\": \"8d-fase-1-cuenta-1-cumulative-pipeline\"\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput",
      "notesInFlow": true,
      "notes": "Brain RAG cumulative ingest · stage v0 (step-1-intake). continueOnFail · brain failure does NOT block downstream."
    },
    {
      "id": "step-4b-brain-ingest-icp-v1",
      "name": "Step 4b · brain ingest · ICP v1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        250
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/brain/ingest-source",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"source_table\": \"client_icp_documents\",\n  \"source_id\": \"{{ $json._journey_id || $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"sections\": [\n    {\n      \"section_label\": \"icp_v1\",\n      \"text\": {{ JSON.stringify(($node['Step 4 · customer-research ICP'].json && $node['Step 4 · customer-research ICP'].json.response) || 'step-4-customer-research pending · upstream agent did not return response.') }}\n    }\n  ],\n  \"metadata\": {\n    \"ingested_via\": \"journey-b-step-4-customer-research-cumulative-pipeline\",\n    \"journey_id\": \"{{ $json._journey_id }}\",\n    \"brain_stage\": \"v1\",\n    \"source_step\": \"step-4-customer-research\",\n    \"sprint\": \"8d-fase-1-cuenta-1-cumulative-pipeline\"\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput",
      "notesInFlow": true,
      "notes": "Brain RAG cumulative ingest · stage v1 (step-4-customer-research). continueOnFail · brain failure does NOT block downstream."
    },
    {
      "id": "step-5b-brain-ingest-competitive-v2",
      "name": "Step 5b · brain ingest · competitive v2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        250
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/brain/ingest-source",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"source_table\": \"client_competitive_landscape\",\n  \"source_id\": \"{{ $json._journey_id || $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"sections\": [\n    {\n      \"section_label\": \"competitive_v2\",\n      \"text\": {{ JSON.stringify(($node['Step 5 · competitive-intelligence landscape mapping'].json && $node['Step 5 · competitive-intelligence landscape mapping'].json.response) || 'step-5-competitive pending · upstream agent did not return response.') }}\n    }\n  ],\n  \"metadata\": {\n    \"ingested_via\": \"journey-b-step-5-competitive-cumulative-pipeline\",\n    \"journey_id\": \"{{ $json._journey_id }}\",\n    \"brain_stage\": \"v2\",\n    \"source_step\": \"step-5-competitive\",\n    \"sprint\": \"8d-fase-1-cuenta-1-cumulative-pipeline\"\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "onError": "continueRegularOutput",
      "notesInFlow": true,
      "notes": "Brain RAG cumulative ingest · stage v2 (step-5-competitive). continueOnFail · brain failure does NOT block downstream."
    },
    {
      "id": "step-8-1-subpage-brand-book",
      "name": "Step 8.1 · Notion subpage · Brand Book v1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        -100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'brand-strategist',\n  title: 'Brand Book · canonical v1',\n  content_markdown: ($node['Step 3 · brand-strategist auto-generate Brand Book v0'].json && $node['Step 3 · brand-strategist auto-generate Brand Book v0'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'brand_book_v1'\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 3 · brand-strategist auto-generate Brand Book v0 · NOT downstream-blocking per audit SAFE"
    },
    {
      "id": "step-8-2-subpage-icp",
      "name": "Step 8.2 · Notion subpage · ICP Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        -100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'customer-research',\n  title: 'ICP Document · canonical',\n  content_markdown: ($node['Step 4 · customer-research ICP'].json && $node['Step 4 · customer-research ICP'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'icp_v1'\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 4 · customer-research ICP · NOT downstream-blocking per audit SAFE"
    },
    {
      "id": "step-8-3-subpage-competitive",
      "name": "Step 8.3 · Notion subpage · Análisis Competitivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -800,
        -100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'competitive-intelligence-agent',\n  title: 'Análisis Competitivo · 5 Capas',\n  content_markdown: ($node['Step 5 · competitive-intelligence landscape mapping'].json && $node['Step 5 · competitive-intelligence landscape mapping'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'competitive_v2'\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 5 · competitive-intelligence landscape mapping · NOT downstream-blocking per audit SAFE"
    },
    {
      "id": "step-9-1-subpage-kickoff",
      "name": "Step 9.1 · Notion subpage · Kickoff Deck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'sales-enablement',\n  title: 'Kickoff Deck · canonical',\n  content_markdown: ($node['Step 9 · sales-enablement · kickoff deck'].json && $node['Step 9 · sales-enablement · kickoff deck'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'kickoff_deck'\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 9 · sales-enablement · kickoff deck · NOT downstream-blocking per audit SAFE"
    },
    {
      "id": "step-12-1-subpage-sprint-plan",
      "name": "Step 12.1 · Notion subpage · Plan Primer Sprint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -100
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'jefe-marketing',\n  title: 'Plan Primer Sprint · canonical',\n  content_markdown: ($node['Step 12 · jefe-marketing · first sprint plan'].json && $node['Step 12 · jefe-marketing · first sprint plan'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'first_sprint_plan'\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 12 · jefe-marketing · first sprint plan · NOT downstream-blocking per audit SAFE"
    },
    {
      "id": "apify-wire-load-clients-journey_b_onboard",
      "name": "[APIFY-WIRE] Load active clients with apify enabled (journey_b_onboard)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        650
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ordaeyxvvvdqsznsecjx.supabase.co/rest/v1/clients?status=eq.active&select=id,name,slug,config&config->apify->enabled=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "apify-wire-split-clients-journey_b_onboard",
      "name": "[APIFY-WIRE] Split per cliente (journey_b_onboard)",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        600,
        650
      ],
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      }
    },
    {
      "id": "apify-wire-filter-functions-journey_b_onboard",
      "name": "[APIFY-WIRE] Filter functions for journey_b_onboard scope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        650
      ],
      "parameters": {
        "jsCode": "const cliente = $input.item.json;\nconst cron = (cliente.config && cliente.config.apify && cliente.config.apify.cron_cadence_per_function) || {};\nconst tier = (cliente.config && cliente.config.apify && cliente.config.apify.plan_tier) || 'basic';\nconst scopeFunctions = [\"instagram_scraper\",\"facebook_ads_library_scraper\",\"linkedin_company_scraper\"];\nconst activas = scopeFunctions.filter(fn => cron[fn] != null);\nreturn activas.map(fn => ({\n  json: { client_id: cliente.id, client_name: cliente.name, apify_function: fn, cadence: cron[fn], tier }\n}));"
      }
    },
    {
      "id": "apify-wire-split-functions-journey_b_onboard",
      "name": "[APIFY-WIRE] Split per function (journey_b_onboard)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        650
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "apify-wire-call-service-journey_b_onboard",
      "name": "[APIFY-WIRE] Call Apify Service Workflow (journey_b_onboard)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        650
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-72be.up.railway.app/webhook/apify-service-workflow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_id: $json.client_id,\n  apify_function: $json.apify_function,\n  destination: \"brain_rag\",\n  dry_run: true,\n  source_table: \"client_competitive_landscape\",\n  metadata: {\n    calling_workflow_id: $workflow.id,\n    calling_workflow_execution_id: $execution.id,\n    scope: \"journey_b_onboard\",\n    sprint: \"9-cleanup-wire-6-critical-journey-b-DISCONNECTED-alta-sensibilidad\",\n    tier: $json.tier,\n    cadence: $json.cadence\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "apify-wire-aggregate-journey_b_onboard",
      "name": "[APIFY-WIRE] Aggregate Service responses (journey_b_onboard)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        650
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = { total_calls: items.length, successes: 0, errors: 0, skipped_gate: 0, by_function: {} };\nfor (const it of items) {\n  const r = it.json || {};\n  const fn = r.apify_function || 'unknown';\n  summary.by_function[fn] = (summary.by_function[fn] || 0) + 1;\n  if (r.status === 'skipped' || r.skip_reason) summary.skipped_gate++;\n  else if (r.success === false || r.error) summary.errors++;\n  else summary.successes++;\n}\nreturn [{ json: { scope: 'journey_b_onboard', destination_table: 'client_competitive_landscape', summary, ran_at: new Date().toISOString() } }];"
      }
    }
  ],
  "connections": {
    "Journey B entry (from Master Orchestrator)": {
      "main": [
        [
          {
            "node": "Step 1 · onboarding-specialist intake form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1 · onboarding-specialist intake form": {
      "main": [
        [
          {
            "node": "Step 1b · brain ingest · intake form v0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 · wait for intake form completion (persist+resume)": {
      "main": [
        [
          {
            "node": "Step 4 · customer-research ICP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 3 · brand-strategist auto-generate Brand Book v0": {
      "main": [
        [
          {
            "node": "Step 6 · populate Client Brain (5 tablas)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4 · customer-research ICP": {
      "main": [
        [
          {
            "node": "Step 4b · brain ingest · ICP v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5 · competitive-intelligence landscape mapping": {
      "main": [
        [
          {
            "node": "Step 5b · brain ingest · competitive v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 6 · populate Client Brain (5 tablas)": {
      "main": [
        [
          {
            "node": "Step 7 · web-designer · Notion workspace setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 7 · web-designer · Notion workspace setup": {
      "main": [
        [
          {
            "node": "Step 8 · Notion API · crear workspace real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 8 · Notion API · crear workspace real": {
      "main": [
        [
          {
            "node": "Step 8.1 · Notion subpage · Brand Book v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 9 · sales-enablement · kickoff deck": {
      "main": [
        [
          {
            "node": "Step 9.1 · Notion subpage · Kickoff Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 10 · HITL · Brand Book + KPIs validation (Emilio + Cliente)": {
      "main": [
        [
          {
            "node": "Step 10b · E-009 IF edit_iteration_count >= 2 THEN escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 10b · E-009 IF edit_iteration_count >= 2 THEN escalate": {
      "main": [
        [
          {
            "node": "Step 10c · escalate to jefe-client-success (max edits)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step 11 · resume after approval (persist+resume)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 11 · resume after approval (persist+resume)": {
      "main": [
        [
          {
            "node": "Step 12 · jefe-marketing · first sprint plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 12 · jefe-marketing · first sprint plan": {
      "main": [
        [
          {
            "node": "Step 12.1 · Notion subpage · Plan Primer Sprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 13 · mark cliente ACTIVO · trigger Journey C + D": {
      "main": [
        [
          {
            "node": "Step 14 · auto-trigger Journey C (first campaign)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Step 15 · callback to Master Orchestrator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1b · brain ingest · intake form v0": {
      "main": [
        [
          {
            "node": "Step 2 · wait for intake form completion (persist+resume)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 4b · brain ingest · ICP v1": {
      "main": [
        [
          {
            "node": "Step 5 · competitive-intelligence landscape mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 5b · brain ingest · competitive v2": {
      "main": [
        [
          {
            "node": "Step 3 · brand-strategist auto-generate Brand Book v0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 8.1 · Notion subpage · Brand Book v1": {
      "main": [
        [
          {
            "node": "Step 8.2 · Notion subpage · ICP Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 8.2 · Notion subpage · ICP Document": {
      "main": [
        [
          {
            "node": "Step 8.3 · Notion subpage · Análisis Competitivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 8.3 · Notion subpage · Análisis Competitivo": {
      "main": [
        [
          {
            "node": "Step 9 · sales-enablement · kickoff deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 9.1 · Notion subpage · Kickoff Deck": {
      "main": [
        [
          {
            "node": "Step 10 · HITL · Brand Book + KPIs validation (Emilio + Cliente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 12.1 · Notion subpage · Plan Primer Sprint": {
      "main": [
        [
          {
            "node": "Step 13 · mark cliente ACTIVO · trigger Journey C + D",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Load active clients with apify enabled (journey_b_onboard)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Split per cliente (journey_b_onboard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Split per cliente (journey_b_onboard)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Filter functions for journey_b_onboard scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Filter functions for journey_b_onboard scope": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Split per function (journey_b_onboard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Split per function (journey_b_onboard)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Call Apify Service Workflow (journey_b_onboard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Call Apify Service Workflow (journey_b_onboard)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Aggregate Service responses (journey_b_onboard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "nodeGroups": [],
  "activeVersionId": "8680315d-6546-4d17-bdda-aeba83548bc2",
  "versionCounter": 105,
  "activeVersion": {
    "updatedAt": "2026-05-25T20:06:08.008Z",
    "createdAt": "2026-05-25T20:06:08.008Z",
    "versionId": "8680315d-6546-4d17-bdda-aeba83548bc2",
    "workflowId": "RwUo7G2PmZNqyMbe",
    "nodes": [
      {
        "id": "journey-entry",
        "name": "Journey B entry (from Master Orchestrator)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          100,
          100
        ],
        "parameters": {
          "path": "journey-b-onboard",
          "responseMode": "onReceived",
          "httpMethod": "POST"
        },
        "webhookId": "74fd0dbc-d2e6-4ab6-b21a-b464fafaef6b"
      },
      {
        "id": "step-1-intake",
        "name": "Step 1 · onboarding-specialist intake form",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          300,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
          "jsonBody": "={\n  \"agent\": \"onboarding-specialist\",\n  \"task\": \"Generar intake form personalizado para nuevo cliente {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} · industria + tamaño + objetivos preliminares\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\",\n  \"context\": { \"phase\": \"INTAKE\", \"journey_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body._journey_id  }}\" }\n}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{  $env.INTERNAL_API_KEY  }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "options": {
            "timeout": 900000,
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        }
      },
      {
        "id": "step-2-wait-intake-response",
        "name": "Step 2 · wait for intake form completion (persist+resume)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          500,
          100
        ],
        "parameters": {}
      },
      {
        "id": "step-3-auto-brand-book",
        "name": "Step 3 · brand-strategist auto-generate Brand Book v0",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          700,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
          "jsonBody": "={{ JSON.stringify({\n  agent: \"brand-strategist\",\n  task: \"Auto-generar Brand Book v1 INFORMED para cliente \" + $('Journey B entry (from Master Orchestrator)').first().json.body.client_id + \". Tu cliente tiene brain RAG enriquecido con intake form (v0) + ICP customer research (v1) + competitive landscape (v2) · usa brainEnrichment para construir Brand Book informed que diferencia del competitive landscape y resuena con ICP. Output: voice, tone, positioning, forbidden_words, required_terminology, visual identity. Scrape web cliente: \" + $('Journey B entry (from Master Orchestrator)').first().json.body.params.client_website_url,\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  workflow_id: $workflow.id,\n  workflow_execution_id: $execution.id,\n  context: {\n    phase: \"AUTO_BRAND_BOOK_V1_INFORMED\",\n    client_website_url: $('Journey B entry (from Master Orchestrator)').first().json.body.params.client_website_url,\n    brain_pipeline_state: \"v0+v1+v2 ingested · brand-strategist reads via brainEnrichment\"\n  }\n}) }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{  $env.INTERNAL_API_KEY  }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "options": {
            "timeout": 900000
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 30000,
        "notes": "Sprint 8D retry resilience CC#3 2026-05-25 · retryOnFail=true maxTries=3 wait=30s · transparent retry de Railway 502/ECONNRESET transient crashes per brand-strategist reliability fix"
      },
      {
        "id": "step-4-icp-definition",
        "name": "Step 4 · customer-research ICP",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
          "jsonBody": "={\n  \"agent\": \"customer-research\",\n  \"task\": \"Generar ICP document v0 basado en intake responses + scrapeo web · 1-3 audience segments · JTBD + objeciones\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{  $env.INTERNAL_API_KEY  }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "options": {
            "timeout": 900000
          }
        }
      },
      {
        "id": "step-5-competitive-landscape",
        "name": "Step 5 · competitive-intelligence landscape mapping",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
          "jsonBody": "={\n  \"agent\": \"competitive-intelligence-agent\",\n  \"task\": \"5-layer competitive landscape para {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} en su vertical · top 5 competidores identificados + diferenciación + ad library audit\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{  $env.INTERNAL_API_KEY  }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "options": {
            "timeout": 900000
          }
        }
      },
      {
        "id": "step-6-populate-client-brain",
        "name": "Step 6 · populate Client Brain (5 tablas)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1300,
          100
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/brain/ingest-source",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"client_id\": \"{{ $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"source_table\": \"client_brand_books\",\n  \"source_id\": \"{{ $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"sections\": [\n    {\n      \"section_label\": \"brand_book_v1\",\n      \"text\": {{ JSON.stringify(($node['Step 3 · brand-strategist auto-generate Brand Book v0'].json && $node['Step 3 · brand-strategist auto-generate Brand Book v0'].json.response) || 'Brand book pending · onboarding-specialist did not return response.') }}\n    }\n  ],\n  \"metadata\": {\n    \"ingested_via\": \"journey-b-step-6\",\n    \"journey_id\": \"{{ $json._journey_id }}\",\n    \"brain_stage\": \"v3\",\n    \"source_step\": \"step-3-brand-strategist-informed\",\n    \"sprint\": \"8d-gap-4-wire-in-plus-reorder-plus-cumulative\"\n  }\n}",
          "options": {
            "timeout": 30000
          }
        },
        "notes": "Sprint 8D Gap 4 wire-in · 2026-05-25 CC#3 · was noOp · now invokes /api/brain/ingest-source with Step 3 brand_book response · ICP + competitive ingest pending Sprint 9 enhancement (Step 6b/6c)"
      },
      {
        "id": "step-7-notion-workspace",
        "name": "Step 7 · web-designer · Notion workspace setup",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1500,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
          "jsonBody": "={\n  \"agent\": \"web-designer\",\n  \"task\": \"Diseñar layout Notion workspace para {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} · sections: Brand Book · Campaigns · Reports · Files · Communication\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{  $env.INTERNAL_API_KEY  }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "options": {
            "timeout": 900000
          }
        }
      },
      {
        "id": "step-8-notion-create",
        "name": "Step 8 · Notion API · crear workspace real",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1700,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app'  }}/api/notion/create-client-workspace",
          "jsonBody": "={\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"client_name\": \"{{  ($('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief && ($('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief.client_name || $('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief.company)) || ('Cliente · ' + $('Journey B entry (from Master Orchestrator)').first().json.body.client_id)  }}\",\n  \"industry\": \"{{  ($('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief && $('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief.industry) || ''  }}\",\n  \"primary_contact\": \"{{  ($('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief && $('Journey B entry (from Master Orchestrator)').first().json.body.campaign_brief.primary_contact) || ''  }}\",\n  \"onboarding_notes\": \"Workspace creado automáticamente por Journey B Step 8 (Sprint 8D dual-mode refactor 2026-05-25 CC#2) · journey_id {{  $('Journey B entry (from Master Orchestrator)').first().json.body._journey_id  }} · trigger {{  $('Journey B entry (from Master Orchestrator)').first().json.body.trigger_source  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{  $env.INTERNAL_API_KEY  }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "options": {
            "timeout": 30000
          }
        }
      },
      {
        "id": "step-9-kickoff-deck",
        "name": "Step 9 · sales-enablement · kickoff deck",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1900,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
          "jsonBody": "={\n  \"agent\": \"sales-enablement\",\n  \"task\": \"Generar kickoff deck para {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} · slides: vision · KPIs propuestos · timeline · sprint 1 plan · communication cadence\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{  $env.INTERNAL_API_KEY  }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "options": {
            "timeout": 900000
          }
        }
      },
      {
        "id": "step-10-hitl-brand-book-validation",
        "name": "Step 10 · HITL · Brand Book + KPIs validation (Emilio + Cliente)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2100,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.MC_BASE_URL  }}/api/inbox?masterPassword={{  $env.MC_API_TOKEN  }}",
          "jsonBody": "={\n  \"from\": \"journey-b-onboard\",\n  \"to\": \"approval_required\",\n  \"type\": \"approval\",\n  \"subject\": \"Brand Book v0 + Kickoff deck para {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} · validar antes de presentar al cliente\",\n  \"body\": \"Auto-generated · review needed before client kickoff call\",\n  \"requires_response\": true,\n  \"items\": [\n    { \"type\": \"brand_book\", \"link\": \"...\" },\n    { \"type\": \"icp\", \"link\": \"...\" },\n    { \"type\": \"competitive\", \"link\": \"...\" },\n    { \"type\": \"kickoff_deck\", \"link\": \"...\" }\n  ]\n}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json"
        }
      },
      {
        "id": "step-10b-max-iterations-check",
        "name": "Step 10b · E-009 IF edit_iteration_count >= 2 THEN escalate",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2200,
          200
        ],
        "parameters": {
          "conditions": {
            "conditions": [
              {
                "leftValue": "={{  $json.edit_iteration_count || 0  }}",
                "rightValue": 2,
                "operator": {
                  "type": "number",
                  "operation": "greaterThanOrEqual"
                }
              }
            ]
          }
        }
      },
      {
        "id": "step-10c-escalate-jefe-cs",
        "name": "Step 10c · escalate to jefe-client-success (max edits)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2400,
          200
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.MC_BASE_URL  }}/api/inbox?masterPassword={{  $env.MC_API_TOKEN  }}",
          "jsonBody": "={\n  \"from\": \"journey-b-onboard\",\n  \"to\": \"jefe-client-success\",\n  \"type\": \"escalation\",\n  \"subject\": \"Brand Book edit loop max · cliente {{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }} requiere intervención\",\n  \"body\": \"Cliente solicitó {{  $json.edit_iteration_count  }} edits. Max 2 permitido. Escalating para resolver.\"\n}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json"
        }
      },
      {
        "id": "step-11-resume-after-approval",
        "name": "Step 11 · resume after approval (persist+resume)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2300,
          100
        ],
        "parameters": {}
      },
      {
        "id": "step-12-first-sprint-plan",
        "name": "Step 12 · jefe-marketing · first sprint plan",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2500,
          100
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.RAILWAY_AGENT_RUNNER_URL || 'https://zero-risk-platform-production.up.railway.app'  }}/run-sdk",
          "jsonBody": "={\n  \"agent\": \"jefe-marketing\",\n  \"task\": \"Producir plan del primer sprint · 2-3 deliverables iniciales · deadlines · agentes asignados\",\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"workflow_id\": \"{{  $workflow.id  }}\",\n  \"workflow_execution_id\": \"{{  $execution.id  }}\"\n}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{  $env.INTERNAL_API_KEY  }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "options": {
            "timeout": 900000
          }
        }
      },
      {
        "id": "step-13-mark-active",
        "name": "Step 13 · mark cliente ACTIVO · trigger Journey C + D",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2700,
          100
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{  $env.NEXT_PUBLIC_SUPABASE_URL  }}/rest/v1/clients?id=eq.{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}",
          "jsonBody": "={ \"status\": \"active\", \"onboarded_at\": \"{{  $now  }}\" }",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          }
        }
      },
      {
        "id": "step-14-trigger-journey-c",
        "name": "Step 14 · auto-trigger Journey C (first campaign)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2900,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "={{  $env.N8N_BASE_URL  }}/webhook/journey-dispatch",
          "jsonBody": "={\n  \"client_id\": \"{{  $('Journey B entry (from Master Orchestrator)').first().json.body.client_id  }}\",\n  \"journey\": \"PRODUCE\",\n  \"trigger_type\": \"automatic_post_onboard\",\n  \"params\": {{  JSON.stringify($node['Step 12 · jefe-marketing · first sprint plan'].json.first_campaign_brief)  }}\n}",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json"
        }
      },
      {
        "id": "step-15-callback-master",
        "name": "Step 15 · callback to Master Orchestrator",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2900,
          200
        ],
        "parameters": {
          "method": "PATCH",
          "url": "={{  $env.NEXT_PUBLIC_SUPABASE_URL  }}/rest/v1/client_journey_state?id=eq.{{  $('Journey B entry (from Master Orchestrator)').first().json.body._journey_id  }}",
          "jsonBody": "={ \"status\": \"completed\", \"completed_at\": \"{{  $now  }}\" }",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      {
        "id": "step-1b-brain-ingest-intake-v0",
        "name": "Step 1b · brain ingest · intake form v0",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          250
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/brain/ingest-source",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"source_table\": \"client_historical_outputs\",\n  \"source_id\": \"{{ $json._journey_id || $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"sections\": [\n    {\n      \"section_label\": \"intake_form_v0\",\n      \"text\": {{ JSON.stringify(($node['Step 1 · onboarding-specialist intake form'].json && $node['Step 1 · onboarding-specialist intake form'].json.response) || 'step-1-intake pending · upstream agent did not return response.') }}\n    }\n  ],\n  \"metadata\": {\n    \"ingested_via\": \"journey-b-step-1-intake-cumulative-pipeline\",\n    \"journey_id\": \"{{ $json._journey_id }}\",\n    \"brain_stage\": \"v0\",\n    \"source_step\": \"step-1-intake\",\n    \"sprint\": \"8d-fase-1-cuenta-1-cumulative-pipeline\"\n  }\n}",
          "options": {
            "timeout": 60000
          }
        },
        "onError": "continueRegularOutput",
        "notesInFlow": true,
        "notes": "Brain RAG cumulative ingest · stage v0 (step-1-intake). continueOnFail · brain failure does NOT block downstream."
      },
      {
        "id": "step-4b-brain-ingest-icp-v1",
        "name": "Step 4b · brain ingest · ICP v1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1000,
          250
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/brain/ingest-source",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"source_table\": \"client_icp_documents\",\n  \"source_id\": \"{{ $json._journey_id || $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"sections\": [\n    {\n      \"section_label\": \"icp_v1\",\n      \"text\": {{ JSON.stringify(($node['Step 4 · customer-research ICP'].json && $node['Step 4 · customer-research ICP'].json.response) || 'step-4-customer-research pending · upstream agent did not return response.') }}\n    }\n  ],\n  \"metadata\": {\n    \"ingested_via\": \"journey-b-step-4-customer-research-cumulative-pipeline\",\n    \"journey_id\": \"{{ $json._journey_id }}\",\n    \"brain_stage\": \"v1\",\n    \"source_step\": \"step-4-customer-research\",\n    \"sprint\": \"8d-fase-1-cuenta-1-cumulative-pipeline\"\n  }\n}",
          "options": {
            "timeout": 60000
          }
        },
        "onError": "continueRegularOutput",
        "notesInFlow": true,
        "notes": "Brain RAG cumulative ingest · stage v1 (step-4-customer-research). continueOnFail · brain failure does NOT block downstream."
      },
      {
        "id": "step-5b-brain-ingest-competitive-v2",
        "name": "Step 5b · brain ingest · competitive v2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          250
        ],
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/brain/ingest-source",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"source_table\": \"client_competitive_landscape\",\n  \"source_id\": \"{{ $json._journey_id || $json.client_id || $('Journey B entry (from Master Orchestrator)').first().json.body.client_id }}\",\n  \"sections\": [\n    {\n      \"section_label\": \"competitive_v2\",\n      \"text\": {{ JSON.stringify(($node['Step 5 · competitive-intelligence landscape mapping'].json && $node['Step 5 · competitive-intelligence landscape mapping'].json.response) || 'step-5-competitive pending · upstream agent did not return response.') }}\n    }\n  ],\n  \"metadata\": {\n    \"ingested_via\": \"journey-b-step-5-competitive-cumulative-pipeline\",\n    \"journey_id\": \"{{ $json._journey_id }}\",\n    \"brain_stage\": \"v2\",\n    \"source_step\": \"step-5-competitive\",\n    \"sprint\": \"8d-fase-1-cuenta-1-cumulative-pipeline\"\n  }\n}",
          "options": {
            "timeout": 60000
          }
        },
        "onError": "continueRegularOutput",
        "notesInFlow": true,
        "notes": "Brain RAG cumulative ingest · stage v2 (step-5-competitive). continueOnFail · brain failure does NOT block downstream."
      },
      {
        "id": "step-8-1-subpage-brand-book",
        "name": "Step 8.1 · Notion subpage · Brand Book v1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1200,
          -100
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'brand-strategist',\n  title: 'Brand Book · canonical v1',\n  content_markdown: ($node['Step 3 · brand-strategist auto-generate Brand Book v0'].json && $node['Step 3 · brand-strategist auto-generate Brand Book v0'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'brand_book_v1'\n}) }}",
          "options": {
            "timeout": 30000
          }
        },
        "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 3 · brand-strategist auto-generate Brand Book v0 · NOT downstream-blocking per audit SAFE"
      },
      {
        "id": "step-8-2-subpage-icp",
        "name": "Step 8.2 · Notion subpage · ICP Document",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1000,
          -100
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'customer-research',\n  title: 'ICP Document · canonical',\n  content_markdown: ($node['Step 4 · customer-research ICP'].json && $node['Step 4 · customer-research ICP'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'icp_v1'\n}) }}",
          "options": {
            "timeout": 30000
          }
        },
        "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 4 · customer-research ICP · NOT downstream-blocking per audit SAFE"
      },
      {
        "id": "step-8-3-subpage-competitive",
        "name": "Step 8.3 · Notion subpage · Análisis Competitivo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -800,
          -100
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'competitive-intelligence-agent',\n  title: 'Análisis Competitivo · 5 Capas',\n  content_markdown: ($node['Step 5 · competitive-intelligence landscape mapping'].json && $node['Step 5 · competitive-intelligence landscape mapping'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'competitive_v2'\n}) }}",
          "options": {
            "timeout": 30000
          }
        },
        "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 5 · competitive-intelligence landscape mapping · NOT downstream-blocking per audit SAFE"
      },
      {
        "id": "step-9-1-subpage-kickoff",
        "name": "Step 9.1 · Notion subpage · Kickoff Deck",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -400,
          -100
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'sales-enablement',\n  title: 'Kickoff Deck · canonical',\n  content_markdown: ($node['Step 9 · sales-enablement · kickoff deck'].json && $node['Step 9 · sales-enablement · kickoff deck'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'kickoff_deck'\n}) }}",
          "options": {
            "timeout": 30000
          }
        },
        "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 9 · sales-enablement · kickoff deck · NOT downstream-blocking per audit SAFE"
      },
      {
        "id": "step-12-1-subpage-sprint-plan",
        "name": "Step 12.1 · Notion subpage · Plan Primer Sprint",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          -100
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-agent-output-subpage",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  workspace_id: $node['Step 8 · Notion API · crear workspace real'].json.workspace_id,\n  agent_slug: 'jefe-marketing',\n  title: 'Plan Primer Sprint · canonical',\n  content_markdown: ($node['Step 12 · jefe-marketing · first sprint plan'].json && $node['Step 12 · jefe-marketing · first sprint plan'].json.response) || '(no output canonical)',\n  client_id: $('Journey B entry (from Master Orchestrator)').first().json.body.client_id,\n  section_label: 'first_sprint_plan'\n}) }}",
          "options": {
            "timeout": 30000
          }
        },
        "notes": "Sprint 8D Journey B Notion subpages · CC#3 2026-05-25 · continueOnFail canonical · sources output from Step 12 · jefe-marketing · first sprint plan · NOT downstream-blocking per audit SAFE"
      },
      {
        "id": "apify-wire-load-clients-journey_b_onboard",
        "name": "[APIFY-WIRE] Load active clients with apify enabled (journey_b_onboard)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          650
        ],
        "parameters": {
          "method": "GET",
          "url": "https://ordaeyxvvvdqsznsecjx.supabase.co/rest/v1/clients?status=eq.active&select=id,name,slug,config&config->apify->enabled=eq.true",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 30000
      },
      {
        "id": "apify-wire-split-clients-journey_b_onboard",
        "name": "[APIFY-WIRE] Split per cliente (journey_b_onboard)",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          600,
          650
        ],
        "parameters": {
          "fieldToSplitOut": "data",
          "options": {}
        }
      },
      {
        "id": "apify-wire-filter-functions-journey_b_onboard",
        "name": "[APIFY-WIRE] Filter functions for journey_b_onboard scope",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          650
        ],
        "parameters": {
          "jsCode": "const cliente = $input.item.json;\nconst cron = (cliente.config && cliente.config.apify && cliente.config.apify.cron_cadence_per_function) || {};\nconst tier = (cliente.config && cliente.config.apify && cliente.config.apify.plan_tier) || 'basic';\nconst scopeFunctions = [\"instagram_scraper\",\"facebook_ads_library_scraper\",\"linkedin_company_scraper\"];\nconst activas = scopeFunctions.filter(fn => cron[fn] != null);\nreturn activas.map(fn => ({\n  json: { client_id: cliente.id, client_name: cliente.name, apify_function: fn, cadence: cron[fn], tier }\n}));"
        }
      },
      {
        "id": "apify-wire-split-functions-journey_b_onboard",
        "name": "[APIFY-WIRE] Split per function (journey_b_onboard)",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1000,
          650
        ],
        "parameters": {
          "batchSize": 1,
          "options": {}
        }
      },
      {
        "id": "apify-wire-call-service-journey_b_onboard",
        "name": "[APIFY-WIRE] Call Apify Service Workflow (journey_b_onboard)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          650
        ],
        "parameters": {
          "method": "POST",
          "url": "https://n8n-production-72be.up.railway.app/webhook/apify-service-workflow",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  client_id: $json.client_id,\n  apify_function: $json.apify_function,\n  destination: \"brain_rag\",\n  dry_run: true,\n  source_table: \"client_competitive_landscape\",\n  metadata: {\n    calling_workflow_id: $workflow.id,\n    calling_workflow_execution_id: $execution.id,\n    scope: \"journey_b_onboard\",\n    sprint: \"9-cleanup-wire-6-critical-journey-b-DISCONNECTED-alta-sensibilidad\",\n    tier: $json.tier,\n    cadence: $json.cadence\n  }\n}) }}",
          "options": {
            "timeout": 120000
          }
        },
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 30000,
        "onError": "continueRegularOutput"
      },
      {
        "id": "apify-wire-aggregate-journey_b_onboard",
        "name": "[APIFY-WIRE] Aggregate Service responses (journey_b_onboard)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1400,
          650
        ],
        "parameters": {
          "jsCode": "const items = $input.all();\nconst summary = { total_calls: items.length, successes: 0, errors: 0, skipped_gate: 0, by_function: {} };\nfor (const it of items) {\n  const r = it.json || {};\n  const fn = r.apify_function || 'unknown';\n  summary.by_function[fn] = (summary.by_function[fn] || 0) + 1;\n  if (r.status === 'skipped' || r.skip_reason) summary.skipped_gate++;\n  else if (r.success === false || r.error) summary.errors++;\n  else summary.successes++;\n}\nreturn [{ json: { scope: 'journey_b_onboard', destination_table: 'client_competitive_landscape', summary, ran_at: new Date().toISOString() } }];"
        }
      }
    ],
    "connections": {
      "Journey B entry (from Master Orchestrator)": {
        "main": [
          [
            {
              "node": "Step 1 · onboarding-specialist intake form",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 1 · onboarding-specialist intake form": {
        "main": [
          [
            {
              "node": "Step 1b · brain ingest · intake form v0",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 2 · wait for intake form completion (persist+resume)": {
        "main": [
          [
            {
              "node": "Step 4 · customer-research ICP",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 3 · brand-strategist auto-generate Brand Book v0": {
        "main": [
          [
            {
              "node": "Step 6 · populate Client Brain (5 tablas)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 4 · customer-research ICP": {
        "main": [
          [
            {
              "node": "Step 4b · brain ingest · ICP v1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 5 · competitive-intelligence landscape mapping": {
        "main": [
          [
            {
              "node": "Step 5b · brain ingest · competitive v2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 6 · populate Client Brain (5 tablas)": {
        "main": [
          [
            {
              "node": "Step 7 · web-designer · Notion workspace setup",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 7 · web-designer · Notion workspace setup": {
        "main": [
          [
            {
              "node": "Step 8 · Notion API · crear workspace real",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 8 · Notion API · crear workspace real": {
        "main": [
          [
            {
              "node": "Step 8.1 · Notion subpage · Brand Book v1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 9 · sales-enablement · kickoff deck": {
        "main": [
          [
            {
              "node": "Step 9.1 · Notion subpage · Kickoff Deck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 10 · HITL · Brand Book + KPIs validation (Emilio + Cliente)": {
        "main": [
          [
            {
              "node": "Step 10b · E-009 IF edit_iteration_count >= 2 THEN escalate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 10b · E-009 IF edit_iteration_count >= 2 THEN escalate": {
        "main": [
          [
            {
              "node": "Step 10c · escalate to jefe-client-success (max edits)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Step 11 · resume after approval (persist+resume)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 11 · resume after approval (persist+resume)": {
        "main": [
          [
            {
              "node": "Step 12 · jefe-marketing · first sprint plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 12 · jefe-marketing · first sprint plan": {
        "main": [
          [
            {
              "node": "Step 12.1 · Notion subpage · Plan Primer Sprint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 13 · mark cliente ACTIVO · trigger Journey C + D": {
        "main": [
          [
            {
              "node": "Step 14 · auto-trigger Journey C (first campaign)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Step 15 · callback to Master Orchestrator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 1b · brain ingest · intake form v0": {
        "main": [
          [
            {
              "node": "Step 2 · wait for intake form completion (persist+resume)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 4b · brain ingest · ICP v1": {
        "main": [
          [
            {
              "node": "Step 5 · competitive-intelligence landscape mapping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 5b · brain ingest · competitive v2": {
        "main": [
          [
            {
              "node": "Step 3 · brand-strategist auto-generate Brand Book v0",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 8.1 · Notion subpage · Brand Book v1": {
        "main": [
          [
            {
              "node": "Step 8.2 · Notion subpage · ICP Document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 8.2 · Notion subpage · ICP Document": {
        "main": [
          [
            {
              "node": "Step 8.3 · Notion subpage · Análisis Competitivo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 8.3 · Notion subpage · Análisis Competitivo": {
        "main": [
          [
            {
              "node": "Step 9 · sales-enablement · kickoff deck",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 9.1 · Notion subpage · Kickoff Deck": {
        "main": [
          [
            {
              "node": "Step 10 · HITL · Brand Book + KPIs validation (Emilio + Cliente)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 12.1 · Notion subpage · Plan Primer Sprint": {
        "main": [
          [
            {
              "node": "Step 13 · mark cliente ACTIVO · trigger Journey C + D",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[APIFY-WIRE] Load active clients with apify enabled (journey_b_onboard)": {
        "main": [
          [
            {
              "node": "[APIFY-WIRE] Split per cliente (journey_b_onboard)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[APIFY-WIRE] Split per cliente (journey_b_onboard)": {
        "main": [
          [
            {
              "node": "[APIFY-WIRE] Filter functions for journey_b_onboard scope",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[APIFY-WIRE] Filter functions for journey_b_onboard scope": {
        "main": [
          [
            {
              "node": "[APIFY-WIRE] Split per function (journey_b_onboard)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[APIFY-WIRE] Split per function (journey_b_onboard)": {
        "main": [
          [
            {
              "node": "[APIFY-WIRE] Call Apify Service Workflow (journey_b_onboard)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "[APIFY-WIRE] Call Apify Service Workflow (journey_b_onboard)": {
        "main": [
          [
            {
              "node": "[APIFY-WIRE] Aggregate Service responses (journey_b_onboard)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Emilio  Perez ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-25T20:06:08.352Z",
        "id": 1132,
        "workflowId": "RwUo7G2PmZNqyMbe",
        "versionId": "8680315d-6546-4d17-bdda-aeba83548bc2",
        "event": "deactivated",
        "userId": "1a2877ea-d537-4ccd-9acb-0d9187da6327"
      },
      {
        "createdAt": "2026-05-25T20:06:08.521Z",
        "id": 1133,
        "workflowId": "RwUo7G2PmZNqyMbe",
        "versionId": "8680315d-6546-4d17-bdda-aeba83548bc2",
        "event": "activated",
        "userId": "1a2877ea-d537-4ccd-9acb-0d9187da6327"
      }
    ]
  }
}