scripts/worker-staging/LyVoKcrypS5uLyuu/brand-book-track/isolated-smoke.json
{
  "name": "Zero Risk — Brand Book · SMOKE AISLADO (track only · CC#4)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zero-risk/bb-isolated-smoke",
        "responseMode": "onReceived"
      },
      "id": "iso-trigger",
      "name": "Webhook · smoke trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { client_id: \"d69100b5-8ad7-4bb0-908c-68b5544065dc\", client_name: 'Náufrago', industry: 'restaurante / hospitality', website: 'https://www.instagram.com/naufrago.ec/' } }];"
      },
      "id": "iso-validate",
      "name": "Validate Deal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { client_id: \"d69100b5-8ad7-4bb0-908c-68b5544065dc\", discovery_package: {} } }];"
      },
      "id": "iso-confirm",
      "name": "Confirm barato · competitor list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Brand Book · Fan-out prep · paso 2 · arma el grounding compartido para las 3\r\n// lentes (brand-strategist · editor-en-jefe · jefe-client-success). Corre DESPUÉS\r\n// de FASE 2 (Aggregate Apify listo) · fuera del gate Camino III. NO INSERT.\r\n\r\nconst dealData = $('Validate Deal Data').first().json;\r\nconst clientId = dealData.client_id;\r\nconst discoveryPkg =\r\n  ($('Confirm barato · competitor list').first().json.discovery_package) || {};\r\nconst apifyAgg = (() => {\r\n  try { return $('[APIFY-WIRE] Aggregate Service responses (onboarding_e2e)').first().json; }\r\n  catch (e) { return {}; }\r\n})();\r\n\r\n// Evidencia real ya en el brain · es el grounding de las 3 lentes (cero invención).\r\nconst grounding = {\r\n  client_id: clientId,\r\n  client_name: dealData.client_name,\r\n  industry: dealData.industry,\r\n  website: dealData.website,\r\n  discovery_summary: discoveryPkg.discovery_summary || '',\r\n  competitors: (discoveryPkg.competitors || []).slice(0, 8),\r\n  icp_signals: discoveryPkg.icp_signals || discoveryPkg.icp || null,\r\n  apify_sources: (apifyAgg.sources || apifyAgg.results || []).slice(0, 10),\r\n};\r\n\r\n// Un item por lente · cada uno con su task scoped a su skill (disciplina de fan-out:\r\n// solo los 3 contribuyentes relevantes · NO los 38 · §150).\r\nconst base =\r\n  'Construí TU sección del brand book SOLO desde la evidencia real del cliente abajo ' +\r\n  '(web/redes/discovery/Apify). NO inventes. CUANDO TENGAS TU SECCIÓN LISTA, LLAMÁ EL TOOL ' +\r\n  '`emit_brand_section` con tus campos (pasá `lens` con tu nombre de lente). NO narres la ' +\r\n  'respuesta · usá el tool · es la ÚNICA forma en que tu sección llega al consolidador. ' +\r\n  // FIX 2026-07-01 (límite 8000 chars run-sdk) · grounding 8000→6800 · deja margen\r\n  // para la prosa base + la instrucción de sección · el guard final garantiza ≤7900.\r\n  'Grounding cada afirmación en la evidencia.\\n\\nEVIDENCIA:\\n' +\r\n  JSON.stringify(grounding).slice(0, 6800);\r\n\r\n// guard final · run-sdk rechaza task > 8000 chars (E-INPUT-INVALID) · garantiza ≤7900.\r\nconst cap = (t) => t.slice(0, 7900);\r\nconst lenses = [\r\n  { lens: 'brand-strategist', agent: 'brand-strategist',\r\n    task: cap(base + '\\n\\nTU SECCIÓN: positioning + icp (audience_segment, pains, goals).') },\r\n  { lens: 'editor-en-jefe', agent: 'editor-en-jefe',\r\n    task: cap(base + '\\n\\nTU SECCIÓN: voice_description + forbidden_words[] + required_terminology[].') },\r\n  { lens: 'jefe-client-success', agent: 'jefe-client-success',\r\n    task: cap(base + '\\n\\nTU SECCIÓN: customer_angle + retention_notes.') },\r\n];\r\n\r\n// FIX-FORWARD 2026-06-30 (Fix B · fan-out routing) · emití UN solo item con las\r\n// 3 tasks keyed por lente · cada nodo-lente lee SU task ($json.tasks.<lente>).\r\n// Antes emitía 3 items → n8n mandaba los 3 a cada nodo → mis-routing (solo 1\r\n// lente emitía · exec 41641). Un item = cada lente corre 1 vez con su task.\r\nconst tasks = {\r\n  'brand-strategist': lenses[0].task,\r\n  'editor-en-jefe': lenses[1].task,\r\n  'jefe-client-success': lenses[2].task,\r\n};\r\nreturn [{ json: { tasks, client_id: clientId, _grounding_refs: grounding } }];\r\n"
      },
      "id": "bb--bb-fan-out-prep",
      "name": "[BB] Fan-out prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"brand-strategist\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"step_name\": \"bb-lens-brand-strategist\",\n  \"task\": {{ JSON.stringify($json.tasks['brand-strategist']) }},\n  \"context\": { \"role\": \"brand_book_lens\", \"lens\": \"brand-strategist\" }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 800000
        }
      },
      "id": "bb-lens-brand-strategist",
      "name": "Lente · brand-strategist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"editor-en-jefe\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"step_name\": \"bb-lens-editor-en-jefe\",\n  \"task\": {{ JSON.stringify($json.tasks['editor-en-jefe']) }},\n  \"context\": { \"role\": \"brand_book_lens\", \"lens\": \"editor-en-jefe\" }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 800000
        }
      },
      "id": "bb-lens-editor-en-jefe",
      "name": "Lente · editor-en-jefe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        1800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"jefe-client-success\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"step_name\": \"bb-lens-jefe-client-success\",\n  \"task\": {{ JSON.stringify($json.tasks['jefe-client-success']) }},\n  \"context\": { \"role\": \"brand_book_lens\", \"lens\": \"jefe-client-success\" }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 800000
        }
      },
      "id": "bb-lens-jefe-client-success",
      "name": "Lente · jefe-client-success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        2000
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "bb-merge-lentes",
      "name": "[BB] Merge lentes (esperar 3)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        820,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Brand Book · Consolidador (maker) · paso 3 + re-síntesis del lazo A (paso 4)\r\n// Funde las 3 lentes de los jefes en UN brand_book_draft · cada campo grounded\r\n// en evidencia real (discovery_summary + ICP + competitive del brain). NO INSERT.\r\n//\r\n// Inputs (vía $items / referencias de nodos):\r\n//   - brand-strategist  → posicionamiento + ICP\r\n//   - editor-en-jefe    → voz/tono + forbidden_words + required_terminology\r\n//   - jefe-client-success → ángulo cliente / retención\r\n//   - corrections (opcional · lazo A) → array de {eje,severidad,donde,problema,cambio_sugerido}\r\n//\r\n// Output: { brand_book_draft, cycle, _grounding_refs }\r\n\r\nconst dealData = $('Validate Deal Data').first().json;\r\nconst clientId = dealData.client_id;\r\n\r\n// Cada lente llega como respuesta run-sdk · tomamos su `response` (texto) o\r\n// `structured` si el agente emitió JSON. Defensive · floors seguros.\r\nfunction lensOutput(nodeName) {\r\n  try {\r\n    const j = $(nodeName).first().json;\r\n    const body = j.body || j;\r\n    // CANON · la lente emite su sección vía emit_brand_section · el run-sdk la\r\n    // surface en body.brand_section (estructurado · NO texto narrativo).\r\n    // Fallbacks defensivos: intenta parsear JSON del response si por algún\r\n    // motivo el tool no fue capturado (degradación graceful).\r\n    let structured = body.brand_section || body.structured || null;\r\n    if (!structured && typeof body.response === 'string') {\r\n      const m = body.response.match(/\\{[\\s\\S]*\\}/);\r\n      if (m) { try { structured = JSON.parse(m[0]); } catch (e) {} }\r\n    }\r\n    return {\r\n      structured: structured || null,\r\n      text: typeof body.response === 'string' ? body.response : '',\r\n    };\r\n  } catch (e) {\r\n    return { structured: null, text: '' };\r\n  }\r\n}\r\n\r\nconst strat = lensOutput('Lente · brand-strategist');\r\nconst editor = lensOutput('Lente · editor-en-jefe');\r\nconst cs = lensOutput('Lente · jefe-client-success');\r\n\r\n// Correcciones acumuladas del lazo A (si venimos de una re-síntesis).\r\nlet corrections = [];\r\ntry {\r\n  corrections = $json.corrections || $json.staging_package?.corrections || [];\r\n} catch (e) { corrections = []; }\r\nconst cycle = (Number($json.cycle) || 0) + 1;\r\n// FIX 2026-06-30 (Bug 1 · loop infinito) · contador de fidelidad INDEPENDIENTE del\r\n// `cycle` del Lazo A (que el sub-wf resetea con su ciclo interno). Se incrementa\r\n// cada vez que el consolidador corre = cada iteración del loop de fidelidad del\r\n// worker principal. El IF · ciclos agotados hace hard-cap sobre ESTE contador.\r\nconst fidelityCycle = (Number($json._fidelity_cycle) || 0) + 1;\r\n\r\n// pick · usa structured cuando exista, fallback a texto.\r\nconst pick = (lens, key) =>\r\n  (lens.structured && lens.structured[key]) || lens.text || '';\r\n\r\nconst brandBookDraft = {\r\n  client_id: clientId,\r\n  // posicionamiento + ICP (brand-strategist)\r\n  positioning: pick(strat, 'positioning'),\r\n  icp_summary: pick(strat, 'icp_summary'),\r\n  // voz/tono + reglas (editor-en-jefe)\r\n  voice_description: pick(editor, 'voice_description'),\r\n  forbidden_words: (editor.structured && editor.structured.forbidden_words) || [],\r\n  required_terminology: (editor.structured && editor.structured.required_terminology) || [],\r\n  // ángulo cliente / retención (jefe-client-success)\r\n  customer_angle: pick(cs, 'customer_angle'),\r\n  retention_notes: pick(cs, 'retention_notes'),\r\n  // metadata de build\r\n  _build: {\r\n    source: 'onboarding_collaborative_build',\r\n    lenses: ['brand-strategist', 'editor-en-jefe', 'jefe-client-success'],\r\n    cycle,\r\n    corrections_applied: corrections.length,\r\n  },\r\n};\r\n\r\n// Referencias de grounding · qué evidencia respalda el borrador (para el judge).\r\nconst grounding = {\r\n  discovery_summary:\r\n    ($('Confirm barato · competitor list').first().json.discovery_package || {}).discovery_summary || '',\r\n  client_id: clientId,\r\n};\r\n\r\nreturn [{ json: { brand_book_draft: brandBookDraft, cycle, _fidelity_cycle: fidelityCycle, corrections, _grounding_refs: grounding } }];\r\n"
      },
      "id": "bb--bb-consolidador",
      "name": "[BB] Consolidador",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Brand Book · Judge prep · arma el task de fidelidad + metadata para el nodo HTTP.\r\n// FIX 2026-07-01 (judge no llegaba al runner) · el fetch del Code node NO llegaba\r\n// al runner en el contexto n8n (no creaba fila ni checkpoint → scores 0). Ahora la\r\n// llamada run-sdk se hace en un nodo HTTP Request (timeout 800s + neverError · mismo\r\n// patrón que lentes/revisores que SÍ funcionan). Este nodo solo prepara el task.\r\nconst THRESHOLD = 0.85;\r\nconst inJson = $json;\r\nconst draft = inJson.brand_book_draft || {};\r\nconst grounding = inJson._grounding_refs || {};\r\nconst cycle = Number(inJson.cycle) || 1;\r\nconst fidelityCycle = Number(inJson._fidelity_cycle) || 1;\r\nconst clientId = draft.client_id || $('Validate Deal Data').first().json.client_id;\r\n\r\nconst SCORED_FIELDS = [\r\n  'positioning', 'icp_summary', 'voice_description', 'customer_angle', 'retention_notes',\r\n];\r\nconst fieldsForPrompt = SCORED_FIELDS.map((f) => ({ field: f, value: String(draft[f] || '') }));\r\n\r\n// FIX 2026-07-01 (judge puntuaba 0 · evidencia rota) · construir la EVIDENCIA como\r\n// PROSA LEGIBLE (no JSON.stringify().slice() que cortaba a mitad de estructura · el\r\n// judge no la podía verificar → 0). Con evidencia limpia el mismo agente puntuó 0.92.\r\nconst g = grounding || {};\r\nconst icp = g.icp_signals || g.icp || {};\r\nconst arr = (x) => (Array.isArray(x) ? x : x ? [x] : []);\r\nconst line = (label, v) => {\r\n  const items = arr(v).map((s) => (typeof s === 'string' ? s : (s && (s.name || s.audience_segment)) || '')).filter(Boolean);\r\n  return items.length ? '- ' + label + ': ' + items.slice(0, 8).join(' · ') + '\\n' : '';\r\n};\r\nconst evidencia = (\r\n  'Cliente: ' + (g.client_name || '') + ' · Industria: ' + (g.industry || '') + '\\n' +\r\n  'Resumen de descubrimiento (evidencia real del brain/discovery):\\n' +\r\n  String(g.discovery_summary || '').slice(0, 2200) + '\\n\\n' +\r\n  line('Competidores', (g.competitors || []).map((c) => c.name)) +\r\n  line('Segmentos ICP', icp.segments) +\r\n  line('Dolores', icp.pain_points) +\r\n  line('Objetivos', icp.goals) +\r\n  line('Objeciones', icp.objections) +\r\n  line('Canales preferidos', icp.preferred_channels)\r\n).slice(0, 4000);\r\n\r\n// run-sdk RECHAZA task > 8000 chars · guard final ≤7900.\r\nconst judgeTask = (\r\n  'Sos un evaluador de FIDELIDAD (groundedness). Dada la EVIDENCIA real del cliente y ' +\r\n  'los CAMPOS de un brand book, puntuá 0..1 qué tan soportado por la evidencia está cada campo ' +\r\n  '(1 = totalmente grounded · 0 = inventado/contradice). LLAMÁ EL TOOL `emit_fidelity_scores` ' +\r\n  'con tus scores (un número 0..1 por campo). NO narres · usá el tool · es la ÚNICA forma en ' +\r\n  'que tus scores deciden el canon.\\n\\n' +\r\n  'EVIDENCIA:\\n' + evidencia + '\\n\\n' +\r\n  'CAMPOS:\\n' + JSON.stringify(fieldsForPrompt).slice(0, 3500)\r\n).slice(0, 7900);\r\n\r\nreturn [{ json: {\r\n  judge_task: judgeTask,\r\n  judge_step_name: 'bb-faithfulness-judge-c' + fidelityCycle,\r\n  client_id: clientId,\r\n  brand_book_draft: draft,\r\n  _grounding_refs: grounding,\r\n  cycle,\r\n  _fidelity_cycle: fidelityCycle,\r\n  threshold: THRESHOLD,\r\n} }];\r\n"
      },
      "id": "bb--bb-judge-prep",
      "name": "[BB] Judge prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        1800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"editor-en-jefe\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"step_name\": \"{{ $json.judge_step_name }}\",\n  \"task\": {{ JSON.stringify($json.judge_task) }},\n  \"context\": { \"role\": \"faithfulness_judge\", \"threshold\": 0.85 },\n  \"extra\": { \"fidelity_judge\": true }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 800000
        }
      },
      "id": "bb-judge-http",
      "name": "[BB] Judge · run-sdk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        1800
      ]
    },
    {
      "parameters": {
        "jsCode": "// Brand Book · Faithfulness judge · SCORING · paso 5 · ESTO decide canon (no votos).\r\n// FIX 2026-07-01 · la llamada run-sdk se movió a un nodo HTTP previo ([BB] Judge · run-sdk)\r\n// porque el fetch del Code node NO llegaba al runner en n8n (scores 0). Este nodo SOLO\r\n// lee la respuesta del HTTP node (body.fidelity_scores) y computa la fidelidad.\r\n//\r\n// Input · $json = respuesta de [BB] Judge · run-sdk (body con fidelity_scores).\r\n// Datos del draft/ciclo · via referencia a [BB] Judge prep.\r\n// Output: { fidelity: { pass, threshold, scores, low_fields }, brand_book_draft, cycle }\r\n\r\nconst THRESHOLD = 0.85;\r\nconst MAX_FIDELITY_CYCLES = 3;\r\n// Todos los campos se PUNTÚAN + registran (transparencia · dashboards).\r\nconst SCORED_FIELDS = [\r\n  'positioning', 'icp_summary', 'voice_description', 'customer_angle', 'retention_notes',\r\n];\r\n// FIX 2026-07-01 (consejero · Opción 1) · el GATE solo exige groundedness en los campos\r\n// FÁCTICOS (positioning + icp_summary · verificables contra la evidencia de discovery).\r\n// voice/customer_angle/retention_notes son DERIVACIONES CREATIVAS de marca (voz, ángulo,\r\n// retención) · no hechos que se puedan \"grounded\" contra competidores/ICP · se puntúan\r\n// pero NO bloquean el canon. El gate frena hechos inventados, no decisiones de marca.\r\nconst GATED_FIELDS = ['positioning', 'icp_summary'];\r\n\r\nconst prep = $('[BB] Judge prep').first().json;\r\nconst draft = prep.brand_book_draft || {};\r\nconst cycle = Number(prep.cycle) || 1;\r\nconst fidelityCycle = Number(prep._fidelity_cycle) || 1;\r\n\r\n// La respuesta del nodo HTTP · el run-sdk surface los scores en body.fidelity_scores.scores.\r\nconst body = ($json && ($json.body || $json)) || {};\r\nlet scores = {};\r\nif (body.fidelity_scores && body.fidelity_scores.scores) {\r\n  scores = body.fidelity_scores.scores;\r\n} else {\r\n  // Fallback defensivo · parsear texto si el tool no fue capturado.\r\n  const text = typeof body.response === 'string' ? body.response : JSON.stringify(body);\r\n  const m = text.match(/\\{[\\s\\S]*\\}/);\r\n  if (m) { try { scores = (JSON.parse(m[0]).scores) || {}; } catch (e) {} }\r\n}\r\n\r\n// Floor seguro · campo sin score = 0 (no-grounded · fuerza re-síntesis o HITL).\r\nconst norm = {};\r\nfor (const f of SCORED_FIELDS) {\r\n  const v = Number(scores[f]);\r\n  norm[f] = Number.isFinite(v) ? Math.max(0, Math.min(1, v)) : 0;\r\n}\r\n// El pase se decide SOLO sobre los campos fácticos gateados (Opción 1 · consejero).\r\nconst lowFields = GATED_FIELDS.filter((f) => norm[f] < THRESHOLD);\r\nconst pass = lowFields.length === 0;\r\n\r\nreturn [{\r\n  json: {\r\n    fidelity: {\r\n      pass,\r\n      threshold: THRESHOLD,\r\n      scores: norm,\r\n      gated_fields: GATED_FIELDS, // solo éstos deciden el pase (Opción 1)\r\n      low_fields: lowFields, // campos GATEADOS bajo umbral (los que bloquean)\r\n      cycle,\r\n      fidelity_cycle: fidelityCycle,\r\n      max_cycles: MAX_FIDELITY_CYCLES,\r\n      // exhausted sobre el contador independiente · hard-cap real ≤3 aunque el judge falle.\r\n      exhausted: !pass && fidelityCycle >= MAX_FIDELITY_CYCLES,\r\n    },\r\n    brand_book_draft: draft,\r\n    cycle,\r\n    _fidelity_cycle: fidelityCycle,\r\n  },\r\n}];\r\n"
      },
      "id": "bb--bb-faithfulness-judge",
      "name": "[BB] Faithfulness judge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        1800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.fidelity.pass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "bb-if--bb-if-fidelidad-pass",
      "name": "[BB] IF · fidelidad PASS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        1800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ (Number($json._fidelity_cycle) || 0) >= 3 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "bb-if--bb-if-ciclos-agotados",
      "name": "[BB] IF · ciclos agotados",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1740,
        2100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Brand Book · Promote prep · arma el body para el POST /brand-book.\r\n// FIX 2026-07-01 · el nodo Promote era un Code node con fetch() · pero `fetch` NO existe\r\n// en los Code nodes de n8n (\"fetch is not defined\") → no persistía. El POST se movió a un\r\n// nodo HTTP Request (mismo patrón que el judge). Este nodo solo prepara el body.\r\n//\r\n// Corre SOLO en el branch PASS del IF de fidelidad (ya gateado) · igual guardamos el\r\n// invariante 5 (nunca persistir sin PASS) por defensa.\r\nconst fidelity = ($json && $json.fidelity) || {};\r\nconst draft = ($json && $json.brand_book_draft) || {};\r\nconst clientId = draft.client_id || $('Validate Deal Data').first().json.client_id;\r\n\r\nconst promote_body = {\r\n  brand_book: draft,\r\n  source: 'onboarding_collaborative_build',\r\n  // CANON por fidelidad · NO por firma humana ni voto Camino III.\r\n  fidelity_passed: !!fidelity.pass,\r\n  fidelity_scores: fidelity.scores,\r\n  fidelity_threshold: fidelity.threshold,\r\n  approved_by: 'faithfulness_check',\r\n  // Date.now() está OK en Code nodes n8n (no es un workflow script del harness).\r\n  approved_at: new Date().toISOString(),\r\n};\r\n\r\nreturn [{ json: {\r\n  promote_body,\r\n  client_id: clientId,\r\n  should_persist: !!fidelity.pass, // el HTTP corre igual (el IF ya gatea) · defensa extra.\r\n  fidelity,\r\n} }];\r\n"
      },
      "id": "bb--bb-promote-prep",
      "name": "[BB] Promote prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1650
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app') + '/api/brand-book/' + $json.client_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.promote_body) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 800000
        }
      },
      "id": "bb-promote-http",
      "name": "[BB] Promote → canon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2180,
        1650
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"brand_book_fidelity_last_resort\",\n  \"client_id\": \"{{ $json.brand_book_draft.client_id }}\",\n  \"fidelity\": {{ JSON.stringify($json.fidelity) }}\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        }
      },
      "id": "bb-hitl-lastresort",
      "name": "[BB] HITL último recurso (no Emilio)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        2100
      ]
    }
  ],
  "connections": {
    "Webhook · smoke trigger": {
      "main": [
        [
          {
            "node": "Validate Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal Data": {
      "main": [
        [
          {
            "node": "Confirm barato · competitor list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm barato · competitor list": {
      "main": [
        [
          {
            "node": "[BB] Fan-out prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BB] Fan-out prep": {
      "main": [
        [
          {
            "node": "Lente · brand-strategist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lente · editor-en-jefe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lente · jefe-client-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lente · brand-strategist": {
      "main": [
        [
          {
            "node": "[BB] Merge lentes (esperar 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lente · editor-en-jefe": {
      "main": [
        [
          {
            "node": "[BB] Merge lentes (esperar 3)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Lente · jefe-client-success": {
      "main": [
        [
          {
            "node": "[BB] Merge lentes (esperar 3)",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "[BB] Merge lentes (esperar 3)": {
      "main": [
        [
          {
            "node": "[BB] Consolidador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BB] Consolidador": {
      "main": [
        [
          {
            "node": "[BB] Judge prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BB] Judge prep": {
      "main": [
        [
          {
            "node": "[BB] Judge · run-sdk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BB] Judge · run-sdk": {
      "main": [
        [
          {
            "node": "[BB] Faithfulness judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BB] Faithfulness judge": {
      "main": [
        [
          {
            "node": "[BB] IF · fidelidad PASS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BB] IF · fidelidad PASS": {
      "main": [
        [
          {
            "node": "[BB] Promote prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[BB] IF · ciclos agotados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BB] Promote prep": {
      "main": [
        [
          {
            "node": "[BB] Promote → canon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BB] IF · ciclos agotados": {
      "main": [
        [
          {
            "node": "[BB] HITL último recurso (no Emilio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[BB] Consolidador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}