outputs/sprint7-duplicates-backups-2026-05-22/9wwdQX9OtXUaFVNM.json
{"updatedAt":"2026-04-25T10:05:58.423Z","createdAt":"2026-04-25T10:05:58.423Z","id":"9wwdQX9OtXUaFVNM","name":"Zero Risk — Meta-Agent Weekly Analysis","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * 1"}]}},"id":"cron-trigger","name":"Every Monday 9am","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"method":"POST","url":"={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/analytics/meta-agent-run","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"run_type\": \"weekly\",\n  \"days\": 7,\n  \"max_outcomes\": 100\n}","options":{"timeout":120000,"fullResponse":true}},"id":"trigger-meta-agent","name":"Trigger Meta-Agent Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"condition-success","leftValue":"={{ $json.body.success }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"check-success","name":"Analysis Succeeded?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,300]},{"parameters":{"method":"POST","url":"={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/mc-sync","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"={{ $env.MC_API_KEY || '39d0f6f9cae9932ab62b4d0d02f73308' }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"action\": \"health_check\"\n}","options":{}},"id":"notify-mc-success","name":"Log Success to MC","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,200]},{"parameters":{"method":"POST","url":"={{ $env.SLACK_WEBHOOK_URL }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"🔴 Meta-Agent cron failed. Error: {{ $node['Trigger Meta-Agent Analysis'].json.body.error || 'Unknown error' }}. Check /api/analytics/meta-agent-run for details.\"\n}","options":{}},"id":"notify-slack-failure","name":"Alert Slack on Failure","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,420]},{"parameters":{},"id":"noop-end","name":"Done","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1200,300]}],"connections":{"Every Monday 9am":{"main":[[{"node":"Trigger Meta-Agent Analysis","type":"main","index":0}]]},"Trigger Meta-Agent Analysis":{"main":[[{"node":"Analysis Succeeded?","type":"main","index":0}]]},"Analysis Succeeded?":{"main":[[{"node":"Log Success to MC","type":"main","index":0}],[{"node":"Alert Slack on Failure","type":"main","index":0}]]},"Log Success to MC":{"main":[[{"node":"Done","type":"main","index":0}]]},"Alert Slack on Failure":{"main":[[{"node":"Done","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":""},"staticData":{"node:Every Monday 9am":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"78ba9ce3-e4e8-40b1-8760-56c0dadedf66","activeVersionId":null,"versionCounter":17,"triggerCount":1,"shared":[{"updatedAt":"2026-04-25T10:05:58.423Z","createdAt":"2026-04-25T10:05:58.423Z","role":"workflow:owner","workflowId":"9wwdQX9OtXUaFVNM","projectId":"xKBOyp07nrGbu4ob","project":{"updatedAt":"2026-04-18T13:51:26.012Z","createdAt":"2026-04-18T13:41:21.856Z","id":"xKBOyp07nrGbu4ob","name":"Emilio  Perez  <emilacho@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"1a2877ea-d537-4ccd-9acb-0d9187da6327"}}],"tags":[],"activeVersion":null}