scripts/worker-staging/LyVoKcrypS5uLyuu/brand-book-track/correction-subworkflow/correction-subworkflow.json
{
  "name": "Zero Risk — Brand Book · Lazo A corrección (sub-workflow)",
  "nodes": [
    {
      "parameters": {},
      "id": "bba-trigger",
      "name": "Lazo A · trigger (Execute Workflow)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lazo A · Review prep · arma la tarea de revisión para los 3 jefes sobre el\n// borrador consolidado. Patrón SPEC-camino-iii-lazo-correccion: los jefes\n// DIAGNOSTICAN (emiten correcciones accionables), el consolidador CORRIGE.\n// Para el brand book es NO vinculante (la fidelidad decide canon · spec Lazo A).\n//\n// Input (del trigger del sub-wf): { brand_book_draft, _grounding_refs, client_id, cycle }\n// Output: 1 item por jefe · { reviewer, agent, task, brand_book_draft, _grounding_refs, cycle }\n\nconst inp = $json;\nconst draft = inp.brand_book_draft || {};\nconst grounding = inp._grounding_refs || {};\nconst clientId = inp.client_id || draft.client_id;\nconst cycle = Number(inp.cycle) || 0;\n\nconst FORMAT =\n  'Emití SOLO JSON: {\"corrections\":[{eje,severidad,donde,problema,por_que,cambio_sugerido}]}.\\n' +\n  '- eje: \"factual\"|\"voz\"|\"posicionamiento\"|\"cliente\"\\n' +\n  '- severidad: \"rojo\"|\"ámbar\" (rojo = choca con la evidencia / regla dura)\\n' +\n  '- Regla: NO emitas \"rojo\" sin un objeto-corrección accionable. Sin prosa.\\n' +\n  '- Si el borrador ya está bien en TU eje, devolvé {\"corrections\":[]}.';\n\nconst base =\n  'Sos revisor de un borrador de BRAND BOOK. Diagnosticá (NO reescribas) contra la ' +\n  'EVIDENCIA real del cliente. Tu rol corrige solo TU eje.\\n\\n' +\n  'EVIDENCIA:\\n' + JSON.stringify(grounding).slice(0, 6000) + '\\n\\n' +\n  'BORRADOR:\\n' + JSON.stringify(draft).slice(0, 6000) + '\\n\\n' + FORMAT;\n\nconst reviewers = [\n  { reviewer: 'brand-strategist', agent: 'brand-strategist',\n    task: base + '\\n\\nTU EJE: posicionamiento + ICP · ¿el posicionamiento contradice la evidencia? ¿ICP refleja la data?' },\n  { reviewer: 'editor-en-jefe', agent: 'editor-en-jefe',\n    task: base + '\\n\\nTU EJE: voz · ¿los principios de voz son concretos/testeables? ¿forbidden_words/required_terminology coherentes?' },\n  { reviewer: 'jefe-client-success', agent: 'jefe-client-success',\n    task: base + '\\n\\nTU EJE: cliente · ¿el ICP/ángulo refleja la retención? ¿algo no aterriza en valor cliente?' },\n];\n\nreturn reviewers.map((r) => ({\n  json: { ...r, brand_book_draft: draft, _grounding_refs: grounding, client_id: clientId, cycle },\n}));\n"
      },
      "id": "bba--bba-review-prep",
      "name": "[BBA] Review prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"{{ $json.agent }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify($json.task) }},\n  \"context\": { \"role\": \"brand_book_corrector\", \"reviewer\": \"brand-strategist\" }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "bba-rev-brand-strategist",
      "name": "Revisor · brand-strategist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"{{ $json.agent }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify($json.task) }},\n  \"context\": { \"role\": \"brand_book_corrector\", \"reviewer\": \"editor-en-jefe\" }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "bba-rev-editor-en-jefe",
      "name": "Revisor · editor-en-jefe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"{{ $json.agent }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify($json.task) }},\n  \"context\": { \"role\": \"brand_book_corrector\", \"reviewer\": \"jefe-client-success\" }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "bba-rev-jefe-client-success",
      "name": "Revisor · jefe-client-success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lazo A · Merge corrections · consolida las correcciones de los 3 jefes y\n// decide si hay que seguir corrigiendo. NO vinculante (no es voto pass/reject ·\n// spec Lazo A): es mejora iterativa hasta converger o agotar 3 ciclos (§150).\n//\n// Input: items de los 3 review-agents (cada uno con `response` = JSON corrections)\n// Output: { brand_book_draft, _grounding_refs, client_id, cycle, corrections, keep_going }\n\nconst MAX_CYCLES = 3;\nconst items = $input.all();\n\n// recupera draft/grounding/cycle del primer item (todos lo comparten).\nconst first = (items[0] && items[0].json) || {};\nconst draft = first.brand_book_draft || {};\nconst grounding = first._grounding_refs || {};\nconst clientId = first.client_id || draft.client_id;\nconst cycle = Number(first.cycle) || 0;\n\nconst VALID_EJE = new Set(['factual', 'voz', 'posicionamiento', 'cliente']);\nconst VALID_SEV = new Set(['rojo', 'ámbar', 'ambar']);\n\nfunction extract(item) {\n  try {\n    const j = item.json || {};\n    const body = j.body || j;\n    const text = typeof body.response === 'string' ? body.response : JSON.stringify(body);\n    const m = text.match(/\\{[\\s\\S]*\\}/);\n    if (!m) return [];\n    const arr = (JSON.parse(m[0]).corrections) || [];\n    return Array.isArray(arr) ? arr : [];\n  } catch (e) { return []; }\n}\n\n// consolida + sanea · descarta correcciones malformadas (no rompe el lazo ·\n// hardening como en camino-iii voto-red-nunca-se-dropea, PR #233).\nconst corrections = [];\nfor (const it of items) {\n  for (const c of extract(it)) {\n    if (!c || typeof c !== 'object') continue;\n    const eje = String(c.eje || '').toLowerCase();\n    const sev = String(c.severidad || '').toLowerCase();\n    if (!VALID_EJE.has(eje)) continue;\n    corrections.push({\n      eje,\n      severidad: VALID_SEV.has(sev) ? sev.replace('ambar', 'ámbar') : 'ámbar',\n      donde: String(c.donde || ''),\n      problema: String(c.problema || ''),\n      por_que: String(c.por_que || ''),\n      cambio_sugerido: String(c.cambio_sugerido || ''),\n    });\n  }\n}\n\n// seguir si hay correcciones accionables Y no agotamos ciclos.\nconst hasActionable = corrections.some((c) => c.cambio_sugerido.trim().length > 0);\nconst keepGoing = hasActionable && cycle < MAX_CYCLES;\n\nreturn [{ json: {\n  brand_book_draft: draft,\n  _grounding_refs: grounding,\n  client_id: clientId,\n  cycle,\n  corrections,\n  keep_going: keepGoing,\n  _lazo_a: { cycle, max_cycles: MAX_CYCLES, corrections_count: corrections.length, keep_going: keepGoing },\n} }];\n"
      },
      "id": "bba--bba-merge-corrections",
      "name": "[BBA] Merge corrections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.keep_going }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "bba-if-seguir",
      "name": "[BBA] IF · seguir corrigiendo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lazo A · Re-síntesis · el CONSOLIDADOR (maker) re-sintetiza el borrador\n// atendiendo las correcciones de los jefes (spec: \"el consolidador re-sintetiza\").\n// Un solo pase run-sdk (costo acotado §150). cycle++ → vuelve a review-prep.\n// Para el brand book es NO vinculante: mejora iterativa hasta converger o cap 3.\n\nconst apiUrl = $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app';\nconst apiKey = $env.INTERNAL_API_KEY;\n\nconst inp = $json;\nconst draft = inp.brand_book_draft || {};\nconst grounding = inp._grounding_refs || {};\nconst corrections = inp.corrections || [];\nconst clientId = inp.client_id || draft.client_id;\nconst nextCycle = (Number(inp.cycle) || 0) + 1;\n\nconst task =\n  'Sos el consolidador del brand book (el MAKER · no un revisor). Mejorá el BORRADOR ' +\n  'aplicando SOLO las CORRECCIONES de los jefes, grounded en la EVIDENCIA. NO inventes ' +\n  'campos nuevos · mantené la estructura. Emití SOLO JSON: {\"brand_book_draft\": {...}} ' +\n  'con los mismos campos (positioning, icp_summary, voice_description, forbidden_words[], ' +\n  'required_terminology[], customer_angle, retention_notes).\\n\\n' +\n  'EVIDENCIA:\\n' + JSON.stringify(grounding).slice(0, 5000) + '\\n\\n' +\n  'BORRADOR:\\n' + JSON.stringify(draft).slice(0, 5000) + '\\n\\n' +\n  'CORRECCIONES:\\n' + JSON.stringify(corrections).slice(0, 5000);\n\nlet improved = draft;\ntry {\n  const resp = await fetch(apiUrl + '/api/agents/run-sdk', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'x-api-key': apiKey },\n    body: JSON.stringify({\n      agent: 'brand-strategist', // owner del cimiento · re-sintetiza como maker\n      client_id: clientId,\n      workflow_id: $execution.id,\n      workflow_execution_id: $execution.id,\n      task,\n      context: { role: 'brand_book_consolidator_resynth', cycle: nextCycle },\n    }),\n  });\n  const body = await resp.json();\n  const text = typeof body.response === 'string' ? body.response : JSON.stringify(body);\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    const parsed = JSON.parse(m[0]);\n    const cand = parsed.brand_book_draft || parsed;\n    if (cand && typeof cand === 'object') improved = { ...draft, ...cand, client_id: clientId };\n  }\n} catch (e) {\n  // floor seguro · si el re-synth falla, conserva el borrador previo · el lazo\n  // sigue (la fidelidad decide canon · Lazo A es no-vinculante).\n  improved = draft;\n}\n\nreturn [{ json: {\n  brand_book_draft: improved,\n  _grounding_refs: grounding,\n  client_id: clientId,\n  cycle: nextCycle,\n} }];\n"
      },
      "id": "bba--bba-re-s-ntesis",
      "name": "[BBA] Re-síntesis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lazo A · salida · devuelve el borrador final mejorado al worker caller.\nconst j = $json;\nreturn [{ json: { brand_book_draft: j.brand_book_draft, _grounding_refs: j._grounding_refs, client_id: j.client_id, cycle: j.cycle, corrections: j.corrections || [], _lazo_a_done: true } }];\n"
      },
      "id": "bba-exit",
      "name": "[BBA] Exit · borrador final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        600
      ]
    }
  ],
  "connections": {
    "Lazo A · trigger (Execute Workflow)": {
      "main": [
        [
          {
            "node": "[BBA] Review prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BBA] Review prep": {
      "main": [
        [
          {
            "node": "Revisor · brand-strategist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Revisor · editor-en-jefe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Revisor · jefe-client-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisor · brand-strategist": {
      "main": [
        [
          {
            "node": "[BBA] Merge corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisor · editor-en-jefe": {
      "main": [
        [
          {
            "node": "[BBA] Merge corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisor · jefe-client-success": {
      "main": [
        [
          {
            "node": "[BBA] Merge corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BBA] Merge corrections": {
      "main": [
        [
          {
            "node": "[BBA] IF · seguir corrigiendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BBA] IF · seguir corrigiendo": {
      "main": [
        [
          {
            "node": "[BBA] Re-síntesis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[BBA] Exit · borrador final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BBA] Re-síntesis": {
      "main": [
        [
          {
            "node": "[BBA] Review prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}