scripts/worker-staging/LyVoKcrypS5uLyuu/brand-book-track/correction-subworkflow/correction-subworkflow.json
{
  "name": "Zero Risk — Brand Book · Lazo A corrección (sub-workflow)",
  "nodes": [
    {
      "parameters": {},
      "id": "bba-trigger",
      "name": "Lazo A · trigger (Execute Workflow)",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lazo A · Review prep · arma la tarea de revisión para los 3 jefes sobre el\r\n// borrador consolidado. Patrón SPEC-camino-iii-lazo-correccion: los jefes\r\n// DIAGNOSTICAN (emiten correcciones accionables), el consolidador CORRIGE.\r\n// Para el brand book es NO vinculante (la fidelidad decide canon · spec Lazo A).\r\n//\r\n// Input (del trigger del sub-wf): { brand_book_draft, _grounding_refs, client_id, cycle }\r\n// Output: 1 item por jefe · { reviewer, agent, task, brand_book_draft, _grounding_refs, cycle }\r\n\r\nconst inp = $json;\r\nconst draft = inp.brand_book_draft || {};\r\nconst grounding = inp._grounding_refs || {};\r\nconst clientId = inp.client_id || draft.client_id;\r\nconst cycle = Number(inp.cycle) || 0;\r\n\r\nconst FORMAT =\r\n  'Emití SOLO JSON: {\"corrections\":[{eje,severidad,donde,problema,por_que,cambio_sugerido}]}.\\n' +\r\n  '- eje: \"factual\"|\"voz\"|\"posicionamiento\"|\"cliente\"\\n' +\r\n  '- severidad: \"rojo\"|\"ámbar\" (rojo = choca con la evidencia / regla dura)\\n' +\r\n  '- Regla: NO emitas \"rojo\" sin un objeto-corrección accionable. Sin prosa.\\n' +\r\n  '- Si el borrador ya está bien en TU eje, devolvé {\"corrections\":[]}.';\r\n\r\nconst base =\r\n  'Sos revisor de un borrador de BRAND BOOK. Diagnosticá (NO reescribas) contra la ' +\r\n  'EVIDENCIA real del cliente. Tu rol corrige solo TU eje.\\n\\n' +\r\n  'EVIDENCIA:\\n' + JSON.stringify(grounding).slice(0, 6000) + '\\n\\n' +\r\n  'BORRADOR:\\n' + JSON.stringify(draft).slice(0, 6000) + '\\n\\n' + FORMAT;\r\n\r\nconst reviewers = [\r\n  { reviewer: 'brand-strategist', agent: 'brand-strategist',\r\n    task: base + '\\n\\nTU EJE: posicionamiento + ICP · ¿el posicionamiento contradice la evidencia? ¿ICP refleja la data?' },\r\n  { reviewer: 'editor-en-jefe', agent: 'editor-en-jefe',\r\n    task: base + '\\n\\nTU EJE: voz · ¿los principios de voz son concretos/testeables? ¿forbidden_words/required_terminology coherentes?' },\r\n  { reviewer: 'jefe-client-success', agent: 'jefe-client-success',\r\n    task: base + '\\n\\nTU EJE: cliente · ¿el ICP/ángulo refleja la retención? ¿algo no aterriza en valor cliente?' },\r\n];\r\n\r\nreturn reviewers.map((r) => ({\r\n  json: { ...r, brand_book_draft: draft, _grounding_refs: grounding, client_id: clientId, cycle },\r\n}));\r\n"
      },
      "id": "bba--bba-review-prep",
      "name": "[BBA] Review prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"{{ $json.agent }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify($json.task) }},\n  \"context\": { \"role\": \"brand_book_corrector\", \"reviewer\": \"brand-strategist\" }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 800000
        }
      },
      "id": "bba-rev-brand-strategist",
      "name": "Revisor · brand-strategist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"{{ $json.agent }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify($json.task) }},\n  \"context\": { \"role\": \"brand_book_corrector\", \"reviewer\": \"editor-en-jefe\" }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 800000
        }
      },
      "id": "bba-rev-editor-en-jefe",
      "name": "Revisor · editor-en-jefe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"{{ $json.agent }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $execution.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify($json.task) }},\n  \"context\": { \"role\": \"brand_book_corrector\", \"reviewer\": \"jefe-client-success\" }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 800000
        }
      },
      "id": "bba-rev-jefe-client-success",
      "name": "Revisor · jefe-client-success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lazo A · Merge corrections · consolida las correcciones de los 3 jefes y\r\n// decide si hay que seguir corrigiendo. NO vinculante (no es voto pass/reject ·\r\n// spec Lazo A): es mejora iterativa hasta converger o agotar 3 ciclos (§150).\r\n//\r\n// Input: items de los 3 review-agents (cada uno con `response` = JSON corrections)\r\n// Output: { brand_book_draft, _grounding_refs, client_id, cycle, corrections, keep_going }\r\n\r\n// FIX 2026-06-30 (Fix B · recorte de volumen) · Lazo A a 1 ciclo. Es NO VINCULANTE\r\n// (la fidelidad decide canon · no estos votos) · y era el multiplicador de costo\r\n// (corría 3-4 ciclos × 3 revisores POR cada ciclo de fidelidad → ~60 invocaciones).\r\n// Ahora · 1 pasada de diagnóstico + a lo sumo 1 re-síntesis · Re-síntesis → Exit\r\n// (sin loop-back · ver build-correction-subworkflow.mjs).\r\nconst MAX_CYCLES = 1;\r\nconst items = $input.all();\r\n\r\n// recupera draft/grounding/cycle del primer item (todos lo comparten).\r\nconst first = (items[0] && items[0].json) || {};\r\nconst draft = first.brand_book_draft || {};\r\nconst grounding = first._grounding_refs || {};\r\nconst clientId = first.client_id || draft.client_id;\r\nconst cycle = Number(first.cycle) || 0;\r\n\r\nconst VALID_EJE = new Set(['factual', 'voz', 'posicionamiento', 'cliente']);\r\nconst VALID_SEV = new Set(['rojo', 'ámbar', 'ambar']);\r\n\r\nfunction extract(item) {\r\n  try {\r\n    const j = item.json || {};\r\n    const body = j.body || j;\r\n    const text = typeof body.response === 'string' ? body.response : JSON.stringify(body);\r\n    const m = text.match(/\\{[\\s\\S]*\\}/);\r\n    if (!m) return [];\r\n    const arr = (JSON.parse(m[0]).corrections) || [];\r\n    return Array.isArray(arr) ? arr : [];\r\n  } catch (e) { return []; }\r\n}\r\n\r\n// consolida + sanea · descarta correcciones malformadas (no rompe el lazo ·\r\n// hardening como en camino-iii voto-red-nunca-se-dropea, PR #233).\r\nconst corrections = [];\r\nfor (const it of items) {\r\n  for (const c of extract(it)) {\r\n    if (!c || typeof c !== 'object') continue;\r\n    const eje = String(c.eje || '').toLowerCase();\r\n    const sev = String(c.severidad || '').toLowerCase();\r\n    if (!VALID_EJE.has(eje)) continue;\r\n    corrections.push({\r\n      eje,\r\n      severidad: VALID_SEV.has(sev) ? sev.replace('ambar', 'ámbar') : 'ámbar',\r\n      donde: String(c.donde || ''),\r\n      problema: String(c.problema || ''),\r\n      por_que: String(c.por_que || ''),\r\n      cambio_sugerido: String(c.cambio_sugerido || ''),\r\n    });\r\n  }\r\n}\r\n\r\n// Re-sintetizar UNA vez si hay correcciones accionables · Re-síntesis → Exit\r\n// (no hay loop-back · el cap de 1 ciclo lo da el wiring, no este contador).\r\nconst hasActionable = corrections.some((c) => c.cambio_sugerido.trim().length > 0);\r\nconst keepGoing = hasActionable;\r\n\r\nreturn [{ json: {\r\n  brand_book_draft: draft,\r\n  _grounding_refs: grounding,\r\n  client_id: clientId,\r\n  cycle,\r\n  corrections,\r\n  keep_going: keepGoing,\r\n  _lazo_a: { cycle, max_cycles: MAX_CYCLES, corrections_count: corrections.length, keep_going: keepGoing },\r\n} }];\r\n"
      },
      "id": "bba--bba-merge-corrections",
      "name": "[BBA] Merge corrections",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.keep_going }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "bba-if-seguir",
      "name": "[BBA] IF · seguir corrigiendo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lazo A · Re-síntesis · el CONSOLIDADOR (maker) re-sintetiza el borrador\r\n// atendiendo las correcciones de los jefes (spec: \"el consolidador re-sintetiza\").\r\n// Un solo pase run-sdk (costo acotado §150). cycle++ → vuelve a review-prep.\r\n// Para el brand book es NO vinculante: mejora iterativa hasta converger o cap 3.\r\n\r\nconst apiUrl = $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app';\r\nconst apiKey = $env.INTERNAL_API_KEY;\r\n\r\nconst inp = $json;\r\nconst draft = inp.brand_book_draft || {};\r\nconst grounding = inp._grounding_refs || {};\r\nconst corrections = inp.corrections || [];\r\nconst clientId = inp.client_id || draft.client_id;\r\nconst nextCycle = (Number(inp.cycle) || 0) + 1;\r\n\r\nconst task =\r\n  'Sos el consolidador del brand book (el MAKER · no un revisor). Mejorá el BORRADOR ' +\r\n  'aplicando SOLO las CORRECCIONES de los jefes, grounded en la EVIDENCIA. NO inventes ' +\r\n  'campos nuevos · mantené la estructura. LLAMÁ EL TOOL `emit_brand_section` (pasá ' +\r\n  'lens:\"brand-strategist\") con TODOS los campos mejorados (positioning, icp_summary, ' +\r\n  'voice_description, forbidden_words[], required_terminology[], customer_angle, ' +\r\n  'retention_notes). NO narres · usá el tool.\\n\\n' +\r\n  'EVIDENCIA:\\n' + JSON.stringify(grounding).slice(0, 5000) + '\\n\\n' +\r\n  'BORRADOR:\\n' + JSON.stringify(draft).slice(0, 5000) + '\\n\\n' +\r\n  'CORRECCIONES:\\n' + JSON.stringify(corrections).slice(0, 5000);\r\n\r\nlet improved = draft;\r\ntry {\r\n  const resp = await fetch(apiUrl + '/api/agents/run-sdk', {\r\n    method: 'POST',\r\n    headers: { 'Content-Type': 'application/json', 'x-api-key': apiKey },\r\n    body: JSON.stringify({\r\n      agent: 'brand-strategist', // owner del cimiento · re-sintetiza como maker\r\n      client_id: clientId,\r\n      workflow_id: $execution.id,\r\n      workflow_execution_id: $execution.id,\r\n      task,\r\n      context: { role: 'brand_book_consolidator_resynth', cycle: nextCycle },\r\n    }),\r\n  });\r\n  const body = await resp.json();\r\n  // CANON · la sección mejorada llega vía emit_brand_section (body.brand_section).\r\n  let cand = body.brand_section || null;\r\n  if (!cand && typeof body.response === 'string') {\r\n    const m = body.response.match(/\\{[\\s\\S]*\\}/);\r\n    if (m) { try { const p = JSON.parse(m[0]); cand = p.brand_book_draft || p; } catch (e) {} }\r\n  }\r\n  if (cand && typeof cand === 'object') improved = { ...draft, ...cand, client_id: clientId };\r\n} catch (e) {\r\n  // floor seguro · si el re-synth falla, conserva el borrador previo · el lazo\r\n  // sigue (la fidelidad decide canon · Lazo A es no-vinculante).\r\n  improved = draft;\r\n}\r\n\r\nreturn [{ json: {\r\n  brand_book_draft: improved,\r\n  _grounding_refs: grounding,\r\n  client_id: clientId,\r\n  cycle: nextCycle,\r\n} }];\r\n"
      },
      "id": "bba--bba-re-s-ntesis",
      "name": "[BBA] Re-síntesis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lazo A · salida · devuelve el borrador final mejorado al worker caller.\n// FIX 2026-06-30 (Bug 1) · preserva `_fidelity_cycle` del TRIGGER (el contador\n// del loop de fidelidad del worker · NO el `cycle` interno del Lazo A) leyéndolo\n// del input original · así el worker hace hard-cap sobre el contador correcto.\nconst j = $json;\nlet fc = 0; try { fc = Number($('Lazo A · trigger (Execute Workflow)').first().json._fidelity_cycle) || 0; } catch (e) { fc = 0; }\nreturn [{ json: { brand_book_draft: j.brand_book_draft, _grounding_refs: j._grounding_refs, client_id: j.client_id, cycle: j.cycle, _fidelity_cycle: fc, corrections: j.corrections || [], _lazo_a_done: true } }];\n"
      },
      "id": "bba-exit",
      "name": "[BBA] Exit · borrador final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        600
      ]
    }
  ],
  "connections": {
    "Lazo A · trigger (Execute Workflow)": {
      "main": [
        [
          {
            "node": "[BBA] Review prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BBA] Review prep": {
      "main": [
        [
          {
            "node": "Revisor · brand-strategist",
            "type": "main",
            "index": 0
          },
          {
            "node": "Revisor · editor-en-jefe",
            "type": "main",
            "index": 0
          },
          {
            "node": "Revisor · jefe-client-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisor · brand-strategist": {
      "main": [
        [
          {
            "node": "[BBA] Merge corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisor · editor-en-jefe": {
      "main": [
        [
          {
            "node": "[BBA] Merge corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revisor · jefe-client-success": {
      "main": [
        [
          {
            "node": "[BBA] Merge corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BBA] Merge corrections": {
      "main": [
        [
          {
            "node": "[BBA] IF · seguir corrigiendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BBA] IF · seguir corrigiendo": {
      "main": [
        [
          {
            "node": "[BBA] Re-síntesis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "[BBA] Exit · borrador final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[BBA] Re-síntesis": {
      "main": [
        [
          {
            "node": "[BBA] Exit · borrador final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}