n8n-workflows/campaign-metrics-collector.json
{
  "name": "Zero Risk — Campaign Metrics Collector (Daily 23:00)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 23:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/campaigns?status=active",
        "options": { "timeout": 30000 }
      },
      "id": "fetch-campaigns",
      "name": "Fetch Active Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Split the list of campaigns into one item per campaign so downstream nodes run per-campaign.\nconst campaigns = $input.first().json.campaigns || $input.first().json.items || [];\nreturn campaigns.map(c => ({ json: c }));"
      },
      "id": "split",
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/analytics/campaign-results",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign_id\": \"{{ $json.id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"collect_sources\": [\"meta_ads\", \"google_ads\", \"mailgun\", \"ghl\"],\n  \"date\": \"{{ $now.format('yyyy-MM-dd') }}\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "collect",
      "name": "Collect & Persist Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results for final Slack notification.\nconst results = $input.all().map(i => i.json);\nconst successes = results.filter(r => r.success).length;\nconst failures = results.length - successes;\nreturn [{ json: { total: results.length, successes, failures, details: results.slice(0, 10) } }];"
      },
      "id": "aggregate",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"📈 Daily Campaign Metrics Collection\\n• Total campañas: {{ $json.total }}\\n• OK: {{ $json.successes }}\\n• Fallaron: {{ $json.failures }}\"\n}",
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Daily 23:00": { "main": [[{ "node": "Fetch Active Campaigns", "type": "main", "index": 0 }]] },
    "Fetch Active Campaigns": { "main": [[{ "node": "Split Campaigns", "type": "main", "index": 0 }]] },
    "Split Campaigns": { "main": [[{ "node": "Collect & Persist Metrics", "type": "main", "index": 0 }]] },
    "Collect & Persist Metrics": { "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]] },
    "Aggregate Results": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    { "name": "zero-risk", "id": "1" },
    { "name": "pilar-5", "id": "2" },
    { "name": "cron", "id": "3" }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
