n8n-workflows/content-publisher-router.json
{
  "name": "Zero Risk — Content Publisher Router (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zero-risk/publish-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Approved Content",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320],
      "webhookId": "zero-risk-publish-content"
    },
    {
      "parameters": {
        "jsCode": "// Normalize payload.\n// Expected body: {\n//   pipeline_id, client_id, channel: 'meta_ads' | 'email' | 'ghl_post' | 'landing_page',\n//   content: { title, body, image_url?, cta? },\n//   audience?: { ... },\n//   scheduled_for?: ISO string\n// }\nconst b = $input.first().json.body || $input.first().json;\nconst channel = (b.channel || '').toLowerCase();\nconst valid = ['meta_ads', 'email', 'ghl_post', 'landing_page'];\nif (!valid.includes(channel)) {\n  throw new Error(`Unknown channel: ${channel}. Must be one of ${valid.join(', ')}`);\n}\nif (!b.content) throw new Error('Missing content payload');\nreturn [{ json: { ...b, channel } }];"
      },
      "id": "validate",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 320]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.channel }}", "rightValue": "meta_ads", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "meta_ads" },
            { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.channel }}", "rightValue": "email", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "email" },
            { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.channel }}", "rightValue": "ghl_post", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "ghl_post" },
            { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "conditions": [{ "leftValue": "={{ $json.channel }}", "rightValue": "landing_page", "operator": { "type": "string", "operation": "equals" } }] }, "outputKey": "landing_page" }
          ]
        },
        "options": { "allMatchingOutputs": false }
      },
      "id": "switch",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [720, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/content/publish/meta-ads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_id\": \"{{ $json.pipeline_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"audience\": {{ JSON.stringify($json.audience || {}) }},\n  \"scheduled_for\": \"{{ $json.scheduled_for || '' }}\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "publish-meta",
      "name": "Publish → Meta Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/content/publish/email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_id\": \"{{ $json.pipeline_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"audience\": {{ JSON.stringify($json.audience || {}) }},\n  \"scheduled_for\": \"{{ $json.scheduled_for || '' }}\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "publish-email",
      "name": "Publish → Mailgun",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 260]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/content/publish/ghl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_id\": \"{{ $json.pipeline_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"content\": {{ JSON.stringify($json.content) }},\n  \"scheduled_for\": \"{{ $json.scheduled_for || '' }}\"\n}",
        "options": { "timeout": 60000 }
      },
      "id": "publish-ghl",
      "name": "Publish → GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/content/publish/landing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_id\": \"{{ $json.pipeline_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"content\": {{ JSON.stringify($json.content) }}\n}",
        "options": { "timeout": 60000 }
      },
      "id": "publish-landing",
      "name": "Publish → Landing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 540]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"✅ Contenido publicado\\n• Channel: {{ $json.channel || 'n/a' }}\\n• Pipeline: {{ $json.pipeline_id || 'n/a' }}\\n• Status: {{ $json.status || 'published' }}\\n• External ID: {{ $json.external_id || $json.id || 'n/a' }}\"\n}",
        "options": {}
      },
      "id": "notify",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"channel\": \"{{ $json.channel || 'n/a' }}\",\n  \"external_id\": \"{{ $json.external_id || $json.id || '' }}\",\n  \"status\": \"{{ $json.status || 'published' }}\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1480, 320]
    }
  ],
  "connections": {
    "Webhook: Approved Content": { "main": [[{ "node": "Validate & Normalize", "type": "main", "index": 0 }]] },
    "Validate & Normalize": { "main": [[{ "node": "Route by Channel", "type": "main", "index": 0 }]] },
    "Route by Channel": {
      "main": [
        [{ "node": "Publish → Meta Ads", "type": "main", "index": 0 }],
        [{ "node": "Publish → Mailgun", "type": "main", "index": 0 }],
        [{ "node": "Publish → GHL", "type": "main", "index": 0 }],
        [{ "node": "Publish → Landing", "type": "main", "index": 0 }]
      ]
    },
    "Publish → Meta Ads": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] },
    "Publish → Mailgun": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] },
    "Publish → GHL": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] },
    "Publish → Landing": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] },
    "Notify Slack": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    { "name": "zero-risk", "id": "1" },
    { "name": "pilar-3", "id": "4" },
    { "name": "publishing", "id": "11" }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
