n8n-workflows/tier-1/cliente-nuevo-landing-cascade-master.json
{
  "name": "Zero Risk — Cliente Nuevo · Landing Cascade Master",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zero-risk/cliente-nuevo-landing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook · Cliente Nuevo Landing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst required = ['client_name','slug','industry'];\nfor (const k of required) { if (!b[k]) throw new Error(`field required: ${k}`); }\nconst brand = b.brand_assets || {};\nreturn [{ json: {\n  task_id: `landing_${Date.now()}`,\n  client_name: b.client_name,\n  slug: b.slug,\n  industry: b.industry,\n  location: b.location || null,\n  country: b.country || null,\n  products: b.products || null,\n  diferenciador: b.diferenciador || null,\n  whatsapp: b.whatsapp || null,\n  instagram_handle: b.instagram_handle || null,\n  target_deliverable: b.target_deliverable || 'landing-v1',\n  brand_assets: { logo_url: brand.logo_url || null, colors: brand.colors || brand.brand_colors || null, fonts: brand.fonts || brand.brand_fonts || null },\n  scrape_summary: b.scrape_summary || null,\n} }];"
      },
      "id": "validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/clients/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ name: $node['Validate Payload'].json.client_name, slug: $node['Validate Payload'].json.slug, industry: $node['Validate Payload'].json.industry, country: $node['Validate Payload'].json.country, logo_url: ($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.logo_url) || null, brand_colors: ($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.colors) || null, brand_fonts: ($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.fonts) || null }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "persist-client",
      "name": "Persist Client · UPSERT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 1 },
          "conditions": [
            { "id": "ig", "leftValue": "={{ $node['Validate Payload'].json.instagram_handle }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }
          ],
          "combinator": "and"
        }
      },
      "id": "branch-ig",
      "name": "Branch · Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items?token={{ $env.APIFY_API_TOKEN }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ usernames: [$node['Validate Payload'].json.instagram_handle], resultsLimit: 12 }) }}",
        "options": { "timeout": 60000, "response": { "response": { "neverError": true } } }
      },
      "id": "apify-scrape",
      "name": "Apify · Instagram Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'brand-strategist', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + ' (industry=' + $node['Validate Payload'].json.industry + ', location=' + ($node['Validate Payload'].json.location || 'n/a') + '). Diferenciador: ' + ($node['Validate Payload'].json.diferenciador || 'n/a') + '. Products: ' + ($node['Validate Payload'].json.products || 'n/a') + '. Brand assets · USE VERBATIM. Logo: ' + (($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.logo_url) || 'none') + '. Brand colors HEX: ' + (($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.colors) || []).join(', ') + '. Brand fonts: ' + (($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.fonts) || []).join(', ') + '. Scrape: ' + ($node['Validate Payload'].json.scrape_summary || 'none').substring(0, 600) + '. Task: brand book. Return strict JSON keys positioning_statement, brand_voice, values, tagline_options, target_audience_summary, do_say, dont_say. No prose outside JSON.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-brand-strategist",
      "name": "Agent · brand-strategist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'market_research_analyst', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + ' (' + $node['Validate Payload'].json.industry + ', ' + ($node['Validate Payload'].json.country || '') + ', ' + ($node['Validate Payload'].json.location || '') + '). [brand] ' + (($node['Agent · brand-strategist'].json && $node['Agent · brand-strategist'].json.response) || '').substring(0, 2500) + '. Task: 2-4 priority personas. Return strict JSON key personas array of {name, age_range, demographics, pain_points, decision_criteria, preferred_channels, trigger_to_order}. No prose outside JSON.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-market-research",
      "name": "Agent · market_research_analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'creative-director', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + '. Brand assets USE VERBATIM. Logo: ' + (($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.logo_url) || 'none') + '. Colors HEX (palette_top5 MUST start with these): ' + (($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.colors) || []).join(', ') + '. Fonts: ' + (($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.fonts) || []).join(', ') + '. [brand] ' + (($node['Agent · brand-strategist'].json && $node['Agent · brand-strategist'].json.response) || '').substring(0, 1500) + '. [research] ' + (($node['Agent · market_research_analyst'].json && $node['Agent · market_research_analyst'].json.response) || '').substring(0, 1500) + '. Task: visual direction. Return strict JSON keys palette_top5 (array {hex, name}), imagery_style, mood, hero_image_prompt, visual_direction_summary. No prose outside JSON.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-creative-director",
      "name": "Agent · creative-director",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'web-designer', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + '. [brand] ' + (($node['Agent · brand-strategist'].json && $node['Agent · brand-strategist'].json.response) || '').substring(0, 1200) + '. [research] ' + (($node['Agent · market_research_analyst'].json && $node['Agent · market_research_analyst'].json.response) || '').substring(0, 1200) + '. [creative] ' + (($node['Agent · creative-director'].json && $node['Agent · creative-director'].json.response) || '').substring(0, 1500) + '. Task: section architecture. Return strict JSON keys sections (array {name, purpose, primary_cta, content_blocks}), navigation, primary_cta_global, performance_priorities. Reference client-sites-toolkit. No prose outside JSON.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-web-designer",
      "name": "Agent · web-designer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'content-creator', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + ' (' + $node['Validate Payload'].json.industry + ') WhatsApp ' + ($node['Validate Payload'].json.whatsapp || 'n/a') + '. [brand] ' + (($node['Agent · brand-strategist'].json && $node['Agent · brand-strategist'].json.response) || '').substring(0, 1000) + '. [research] ' + (($node['Agent · market_research_analyst'].json && $node['Agent · market_research_analyst'].json.response) || '').substring(0, 1000) + '. [creative] ' + (($node['Agent · creative-director'].json && $node['Agent · creative-director'].json.response) || '').substring(0, 1200) + '. [web] ' + (($node['Agent · web-designer'].json && $node['Agent · web-designer'].json.response) || '').substring(0, 1200) + '. Task: write all UI strings. Return strict JSON keys hero {headline, subheadline, cta_text}, menu {section_title, items}, about {title, body}, contact {title, whatsapp_cta, hours_label}, footer. No prose outside JSON.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-content-creator",
      "name": "Agent · content-creator (marketing)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'spell-check-corrector', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + '. [content] ' + (($node['Agent · content-creator (marketing)'].json && $node['Agent · content-creator (marketing)'].json.response) || '').substring(0, 3000) + '. Task: orthographic + grammar pass. Auto-apply ONLY high-confidence fixes. Return strict JSON keys corrections (array), corrected_copy, flagged_for_review (array), language_detected (es|en|mixed), summary. No prose outside JSON.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-spell-check",
      "name": "Agent · spell-check-corrector (Haiku)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2760, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'editor-en-jefe', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + '. FINAL QA. [brand] ' + (($node['Agent · brand-strategist'].json && $node['Agent · brand-strategist'].json.response) || '').substring(0, 700) + '. [research] ' + (($node['Agent · market_research_analyst'].json && $node['Agent · market_research_analyst'].json.response) || '').substring(0, 700) + '. [creative] ' + (($node['Agent · creative-director'].json && $node['Agent · creative-director'].json.response) || '').substring(0, 700) + '. [web] ' + (($node['Agent · web-designer'].json && $node['Agent · web-designer'].json.response) || '').substring(0, 700) + '. [content] ' + (($node['Agent · content-creator (marketing)'].json && $node['Agent · content-creator (marketing)'].json.response) || '').substring(0, 1000) + '. [spellcheck] ' + (($node['Agent · spell-check-corrector (Haiku)'].json && $node['Agent · spell-check-corrector (Haiku)'].json.response) || '').substring(0, 800) + '. Task: final QA semantic + brand + strategic review (spell-check has already passed). Return strict JSON with keys verdict (approved|revision_needed|escalated), severity (low|medium|high|critical), strengths (array), concerns (array), recommended_fixes (array). No prose outside the JSON. Camino III auto-fires inside /api/agents/run.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-editor-jefe",
      "name": "Agent · editor-en-jefe (Camino III)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3020, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'style-consistency-reviewer', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + '. Cross-output coherence audit. [brand] ' + (($node['Agent · brand-strategist'].json && $node['Agent · brand-strategist'].json.response) || '').substring(0, 800) + '. [research] ' + (($node['Agent · market_research_analyst'].json && $node['Agent · market_research_analyst'].json.response) || '').substring(0, 800) + '. [creative] ' + (($node['Agent · creative-director'].json && $node['Agent · creative-director'].json.response) || '').substring(0, 800) + '. [web] ' + (($node['Agent · web-designer'].json && $node['Agent · web-designer'].json.response) || '').substring(0, 800) + '. [content] ' + (($node['Agent · content-creator (marketing)'].json && $node['Agent · content-creator (marketing)'].json.response) || '').substring(0, 1000) + '. Task: score 4 axes (tone_alignment, vocabulary_harmony, voice_fidelity, pov_consistency) each 0-100. Return strict JSON with keys axis_scores, drift_findings (array), overall_score (0-100), recommended_action (approve|minor_fixes|major_revision). No prose outside the JSON.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-style-reviewer",
      "name": "Agent · style-consistency-reviewer (Gap 4)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3280, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ agent: 'delivery-coordinator', task: 'Cliente: ' + $node['Validate Payload'].json.client_name + '. Final shippability gate. [editor] ' + (($node['Agent · editor-en-jefe (Camino III)'].json && $node['Agent · editor-en-jefe (Camino III)'].json.response) || '').substring(0, 2000) + '. [style] ' + (($node['Agent · style-consistency-reviewer (Gap 4)'].json && $node['Agent · style-consistency-reviewer (Gap 4)'].json.response) || '').substring(0, 2000) + '. Task: 7-check audit (brand_guardrails, copy_consistency, visual_harmony, cta_clarity, mobile_intent, accessibility_floor, locale_sanity). Return strict JSON with keys checks (object of 7 booleans + per-check notes), overall_status (ship|return_to_producer|escalate_to_hitl), blockers (array), recommendations (array). No prose outside the JSON.', client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, caller: 'n8n-cliente-nuevo-landing-cascade-master' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "agent-delivery-coord",
      "name": "Agent · delivery-coordinator (Gap 5)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/images/generate",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function() { let prompt = 'Hero landing image for ' + $node['Validate Payload'].json.client_name + ' (' + $node['Validate Payload'].json.industry + '). Brand colors HEX (use these): ' + (($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.colors) || []).join(', ') + '. Style guidance from creative-director: ' + (($node['Agent · creative-director'].json && $node['Agent · creative-director'].json.response) || '').substring(0, 1500); try { const c = JSON.parse((($node['Agent · creative-director'].json && $node['Agent · creative-director'].json.response) || '{}').replace(/^```json\\s*/, '').replace(/```\\s*$/, '')); if (c && c.hero_image_prompt) { prompt = c.hero_image_prompt + ' Brand colors HEX (use these palette): ' + (($node['Validate Payload'].json.brand_assets && $node['Validate Payload'].json.brand_assets.colors) || []).join(', '); } } catch (e) {} return { prompt: prompt, client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, agent_slug: 'creative-director', size: '1024x1024', caller: 'n8n-cliente-nuevo-landing-cascade-master' }; })() }}",
        "options": { "timeout": 120000, "response": { "response": { "neverError": true } } }
      },
      "id": "hero-gen",
      "name": "Hero · GPT Image (post-delivery)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3800, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/cascade/persist-outputs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ client_id: $node['Persist Client · UPSERT'].json.id || $node['Persist Client · UPSERT'].json.client_id, slug: $node['Validate Payload'].json.slug, version: 'v2', task_id: $node['Validate Payload'].json.task_id, outputs: { brand: $node['Agent · brand-strategist'].json, research: $node['Agent · market_research_analyst'].json, creative: $node['Agent · creative-director'].json, web: $node['Agent · web-designer'].json, content: $node['Agent · content-creator (marketing)'].json, spellcheck: $node['Agent · spell-check-corrector (Haiku)'].json, editor: $node['Agent · editor-en-jefe (Camino III)'].json, style: $node['Agent · style-consistency-reviewer (Gap 4)'].json, delivery: $node['Agent · delivery-coordinator (Gap 5)'].json, hero: $node['Hero · GPT Image (post-delivery)'].json, scrape: $node['Apify · Instagram Scrape'].json } }) }}",
        "options": { "timeout": 60000, "response": { "response": { "neverError": true } } }
      },
      "id": "persist-outputs",
      "name": "Save All Outputs · Storage v2/",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4060, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/cascade/copy-hero-to-v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ slug: $node['Validate Payload'].json.slug, version: 'v2', source_image_url: ($node['Hero · GPT Image (post-delivery)'].json && $node['Hero · GPT Image (post-delivery)'].json.image_url) || null }) }}",
        "options": { "timeout": 30000, "response": { "response": { "neverError": true } } }
      },
      "id": "hero-copy-v2",
      "name": "Hero · Copy to v2/hero.png",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4320, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL_EQUIPO }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ text: '[FROM-N8N] [CLIENTE-NUEVO-LANDING-CASCADE-COMPLETE] · client=' + $node['Validate Payload'].json.client_name + ' · slug=' + $node['Validate Payload'].json.slug + ' · task_id=' + $node['Validate Payload'].json.task_id + ' · editor_verdict=' + (($node['Agent · editor-en-jefe (Camino III)'].json && $node['Agent · editor-en-jefe (Camino III)'].json.response) ? 'see-payload' : 'pending') + ' · delivery_status=' + (($node['Agent · delivery-coordinator (Gap 5)'].json && $node['Agent · delivery-coordinator (Gap 5)'].json.response) ? 'see-payload' : 'pending') + ' · hero=' + (($node['Hero · GPT Image (post-delivery)'].json && $node['Hero · GPT Image (post-delivery)'].json.image_url) ? 'generated' : 'failed') + ' · outputs at client-websites/' + $node['Validate Payload'].json.slug + '/v2/' }) }}",
        "options": { "timeout": 15000, "response": { "response": { "neverError": true } } }
      },
      "id": "slack-notify",
      "name": "Notify · Slack + CC#4 Callback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4580, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ ok: true, task_id: $node['Validate Payload'].json.task_id, client_id: $node['Persist Client · UPSERT'].json.id, slug: $node['Validate Payload'].json.slug, version: 'v2', outputs_path: 'client-websites/' + $node['Validate Payload'].json.slug + '/v2/', editor_verdict_present: !!($node['Agent · editor-en-jefe (Camino III)'].json && $node['Agent · editor-en-jefe (Camino III)'].json.response), delivery_status_present: !!($node['Agent · delivery-coordinator (Gap 5)'].json && $node['Agent · delivery-coordinator (Gap 5)'].json.response), style_review_present: !!($node['Agent · style-consistency-reviewer (Gap 4)'].json && $node['Agent · style-consistency-reviewer (Gap 4)'].json.response), hero_generated: !!($node['Hero · GPT Image (post-delivery)'].json && $node['Hero · GPT Image (post-delivery)'].json.image_url), hero_v2_path: ($node['Hero · Copy to v2/hero.png'].json && $node['Hero · Copy to v2/hero.png'].json.path) || null }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4840, 400]
    }
  ],
  "connections": {
    "Webhook · Cliente Nuevo Landing": { "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]] },
    "Validate Payload": { "main": [[{ "node": "Persist Client · UPSERT", "type": "main", "index": 0 }]] },
    "Persist Client · UPSERT": { "main": [[{ "node": "Branch · Instagram?", "type": "main", "index": 0 }]] },
    "Branch · Instagram?": {
      "main": [
        [{ "node": "Apify · Instagram Scrape", "type": "main", "index": 0 }],
        [{ "node": "Agent · brand-strategist", "type": "main", "index": 0 }]
      ]
    },
    "Apify · Instagram Scrape": { "main": [[{ "node": "Agent · brand-strategist", "type": "main", "index": 0 }]] },
    "Agent · brand-strategist": { "main": [[{ "node": "Agent · market_research_analyst", "type": "main", "index": 0 }]] },
    "Agent · market_research_analyst": { "main": [[{ "node": "Agent · creative-director", "type": "main", "index": 0 }]] },
    "Agent · creative-director": { "main": [[{ "node": "Agent · web-designer", "type": "main", "index": 0 }]] },
    "Agent · web-designer": { "main": [[{ "node": "Agent · content-creator (marketing)", "type": "main", "index": 0 }]] },
    "Agent · content-creator (marketing)": { "main": [[{ "node": "Agent · spell-check-corrector (Haiku)", "type": "main", "index": 0 }]] },
    "Agent · spell-check-corrector (Haiku)": { "main": [[{ "node": "Agent · editor-en-jefe (Camino III)", "type": "main", "index": 0 }]] },
    "Agent · editor-en-jefe (Camino III)": { "main": [[{ "node": "Agent · style-consistency-reviewer (Gap 4)", "type": "main", "index": 0 }]] },
    "Agent · style-consistency-reviewer (Gap 4)": { "main": [[{ "node": "Agent · delivery-coordinator (Gap 5)", "type": "main", "index": 0 }]] },
    "Agent · delivery-coordinator (Gap 5)": { "main": [[{ "node": "Hero · GPT Image (post-delivery)", "type": "main", "index": 0 }]] },
    "Hero · GPT Image (post-delivery)": { "main": [[{ "node": "Save All Outputs · Storage v2/", "type": "main", "index": 0 }]] },
    "Save All Outputs · Storage v2/": { "main": [[{ "node": "Hero · Copy to v2/hero.png", "type": "main", "index": 0 }]] },
    "Hero · Copy to v2/hero.png": { "main": [[{ "node": "Notify · Slack + CC#4 Callback", "type": "main", "index": 0 }]] },
    "Notify · Slack + CC#4 Callback": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [
    { "name": "zero-risk", "id": "1" },
    { "name": "tier-1", "id": "13" },
    { "name": "cascade", "id": "23" },
    { "name": "client-onboarding", "id": "24" },
    { "name": "pilar-1", "id": "2" }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
