n8n-workflows/tier-1/closed-loop-attribution.json
{
  "name": "Zero Risk — Closed-Loop Attribution (Daily 2am)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 2 * * *" }] } },
      "id": "cron",
      "name": "Daily 2am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/campaigns?status=active&days=30",
        "options": { "timeout": 30000 }
      },
      "id": "fetch-campaigns",
      "name": "Fetch Active Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 320]
    },
    {
      "parameters": { "fieldToSplitOut": "campaigns", "options": {} },
      "id": "split",
      "name": "Split",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/analytics/campaign-results?campaign_id={{ $json.id }}",
        "options": { "timeout": 20000, "response": { "response": { "neverError": true } } }
      },
      "id": "spend",
      "name": "Get Spend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/ghl/opportunities?campaign_id={{ $json.id }}&days=30",
        "options": { "timeout": 20000, "response": { "response": { "neverError": true } } }
      },
      "id": "opps",
      "name": "Get Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420]
    },
    {
      "parameters": { "mode": "combine", "combineBy": "combineByPosition", "options": {} },
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1140, 320]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst spend = all[0]?.json || {};\nconst opps = all[1]?.json || {};\nconst campaign = $node['Split'].json;\n\nconst spendUsd = spend.total_cost_usd ?? 0;\nconst impressions = spend.impressions ?? 0;\nconst clicks = spend.clicks ?? 0;\nconst leads = spend.leads ?? 0;\nconst oppsCreated = (opps.won?.length || 0) + (opps.lost?.length || 0) + (opps.open?.length || 0);\nconst revenueWon = (opps.won || []).reduce((s, o) => s + (o.monetary_value || 0), 0);\nconst wonCount = (opps.won || []).length;\nconst lostCount = (opps.lost || []).length;\n\nconst roas = spendUsd > 0 ? revenueWon / spendUsd : 0;\nconst cpa = leads > 0 ? spendUsd / leads : null;\nconst cpo = oppsCreated > 0 ? spendUsd / oppsCreated : null;\nconst winRate = (wonCount + lostCount) > 0 ? wonCount / (wonCount + lostCount) : null;\n\nreturn [{ json: {\n  campaign_id: campaign.id,\n  campaign_name: campaign.name,\n  client_id: campaign.client_id,\n  date: new Date().toISOString().slice(0, 10),\n  spend_usd: Math.round(spendUsd * 100) / 100,\n  revenue_usd: Math.round(revenueWon * 100) / 100,\n  roas: Math.round(roas * 100) / 100,\n  cpa,\n  cpo,\n  win_rate: winRate,\n  leads, impressions, clicks,\n  opps_created: oppsCreated, won: wonCount, lost: lostCount\n} }];"
      },
      "id": "compute",
      "name": "Compute Attribution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/analytics/attribution",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }, { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "persist",
      "name": "Persist Attribution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.roas }}", "rightValue": 1.5, "operator": { "type": "number", "operation": "lt" } }
          ]
        }
      },
      "id": "underperform",
      "name": "ROAS < 1.5?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1860, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            { "leftValue": "={{ $json.roas }}", "rightValue": 4, "operator": { "type": "number", "operation": "gt" } }
          ]
        }
      },
      "id": "winner",
      "name": "ROAS > 4?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1860, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }, { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"meta_agent\",\n  \"task\": \"Optimize underperforming campaign {{ $json.campaign_name }} (ID: {{ $json.campaign_id }}). Current ROAS: {{ $json.roas }}. Spend: ${{ $json.spend_usd }}. Revenue: ${{ $json.revenue_usd }}. Propose specific changes to creatives, audience, or bidding.\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"extra\": {{ JSON.stringify($json) }}\n}",
        "options": { "timeout": 120000 }
      },
      "id": "optimize",
      "name": "Invoke Meta-Agent (Optimize)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/agents/run-sdk",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }, { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"meta_agent\",\n  \"task\": \"Scale winning campaign {{ $json.campaign_name }} (ID: {{ $json.campaign_id }}). ROAS is {{ $json.roas }}x. Propose scaling plan (budget increase, audience expansion, creative variants).\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"extra\": {{ JSON.stringify($json) }}\n}",
        "options": { "timeout": 120000 }
      },
      "id": "scale",
      "name": "Invoke Meta-Agent (Scale)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2100, 440]
    }
  ],
  "connections": {
    "Daily 2am": { "main": [[{ "node": "Fetch Active Campaigns", "type": "main", "index": 0 }]] },
    "Fetch Active Campaigns": { "main": [[{ "node": "Split", "type": "main", "index": 0 }]] },
    "Split": { "main": [[{ "node": "Get Spend", "type": "main", "index": 0 }, { "node": "Get Opportunities", "type": "main", "index": 0 }]] },
    "Get Spend": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Get Opportunities": { "main": [[{ "node": "Merge", "type": "main", "index": 1 }]] },
    "Merge": { "main": [[{ "node": "Compute Attribution", "type": "main", "index": 0 }]] },
    "Compute Attribution": { "main": [[{ "node": "Persist Attribution", "type": "main", "index": 0 }]] },
    "Persist Attribution": { "main": [[{ "node": "ROAS < 1.5?", "type": "main", "index": 0 }, { "node": "ROAS > 4?", "type": "main", "index": 0 }]] },
    "ROAS < 1.5?": { "main": [[{ "node": "Invoke Meta-Agent (Optimize)", "type": "main", "index": 0 }], []] },
    "ROAS > 4?": { "main": [[{ "node": "Invoke Meta-Agent (Scale)", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "zero-risk", "id": "1" }, { "name": "pilar-5", "id": "6" }, { "name": "tier-1", "id": "13" }, { "name": "attribution", "id": "15" }],
  "triggerCount": 1,
  "versionId": "1"
}
