n8n-workflows/tier-1/customer-health-score.json
{
  "name": "Zero Risk — Customer Health Score (Daily 7am)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }] } },
      "id": "cron",
      "name": "Daily 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/clients?status=active",
        "options": { "timeout": 30000 }
      },
      "id": "fetch-clients",
      "name": "Fetch Active Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 320]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients",
        "options": {}
      },
      "id": "split",
      "name": "Split Clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/analytics/campaign-results?client_id={{ $json.id }}&days=30",
        "options": { "timeout": 20000, "response": { "response": { "neverError": true } } }
      },
      "id": "perf",
      "name": "Perf Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/pipeline/status?client_id={{ $json.id }}&days=30",
        "options": { "timeout": 20000, "response": { "response": { "neverError": true } } }
      },
      "id": "pipes",
      "name": "Pipeline Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/hitl/pending?client_id={{ $json.id }}",
        "options": { "timeout": 20000, "response": { "response": { "neverError": true } } }
      },
      "id": "hitl",
      "name": "HITL Backlog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 460]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge",
      "name": "Merge Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 320]
    },
    {
      "parameters": {
        "jsCode": "// Expects 3 merged inputs; fall back to iteration-aware fetch from $items.\nconst all = $input.all();\nconst perf = all[0]?.json || {};\nconst pipes = all[1]?.json || {};\nconst hitl = all[2]?.json || {};\nconst client = $node['Split Clients'].json;\n\nconst roasTrend = perf.roas_trend || 'flat'; // 'up' | 'flat' | 'down'\nconst successRate = pipes.success_rate ?? 0;\nconst hitlBacklog = hitl.count ?? 0;\nconst hitlAvgResponseHrs = hitl.avg_response_hours ?? 48;\nconst tenureMonths = client.tenure_months ?? 0;\nconst npsLast = client.nps_last ?? null;\n\nlet score = 0;\nconst factors = {};\n// ROAS trend\nif (roasTrend === 'up') { score += 25; factors.roas = 25; }\nelse if (roasTrend === 'flat') { score += 10; factors.roas = 10; }\nelse { factors.roas = 0; }\n// Pipeline success rate\nif (successRate > 0.8) { score += 20; factors.pipes = 20; } else if (successRate > 0.5) { score += 10; factors.pipes = 10; }\n// HITL backlog (healthy = low)\nif (hitlBacklog < 3) { score += 15; factors.hitl_backlog = 15; }\nelse if (hitlBacklog > 10) { score -= 10; factors.hitl_backlog = -10; }\n// Engagement: responses < 24h\nif (hitlAvgResponseHrs < 24) { score += 20; factors.engagement = 20; } else if (hitlAvgResponseHrs < 48) { score += 10; factors.engagement = 10; }\n// Tenure\nif (tenureMonths > 3) { score += 10; factors.tenure = 10; }\n// NPS\nif (npsLast !== null && npsLast >= 8) { score += 10; factors.nps = 10; } else if (npsLast !== null && npsLast <= 6) { score -= 5; factors.nps = -5; }\n\nscore = Math.max(0, Math.min(100, score));\nconst bucket = score >= 70 ? 'healthy' : score >= 40 ? 'at_risk' : 'critical';\n\nreturn [{ json: { client_id: client.id, client_name: client.name, score, bucket, factors, signals: { roasTrend, successRate, hitlBacklog, hitlAvgResponseHrs, tenureMonths, npsLast } } }];"
      },
      "id": "score",
      "name": "Compute Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/clients/health-snapshot",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }, { "name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "persist",
      "name": "Persist Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json.bucket }}", "rightValue": "critical", "operator": { "type": "string", "operation": "equals" } }]
        }
      },
      "id": "is-critical",
      "name": "Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1840, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_ALERTS_CHANNEL || $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚨 *CHURN RISK*\\n• Client: {{ $json.client_name }}\\n• Health Score: {{ $json.score }}/100\\n• ROAS trend: {{ $json.signals.roasTrend }}\\n• Pipeline success: {{ Math.round(($json.signals.successRate || 0) * 100) }}%\\n• HITL backlog: {{ $json.signals.hitlBacklog }}\\n\\n→ Acción sugerida: Retention call inmediata\"\n}",
        "options": {}
      },
      "id": "alert",
      "name": "Alert Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'http://localhost:3000' }}/api/mc-sync",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }, { "name": "x-api-key", "value": "={{ $env.MC_API_KEY }}" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"create_task\",\n  \"title\": \"Retention call: {{ $json.client_name }}\",\n  \"priority\": \"high\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"metadata\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "mc-task",
      "name": "MC: Create Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 220]
    },
    {
      "parameters": {},
      "id": "noop",
      "name": "Healthy/At-Risk",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2080, 420]
    }
  ],
  "connections": {
    "Daily 7am": { "main": [[{ "node": "Fetch Active Clients", "type": "main", "index": 0 }]] },
    "Fetch Active Clients": { "main": [[{ "node": "Split Clients", "type": "main", "index": 0 }]] },
    "Split Clients": { "main": [[{ "node": "Perf Metrics", "type": "main", "index": 0 }, { "node": "Pipeline Status", "type": "main", "index": 0 }, { "node": "HITL Backlog", "type": "main", "index": 0 }]] },
    "Perf Metrics": { "main": [[{ "node": "Merge Signals", "type": "main", "index": 0 }]] },
    "Pipeline Status": { "main": [[{ "node": "Merge Signals", "type": "main", "index": 1 }]] },
    "HITL Backlog": { "main": [[{ "node": "Merge Signals", "type": "main", "index": 2 }]] },
    "Merge Signals": { "main": [[{ "node": "Compute Health", "type": "main", "index": 0 }]] },
    "Compute Health": { "main": [[{ "node": "Persist Snapshot", "type": "main", "index": 0 }]] },
    "Persist Snapshot": { "main": [[{ "node": "Critical?", "type": "main", "index": 0 }]] },
    "Critical?": { "main": [[{ "node": "Alert Slack", "type": "main", "index": 0 }], [{ "node": "Healthy/At-Risk", "type": "main", "index": 0 }]] },
    "Alert Slack": { "main": [[{ "node": "MC: Create Task", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": [{ "name": "zero-risk", "id": "1" }, { "name": "pilar-5", "id": "6" }, { "name": "tier-1", "id": "13" }, { "name": "retention", "id": "14" }],
  "triggerCount": 1,
  "versionId": "1"
}
