n8n-workflows/proposed-sesion27b/02-creative/workflow-5-content-repurposing-1-to-n.json
{
  "name": "Zero Risk — Content Repurposing 1→N (Webhook or Cron)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zero-risk/content-repurpose",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook: Pillar Content",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "c1d87954-af22-4fca-be07-4053f83659ee"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nif (!b.client_id || !b.pillar_id) throw new Error('client_id and pillar_id required');\nreturn [{ json: {\n  task_id: `repurpose_${Date.now()}_${Math.random().toString(36).slice(2,8)}`,\n  client_id: b.client_id,\n  pillar_id: b.pillar_id,\n  pillar_type: b.pillar_type || 'blog_post',\n  platforms: b.platforms || ['linkedin', 'twitter', 'instagram', 'tiktok', 'email', 'video_script'],\n  content_url: b.content_url || null,\n  auto_publish: b.auto_publish || false,\n  started_at: new Date().toISOString()\n} }];"
      },
      "id": "validate",
      "name": "Code: Validate Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/content/fetch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id || '' }}\",\n  \"pillar_id\": \"{{ $('Code: Validate Brief').item.json.pillar_id || '' }}\",\n  \"pillar_type\": \"{{ $('Code: Validate Brief').item.json.pillar_type || '' }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id || '' }}\",\n  \"platforms\": {{ JSON.stringify($('Code: Validate Brief').item.json.platforms ?? []) }},\n  \"content_url\": {{ JSON.stringify($('Code: Validate Brief').item.json.content_url ?? null) }},\n  \"auto_publish\": {{ Boolean($('Code: Validate Brief').item.json.auto_publish) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-pillar",
      "name": "Fetch: Pillar Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/client-brain/rag-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id || '' }}\",\n  \"query\": \"Brand voice, tone per platform, content style, key messages, repurposing performance\",\n  \"k\": 20,\n  \"pillar_id\": \"{{ $('Code: Validate Brief').item.json.pillar_id || '' }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id || '' }}\"\n}",
        "options": {}
      },
      "id": "brain",
      "name": "Client Brain: Style Guide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "x-smoke-test",
              "value": "={{ ($('Code: Validate Brief').item.json.client_id || \"\").startsWith(\"smoke-\") ? \"1\" : \"\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"content-creator\",\n  \"model\": \"claude-sonnet-4-6\",\n  \"task\": {{ JSON.stringify('Repurpose pillar content into ' + (($('Code: Validate Brief').item.json.platforms || []).length) + ' platform-specific formats: ' + ($('Code: Validate Brief').item.json.platforms || []).join(', ') + '. Each variant adapts tone to platform while preserving core message. Output JSON with platform-keyed variants object.') }},\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id || '' }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id || '' }}\",\n  \"pillar_id\": \"{{ $('Code: Validate Brief').item.json.pillar_id || '' }}\",\n  \"platforms\": {{ JSON.stringify($('Code: Validate Brief').item.json.platforms ?? []) }},\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"context\": { \"smoke_test\": {{ ($('Code: Validate Brief').item.json.client_id || \"\").startsWith(\"smoke-\") }} },\n  \"extra\": { \"pillar\": {{ JSON.stringify($('Fetch: Pillar Content').item.json ?? {}) }}, \"brand_context\": {{ JSON.stringify($('Client Brain: Style Guide').item.json ?? {}) }}, \"brief\": {{ JSON.stringify($('Code: Validate Brief').item.json ?? {}) }} }\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "content-creator-agent",
      "name": "Agent: Content Creator (Repurpose)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/content-queue/store",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id || '' }}\",\n  \"source_pillar_id\": \"{{ $('Code: Validate Brief').item.json.pillar_id || '' }}\",\n  \"repurposing_task_id\": \"{{ $('Code: Validate Brief').item.json.task_id || '' }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id || '' }}\",\n  \"variants\": {{ JSON.stringify($('Agent: Content Creator (Repurpose)').item.json.variants || {}) }},\n  \"queue_status\": \"awaiting_approval\",\n  \"auto_publish\": {{ Boolean($('Code: Validate Brief').item.json.auto_publish) }},\n  \"platforms\": {{ JSON.stringify($('Code: Validate Brief').item.json.platforms ?? []) }},\n  \"pillar_type\": \"{{ $('Code: Validate Brief').item.json.pillar_type || '' }}\",\n  \"created_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "store-queue",
      "name": "Store: Repurposing Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.auto_publish }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-auto-publish",
      "name": "If: Auto-Publish Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "x-smoke-test",
              "value": "={{ ($('Code: Validate Brief').item.json.client_id || \"\").startsWith(\"smoke-\") ? \"1\" : \"\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"growth-hacker\",\n  \"model\": \"claude-sonnet-4-6\",\n  \"task\": {{ JSON.stringify('Publish repurposed content via GHL Social + Metricool. Target platforms: ' + (($('Code: Validate Brief').item.json.platforms || []).join(', '))) }},\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id || '' }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id || '' }}\",\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"context\": { \"smoke_test\": {{ ($('Code: Validate Brief').item.json.client_id || \"\").startsWith(\"smoke-\") }} },\n  \"extra\": { \"variants\": {{ JSON.stringify($('Agent: Content Creator (Repurpose)').item.json.variants || {}) }}, \"auto_schedule\": true, \"brief\": {{ JSON.stringify($('Code: Validate Brief').item.json ?? {}) }} }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "auto-publish-agent",
      "name": "Agent: Growth Hacker (Publish)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/outcomes/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_type\": \"content_repurposing\",\n  \"agent_slug\": \"content-creator\",\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id || '' }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id || '' }}\",\n  \"task_input\": {{ JSON.stringify('pillar_id=' + ($('Code: Validate Brief').item.json.pillar_id || '') + ' type=' + ($('Code: Validate Brief').item.json.pillar_type || '')) }},\n  \"output_summary\": {{ JSON.stringify('Repurposed into ' + ((Object.keys($('Agent: Content Creator (Repurpose)').item.json.variants || {})).length) + ' variants across ' + (($('Code: Validate Brief').item.json.platforms || []).length) + ' platforms') }},\n  \"success\": true,\n  \"duration_ms\": 0,\n  \"cost_usd\": 0,\n  \"platforms\": {{ JSON.stringify($('Code: Validate Brief').item.json.platforms ?? []) }},\n  \"auto_publish\": {{ Boolean($('Code: Validate Brief').item.json.auto_publish) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "record-outcome",
      "name": "Record: Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify('Content Repurposed 1->' + ((Object.keys($('Agent: Content Creator (Repurpose)').item.json.variants || {})).length) + ': Task ' + ($('Code: Validate Brief').item.json.task_id || '') + '. Platforms: ' + (($('Code: Validate Brief').item.json.platforms || []).join(', '))) }},\n  \"blocks\": [\n    { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": {{ JSON.stringify('*Content Repurposing Complete*\\nTask: ' + ($('Code: Validate Brief').item.json.task_id || '') + '\\nSource: ' + ($('Code: Validate Brief').item.json.pillar_type || '') + '\\nVariants: ' + ((Object.keys($('Agent: Content Creator (Repurpose)').item.json.variants || {})).length) + '\\nPlatforms: ' + (($('Code: Validate Brief').item.json.platforms || []).join(', ')) + '\\nStatus: ' + ($('Code: Validate Brief').item.json.auto_publish ? 'Published' : 'Queued for approval')) }} } }\n  ]\n}",
        "options": {
          "timeout": 10000
        },
        "sendHeaders": false
      },
      "id": "notify-slack",
      "name": "Slack: Notify Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { message: 'Auto-publish disabled. Content queued for manual approval.' } }];"
      },
      "id": "no-op",
      "name": "No-Op: Manual Approval Path",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        500
      ]
    },
    {
      "id": "mc-inbox-RkH4ny",
      "name": "Notify MC Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://zero-risk-mission-control-production.up.railway.app/api/inbox",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "masterPassword",
              "value": "zerorisk2026"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"from\":\"content-repurposing\",\"to\":\"leader\",\"type\":\"report\",\"taskId\":\"{{ $json.task_id ?? $json.client_id ?? ('wf-' + $now) }}\",\"subject\":\"Content Repurposing completado\",\"body\":\"client={{ $json.client_id ?? 'unknown' }} | workflow={{ $workflow.name }}\"}",
        "options": {
          "allowUnauthorizedCerts": false
        }
      }
    }
  ],
  "connections": {
    "Webhook: Pillar Content": {
      "main": [
        [
          {
            "node": "Code: Validate Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate Brief": {
      "main": [
        [
          {
            "node": "Fetch: Pillar Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch: Pillar Content": {
      "main": [
        [
          {
            "node": "Client Brain: Style Guide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Brain: Style Guide": {
      "main": [
        [
          {
            "node": "Agent: Content Creator (Repurpose)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Content Creator (Repurpose)": {
      "main": [
        [
          {
            "node": "Store: Repurposing Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store: Repurposing Queue": {
      "main": [
        [
          {
            "node": "If: Auto-Publish Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Auto-Publish Enabled?": {
      "main": [
        [
          {
            "node": "Agent: Growth Hacker (Publish)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No-Op: Manual Approval Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Growth Hacker (Publish)": {
      "main": [
        [
          {
            "node": "Record: Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record: Outcome": {
      "main": [
        [
          {
            "node": "Slack: Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Notify Team": {
      "main": [
        [
          {
            "node": "Notify MC Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "5353564d-d0e0-4f9a-b7e3-8bc9f9aa2970"
}
