n8n-workflows/proposed-sesion27b/02-creative/workflow-3-rsa-headline-variant-generator.json
{
  "name": "Zero Risk — RSA 15-Headline Variant Generator (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zero-risk/rsa-generate",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook: RSA Brief",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "1cb529b0-d6e8-483b-9b53-ac7ea1641c1b"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nif (!b.client_id || !b.campaign_brief) throw new Error('client_id and campaign_brief required');\nreturn [{ json: {\n  task_id: `rsa_${Date.now()}_${Math.random().toString(36).slice(2,8)}`,\n  client_id: b.client_id,\n  campaign_brief: b.campaign_brief,\n  brand_voice: b.brand_voice || null,\n  existing_headlines: b.existing_headlines || [],\n  keyword: b.keyword || null,\n  platform: b.platform || 'google_ads',\n  started_at: new Date().toISOString()\n} }];"
      },
      "id": "validate",
      "name": "Code: Validate Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/client-brain/rag-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"query\": \"Brand voice, messaging tone, unique value propositions, differentiation, keywords, past RSA performance\",\n  \"k\": 15,\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"campaign_brief\": {{ JSON.stringify(($('Code: Validate Brief').item.json.campaign_brief) ?? null) }},\n  \"keyword\": {{ JSON.stringify(($('Code: Validate Brief').item.json.keyword) ?? null) }},\n  \"platform\": \"{{ $('Code: Validate Brief').item.json.platform }}\"\n}",
        "options": {}
      },
      "id": "brain",
      "name": "Client Brain: Brand Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "x-smoke-test",
              "value": "={{ ($('Code: Validate Brief').item.json.client_id || \"\").startsWith(\"smoke-\") ? \"1\" : \"\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"creative-director\",\n  \"model\": \"claude-sonnet-4-6\",\n  \"task\": {{ JSON.stringify('Generate RSA 15-headline matrix for campaign: ' + $('Code: Validate Brief').item.json.campaign_brief + ' (keyword: ' + ($('Code: Validate Brief').item.json.keyword || 'none') + '). Structure: 5 headlines grouped as {brand, benefit, feature, CTA, social_proof}. Max 30 chars each, orthogonal, apply Schwartz emotional triggers, align brand voice. Output JSON with headline_matrix[5][3], validation_notes, estimated CTR vs existing.') }},\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"campaign_brief\": {{ JSON.stringify(($('Code: Validate Brief').item.json.campaign_brief) ?? null) }},\n  \"keyword\": {{ JSON.stringify(($('Code: Validate Brief').item.json.keyword) ?? null) }},\n  \"platform\": \"{{ $('Code: Validate Brief').item.json.platform }}\",\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"context\": { \"smoke_test\": {{ ($('Code: Validate Brief').item.json.client_id || \"\").startsWith(\"smoke-\") }} },\n  \"extra\": { \"brief\": {{ JSON.stringify(($('Code: Validate Brief').item.json) ?? null) }}, \"brand\": {{ JSON.stringify(($('Client Brain: Brand Context').item.json) ?? null) }} }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "creative-director",
      "name": "Agent: Creative Director (RSA Gen)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Re-validate the agent's 15-headline matrix, but also handle the mock case\n// where the smoke-test stub returns an empty matrix. Always include enough fields\n// so downstream Store/Record/Slack nodes succeed.\nconst agent = $('Agent: Creative Director (RSA Gen)').item.json || {};\nconst vb = $('Code: Validate Brief').item.json || {};\nlet headlines = agent.headline_matrix;\nif (!Array.isArray(headlines)) headlines = agent.headlines || [];\n// Flatten if nested\nif (headlines.length && Array.isArray(headlines[0])) headlines = headlines.flat();\nconst errors = [];\nconst validations = {\n  char_count_violations: [],\n  duplicate_headlines: [],\n  matrix_coherence: 'pass'\n};\nheadlines.forEach((h, i) => {\n  if (typeof h === 'string' && h.length > 30) {\n    validations.char_count_violations.push({ index: i, headline: h, length: h.length });\n  }\n});\nconst unique = new Set(headlines);\nif (unique.size !== headlines.length) {\n  validations.duplicate_headlines = headlines.filter((h, i) => headlines.indexOf(h) !== i);\n}\nif (validations.char_count_violations.length > 0) errors.push('Character count violations detected');\nif (validations.duplicate_headlines.length > 0) errors.push('Duplicate headlines detected');\nreturn [{ json: {\n  ...vb,\n  validation_passed: errors.length === 0,\n  errors,\n  details: validations,\n  headline_count: headlines.length,\n  headlines,\n} }];"
      },
      "id": "validate-matrix",
      "name": "Code: Validate RSA Matrix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.validation_passed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-valid",
      "name": "If: Validation Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/headlines/library",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"campaign_id\": {{ JSON.stringify(($('Code: Validate Brief').item.json.campaign_brief) ?? null) }},\n  \"headline_set\": {\n    \"set_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n    \"headlines\": {{ JSON.stringify(($('Code: Validate RSA Matrix').item.json.headlines) ?? null) }},\n    \"category_breakdown\": \"5 headlines x 3 groupings\",\n    \"validation_status\": {{ $('Code: Validate RSA Matrix').item.json.validation_passed ? '\"passed\"' : '\"failed\"' }},\n    \"created_at\": \"{{ new Date().toISOString() }}\"\n  },\n  \"keyword\": {{ JSON.stringify(($('Code: Validate Brief').item.json.keyword) ?? null) }},\n  \"platform\": \"{{ $('Code: Validate Brief').item.json.platform }}\",\n  \"headline_count\": {{ $('Code: Validate RSA Matrix').item.json.headline_count }},\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "store-headline-set",
      "name": "Store: RSA Headline Library",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/outcomes/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_type\": \"rsa_generation\",\n  \"agent_slug\": \"creative-director\",\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"task_input\": {{ JSON.stringify(($('Code: Validate Brief').item.json.campaign_brief) ?? null) }},\n  \"output_summary\": {{ JSON.stringify('RSA matrix: ' + ($('Code: Validate RSA Matrix').item.json.headline_count || 0) + ' headlines, keyword=' + ($('Code: Validate Brief').item.json.keyword || 'none')) }},\n  \"success\": {{ $('Code: Validate RSA Matrix').item.json.validation_passed }},\n  \"duration_ms\": 0,\n  \"cost_usd\": 0,\n  \"platform\": \"{{ $('Code: Validate Brief').item.json.platform }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "record-outcome",
      "name": "Record: Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify(('RSA 15-Headline Set Generated: ' + $('Code: Validate Brief').item.json.task_id + '. Headlines ready for ' + $('Code: Validate Brief').item.json.platform) ?? null) }},\n  \"blocks\": [\n    { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": {{ JSON.stringify('*RSA Headline Matrix Generated*\\nSet ID: ' + $('Code: Validate Brief').item.json.task_id + '\\nCount: ' + ($('Code: Validate RSA Matrix').item.json.headline_count || 0) + '\\nValidation: ' + ($('Code: Validate RSA Matrix').item.json.validation_passed ? 'PASSED' : 'FAILED') + '\\nStatus: Ready for ' + $('Code: Validate Brief').item.json.platform) }} } }\n  ]\n}",
        "options": {
          "timeout": 10000
        },
        "sendHeaders": false
      },
      "id": "notify-slack",
      "name": "Slack: Notify Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        150
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify('RSA Validation Failed: ' + $('Code: Validate Brief').item.json.task_id + '. Errors: ' + JSON.stringify($('Code: Validate RSA Matrix').item.json.errors || [])) }},\n  \"blocks\": [\n    { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": {{ JSON.stringify('*RSA Validation Error*\\nSet ID: ' + $('Code: Validate Brief').item.json.task_id + '\\nErrors: ' + (($('Code: Validate RSA Matrix').item.json.errors || []).join(', '))) }} } }\n  ]\n}",
        "options": {
          "timeout": 10000
        },
        "sendHeaders": false
      },
      "id": "notify-failure",
      "name": "Slack: Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        450
      ],
      "disabled": true
    },
    {
      "id": "notify-mc-inbox",
      "name": "Notify MC Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MC_BASE_URL || 'https://zero-risk-mission-control-production.up.railway.app' }}/api/inbox?masterPassword={{ $env.MC_API_TOKEN || 'zerorisk2026' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"from\":\"rsa-generator\",\"to\":\"leader\",\"type\":\"approval\",\"taskId\":\"{{ $('Code: Validate Brief').item.json.task_id }}\",\"subject\":\"RSA Pendiente Aprobacion: {{ $('Code: Validate Brief').item.json.keyword }}\",\"body\":\"Cliente: {{ $('Code: Validate Brief').item.json.client_id }} | Keyword: {{ $('Code: Validate Brief').item.json.keyword }} | Headlines: {{ $('Code: Validate RSA Matrix').item.json.headline_count }} generadas. Ver en plataforma para aprobar o rechazar. Task: {{ $('Code: Validate Brief').item.json.task_id }}\"}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook: RSA Brief": {
      "main": [
        [
          {
            "node": "Code: Validate Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate Brief": {
      "main": [
        [
          {
            "node": "Client Brain: Brand Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Brain: Brand Context": {
      "main": [
        [
          {
            "node": "Agent: Creative Director (RSA Gen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Creative Director (RSA Gen)": {
      "main": [
        [
          {
            "node": "Code: Validate RSA Matrix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate RSA Matrix": {
      "main": [
        [
          {
            "node": "If: Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Validation Passed?": {
      "main": [
        [
          {
            "node": "Store: RSA Headline Library",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store: RSA Headline Library": {
      "main": [
        [
          {
            "node": "Record: Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record: Outcome": {
      "main": [
        [
          {
            "node": "Slack: Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Notify Team": {
      "main": [
        [
          {
            "node": "Notify MC Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "b491eb9c-41ef-46d0-88b0-a8968dcc09a2"
}
