n8n-workflows/proposed-sesion27b/02-creative/workflow-2-video-pipeline-seedance.json
{
  "name": "Zero Risk — Video Pipeline: Seedance → FFmpeg → Multi-Platform Export (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zero-risk/video-generate",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook: Video Brief",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ],
      "webhookId": "70607fef-76e1-4906-963b-54e1a8ab21f8"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nif (!b.client_id || !b.video_brief) throw new Error('client_id and video_brief required');\nif (!b.target_platforms || b.target_platforms.length === 0) {\n  b.target_platforms = ['instagram_reels', 'tiktok', 'youtube_shorts'];\n}\nreturn [{ json: {\n  task_id: `video_${Date.now()}_${Math.random().toString(36).slice(2,8)}`,\n  client_id: b.client_id,\n  video_brief: b.video_brief,\n  style: b.style || 'dynamic',\n  target_platforms: b.target_platforms,\n  duration_s: b.duration_s || 15,\n  aspect_ratio: b.aspect_ratio || '9:16',\n  reference_image: b.reference_image || null,\n  brand_assets_url: b.brand_assets_url || null,\n  started_at: new Date().toISOString()\n} }];"
      },
      "id": "validate",
      "name": "Code: Validate Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/client-brain/rag-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"query\": \"Brand guidelines, visual identity, video production style, color palette, tone, messaging\",\n  \"k\": 20,\n  \"duration_s\": {{ $('Code: Validate Brief').item.json.duration_s }},\n  \"aspect_ratio\": \"{{ $('Code: Validate Brief').item.json.aspect_ratio }}\",\n  \"video_brief\": {{ JSON.stringify(($('Code: Validate Brief').item.json.video_brief) ?? null) }},\n  \"style\": \"{{ $('Code: Validate Brief').item.json.style }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\"\n}",
        "options": {}
      },
      "id": "brain",
      "name": "Client Brain: Style Guides",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "x-smoke-test",
              "value": "={{ ($json.client_id || \"\").startsWith(\"smoke-\") ? \"1\" : \"\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"video-editor\",\n  \"model\": \"claude-sonnet-4-6\",\n  \"task\": {{ JSON.stringify(('Produce video production brief for: ' + $('Code: Validate Brief').item.json.video_brief + ' (' + $('Code: Validate Brief').item.json.duration_s + 's, ' + $('Code: Validate Brief').item.json.aspect_ratio + ', style: ' + $('Code: Validate Brief').item.json.style + '). Deliver: storyboard (5-6 scenes), Seedance 2.0 prompt, color grading notes, audio specs, subtitle script, multi-platform export specs.') ?? null) }},\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"duration_s\": {{ $('Code: Validate Brief').item.json.duration_s }},\n  \"aspect_ratio\": \"{{ $('Code: Validate Brief').item.json.aspect_ratio }}\",\n  \"style\": \"{{ $('Code: Validate Brief').item.json.style }}\",\n  \"video_brief\": {{ JSON.stringify(($('Code: Validate Brief').item.json.video_brief) ?? null) }},\n  \"target_platforms\": {{ JSON.stringify(($('Code: Validate Brief').item.json.target_platforms) ?? null) }},\n  \"reference_image\": {{ JSON.stringify(($('Code: Validate Brief').item.json.reference_image) ?? null) }},\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"context\": { \"smoke_test\": {{ ($('Code: Validate Brief').item.json.client_id || \"\").startsWith(\"smoke-\") }} },\n  \"extra\": { \"brief\": {{ JSON.stringify(($('Code: Validate Brief').item.json) ?? null) }}, \"brand_context\": {{ JSON.stringify(($('Client Brain: Style Guides').item.json) ?? null) }} }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "video-editor-agent",
      "name": "Agent: Video Editor (Script → Storyboard)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HIGGSFIELD_API_URL || 'https://zero-risk-platform.vercel.app/api/stubs/higgsfield/generate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.HIGGSFIELD_API_KEY || \"stub\" }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"seedance-2.0\",\n  \"prompt\": {{ JSON.stringify($('Agent: Video Editor (Script → Storyboard)').item.json.seedance_prompt || ($('Agent: Video Editor (Script → Storyboard)').item.json.response && $('Agent: Video Editor (Script → Storyboard)').item.json.response.seedance_prompt) || $('Code: Validate Brief').item.json.video_brief) }},\n  \"duration\": {{ Number($('Code: Validate Brief').item.json.duration_s) || 15 }},\n  \"aspect_ratio\": \"{{ $('Code: Validate Brief').item.json.aspect_ratio }}\",\n  \"reference_image\": {{ JSON.stringify(($('Code: Validate Brief').item.json.reference_image) ?? null) }},\n  \"style\": \"{{ $('Code: Validate Brief').item.json.style }}\",\n  \"quality\": \"720p\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "seedance-generate",
      "name": "Higgsfield Seedance 2.0: Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/storage/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"bucket\": \"video_assets\",\n  \"path\": \"{{ $('Code: Validate Brief').item.json.client_id }}/generated/{{ $('Code: Validate Brief').item.json.task_id }}/{{ $('Code: Validate Brief').item.json.task_id }}_base.mp4\",\n  \"file_url\": {{ JSON.stringify(($('Higgsfield Seedance 2.0: Generate Video').item.json.video_url) ?? null) }},\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"video_url\": {{ JSON.stringify(($('Higgsfield Seedance 2.0: Generate Video').item.json.video_url) ?? null) }},\n  \"target_platforms\": {{ JSON.stringify(($('Code: Validate Brief').item.json.target_platforms) ?? null) }},\n  \"duration_s\": {{ Number($('Code: Validate Brief').item.json.duration_s) || 15 }},\n  \"aspect_ratio\": \"{{ $('Code: Validate Brief').item.json.aspect_ratio }}\",\n  \"metadata\": {\n    \"prompt\": {{ JSON.stringify($('Agent: Video Editor (Script → Storyboard)').item.json.seedance_prompt || '') }},\n    \"model\": \"seedance-2.0\",\n    \"duration\": {{ Number($('Code: Validate Brief').item.json.duration_s) || 15 }},\n    \"aspect_ratio\": \"{{ $('Code: Validate Brief').item.json.aspect_ratio }}\"\n  }\n}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "upload-base-video",
      "name": "Upload: Base Video → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHISPER_API_URL || 'https://zero-risk-platform.vercel.app/api/stubs/whisper' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY || \"stub\" }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "options": {
          "timeout": 90000
        },
        "jsonBody": "={\n  \"model\": \"whisper-1\",\n  \"audio_url\": {{ JSON.stringify(($('Higgsfield Seedance 2.0: Generate Video').item.json.video_url) ?? null) }},\n  \"response_format\": \"vtt\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"video_url\": {{ JSON.stringify(($('Higgsfield Seedance 2.0: Generate Video').item.json.video_url) ?? null) }},\n  \"target_platforms\": {{ JSON.stringify(($('Code: Validate Brief').item.json.target_platforms) ?? null) }},\n  \"duration_s\": {{ Number($('Code: Validate Brief').item.json.duration_s) || 15 }},\n  \"aspect_ratio\": \"{{ $('Code: Validate Brief').item.json.aspect_ratio }}\"\n}"
      },
      "id": "whisper-api",
      "name": "OpenAI Whisper: Auto-Subtitle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Rebuild per-platform export specs, pulling state back from Validate Brief\nconst vb = $('Code: Validate Brief').item.json;\nconst whisper = $('OpenAI Whisper: Auto-Subtitle').item.json || {};\nconst platforms = vb.target_platforms || ['instagram_reels'];\nconst specs = {\n  tiktok: { aspect: '9:16', res: '1080x1920', bitrate: '4M', fps: 30 },\n  instagram_reels: { aspect: '9:16', res: '1080x1920', bitrate: '5M', fps: 30 },\n  youtube_shorts: { aspect: '9:16', res: '1080x1920', bitrate: '5M', fps: 30 },\n  youtube: { aspect: '16:9', res: '1920x1080', bitrate: '8M', fps: 30 }\n};\nconst exportsCfg = platforms.map(p => {\n  const s = specs[p] || specs.instagram_reels;\n  return {\n    platform: p,\n    aspect_ratio: s.aspect,\n    resolution: s.res,\n    bitrate: s.bitrate,\n    fps: s.fps,\n    ffmpeg_cmd: `ffmpeg -i input.mp4 -vf scale=${s.res} -b:v ${s.bitrate} -r ${s.fps} output_${p}.mp4`,\n    subtitles: whisper.content || ''\n  };\n});\nreturn [{ json: {\n  ...vb,\n  exports_config: exportsCfg,\n  subtitle_vtt: whisper.content || ''\n} }];"
      },
      "id": "platform-specs",
      "name": "Code: Platform Export Specs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/video/transcode",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"input_url\": {{ JSON.stringify(($('Higgsfield Seedance 2.0: Generate Video').item.json.video_url) ?? null) }},\n  \"exports\": {{ JSON.stringify(($('Code: Platform Export Specs').item.json.exports_config) ?? null) }},\n  \"add_subtitles\": true,\n  \"subtitle_vtt\": {{ JSON.stringify($('OpenAI Whisper: Auto-Subtitle').item.json.content || '') }},\n  \"target_platforms\": {{ JSON.stringify(($('Code: Validate Brief').item.json.target_platforms) ?? null) }},\n  \"duration_s\": {{ Number($('Code: Validate Brief').item.json.duration_s) || 15 }},\n  \"video_brief\": {{ JSON.stringify(($('Code: Validate Brief').item.json.video_brief) ?? null) }}\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "transcode-all",
      "name": "FFmpeg: Transcode All Platforms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/outcomes/record",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_type\": \"video_generation\",\n  \"agent_slug\": \"video-editor\",\n  \"client_id\": \"{{ $('Code: Validate Brief').item.json.client_id }}\",\n  \"task_id\": \"{{ $('Code: Validate Brief').item.json.task_id }}\",\n  \"task_input\": {{ JSON.stringify(($('Code: Validate Brief').item.json.video_brief) ?? null) }},\n  \"output_summary\": {{ JSON.stringify('Video generated for ' + (($('Code: Validate Brief').item.json.target_platforms || []).join(', ')) + ' (' + $('Code: Validate Brief').item.json.duration_s + 's)') }},\n  \"success\": true,\n  \"duration_ms\": 0,\n  \"cost_usd\": 0,\n  \"target_platforms\": {{ JSON.stringify(($('Code: Validate Brief').item.json.target_platforms) ?? null) }},\n  \"duration_s\": {{ Number($('Code: Validate Brief').item.json.duration_s) || 15 }},\n  \"export_urls\": {{ JSON.stringify($('FFmpeg: Transcode All Platforms').item.json.export_urls || {}) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "record-outcome",
      "name": "Record: Outcome",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify('Video Pipeline Complete: Task ' + $('Code: Validate Brief').item.json.task_id + '. Platforms: ' + (($('Code: Validate Brief').item.json.target_platforms || []).join(', ')) + '. All exports ready.') }},\n  \"blocks\": [\n    { \"type\": \"section\", \"text\": { \"type\": \"mrkdwn\", \"text\": {{ JSON.stringify('*Video Generation Complete*\\nTask: ' + $('Code: Validate Brief').item.json.task_id + '\\nPlatforms: ' + (($('Code: Validate Brief').item.json.target_platforms || []).join(', ')) + '\\nDuration: ' + $('Code: Validate Brief').item.json.duration_s + 's\\nStatus: All transcodes done') }} } }\n  ]\n}",
        "options": {
          "timeout": 10000
        },
        "sendHeaders": false
      },
      "id": "notify-slack",
      "name": "Slack: Notify Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        300
      ],
      "disabled": true
    }
  ],
  "connections": {
    "Webhook: Video Brief": {
      "main": [
        [
          {
            "node": "Code: Validate Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Validate Brief": {
      "main": [
        [
          {
            "node": "Client Brain: Style Guides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Brain: Style Guides": {
      "main": [
        [
          {
            "node": "Agent: Video Editor (Script → Storyboard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Video Editor (Script → Storyboard)": {
      "main": [
        [
          {
            "node": "Higgsfield Seedance 2.0: Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Higgsfield Seedance 2.0: Generate Video": {
      "main": [
        [
          {
            "node": "Upload: Base Video → Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload: Base Video → Supabase": {
      "main": [
        [
          {
            "node": "OpenAI Whisper: Auto-Subtitle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper: Auto-Subtitle": {
      "main": [
        [
          {
            "node": "Code: Platform Export Specs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Platform Export Specs": {
      "main": [
        [
          {
            "node": "FFmpeg: Transcode All Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg: Transcode All Platforms": {
      "main": [
        [
          {
            "node": "Record: Outcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record: Outcome": {
      "main": [
        [
          {
            "node": "Slack: Notify Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "10b0da2a-49cc-4745-adce-566d7cc1e5e1"
}
