n8n-workflows/proposed-sesion27b/03-seo-geo/1-cannibalization-audit-weekly.json
{
  "name": "Zero Risk — SEO Cannibalization Audit Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * 0"
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Trigger: Sundays 2am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const resp = await fetch('https://zero-risk-platform.vercel.app/api/clients?active=true', {headers:{'x-api-key':'key'}}); return [{json:{clients: await resp.json() || []}}];"
      },
      "id": "load-clients",
      "name": "Load Active Clients",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients"
      },
      "id": "split-clients",
      "name": "Split Into Each Client",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.googleapis.com/webmasters/v3/sites/https%3A%2F%2F{{ encodeURIComponent($json.domain) }}%2F/searchanalytics/query?startDate=2026-03-19&endDate=2026-04-18&dimensions=query,page&rowLimit=1000",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "gsc-data",
      "name": "GSC Query-Page Mapping (last 30d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const gscData = $input.first().json?.rows || []; const queryPageMap = {}; gscData.forEach(row => { const q = row.keys[0]; if (!queryPageMap[q]) queryPageMap[q] = []; queryPageMap[q].push({page: row.keys[1], clicks: row.clicks}); }); const conflicts = Object.entries(queryPageMap).filter(([_, pages]) => pages.length > 1).map(([query, pages]) => ({query, pages_count: pages.length})); return [{json:{client_id: $json.client_id, domain: $json.domain, conflict_count: conflicts.length, severity: conflicts.filter(c => c.pages_count >= 3).length > 0 ? 'high' : 'low', conflicts}}];"
      },
      "id": "detect-cannibalization",
      "name": "Detect Cannibalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "type": "when",
        "value1": "={{ $json.conflict_count }}",
        "value2": 0,
        "operation": "greaterThan"
      },
      "id": "if-conflicts",
      "name": "IF conflicts > 0",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://zero-risk-platform.vercel.app/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"agent\":\"seo-specialist\",\"model\":\"claude-sonnet-4-6\",\"task\":\"Cannibalization remediation for {{ $json.domain }}\",\"client_id\":\"{{ $json.client_id }}\",\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\"\n}"
      },
      "id": "agent-seo-specialist",
      "name": "Agent: SEO Specialist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://zero-risk-platform.vercel.app/api/cannibalization-audits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "=key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"client_id\":\"{{ $json.client_id }}\",\"domain\":\"{{ $json.domain }}\",\"conflict_count\":{{ $json.conflict_count }},\"severity\":\"{{ $json.severity }}\"}"
      },
      "id": "persist-audit",
      "name": "Persist to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        200
      ]
    }
  ],
  "connections": {
    "Trigger: Sundays 2am UTC": {
      "main": [
        [
          {
            "node": "Load Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Active Clients": {
      "main": [
        [
          {
            "node": "Split Into Each Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Each Client": {
      "main": [
        [
          {
            "node": "GSC Query-Page Mapping (last 30d)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSC Query-Page Mapping (last 30d)": {
      "main": [
        [
          {
            "node": "Detect Cannibalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Cannibalization": {
      "main": [
        [
          {
            "node": "IF conflicts > 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF conflicts > 0": {
      "main": [
        [
          {
            "node": "Agent: SEO Specialist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Persist to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: SEO Specialist": {
      "main": [
        [
          {
            "node": "Persist to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "b3969157-f7a8-4435-85ef-af4631349e83"
}
