n8n-workflows/proposed-sesion27b/07-ops-monitoring/05-cost-watchdog-multi-service-v2.json
{
  "name": "Zero Risk — Cost Watchdog Multi-Service v2 (Cron Hourly)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "hourly",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://ordaeyxvvvdqsznsecjx.supabase.co/rest/v1/agent_invocations_daily_rollup?day=eq.{{ $now.format('yyyy-MM-dd') }}&select=agent_id,model,total_cost_usd,invocations_count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-anthropic",
      "name": "Fetch Anthropic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.openai.com/v1/dashboard/billing/usage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-openai",
      "name": "Fetch OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/users/me",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.APIFY_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-apify",
      "name": "Fetch Apify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const anthropic = $input.all()[0]?.json || {}; const openai = $input.all()[1]?.json || {}; const apify = $input.all()[2]?.json || {}; const anthropicUsd = parseFloat(anthropic.usage?.total_balance_usd || 0); const openaiUsd = parseFloat((openai.total_usage || 0) / 100); const apifyUsd = parseFloat(apify.profile?.consumedUsageUsd || 0); return [{json: {anthropic_usd: anthropicUsd, openai_usd: openaiUsd, apify_usd: apifyUsd, total_hourly_usd: anthropicUsd + openaiUsd + apifyUsd, timestamp: new Date().toISOString()}}];"
      },
      "id": "aggregate",
      "name": "Aggregate Costs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/cost-usage?hours=24&granularity=hourly",
        "options": {
          "timeout": 15000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "value": "application/json",
              "name": "Content-Type"
            },
            {
              "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed",
              "name": "x-api-key"
            }
          ]
        }
      },
      "id": "fetch-history",
      "name": "Fetch 24h History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const current = $input.all()[0]?.json; const history = $input.all()[1]?.json?.hourly_costs || []; const currentUsd = current.total_hourly_usd || 0; const avgUsd = history.length > 0 ? history.reduce((s, h) => s + h.cost_usd, 0) / history.length : 0; const isAnomaly = currentUsd > (avgUsd * 2.0) && currentUsd > 0.10; return [{json: {current_usd: currentUsd, avg_24h_usd: avgUsd.toFixed(4), is_anomaly: isAnomaly, anomaly_pct: ((currentUsd / avgUsd - 1) * 100).toFixed(1), timestamp: current.timestamp}}];"
      },
      "id": "detect-anomaly",
      "name": "Detect Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_anomaly }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "anomaly-check",
      "name": "Anomaly?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={'channel': '#finops', 'text': 'Cost Anomaly'}"
      },
      "id": "slack-alert",
      "name": "Alert Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "normal",
      "name": "Normal",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zero-risk-platform.vercel.app/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: \"mops-director\", context: $json, task: \"Sprint 7 A1 wire-in side-effect invocation from Zero Risk — Cost Watchdog Multi-Service v2 (Cron Hourly)\", workflow_id: $workflow.id, workflow_execution_id: $execution.id }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "wire-mops-director-ilujrc5g",
      "name": "Invoke · mops-director",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        320
      ]
    }
  ],
  "connections": {
    "Hourly": {
      "main": [
        [
          {
            "node": "Fetch Anthropic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Anthropic": {
      "main": [
        [
          {
            "node": "Aggregate Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OpenAI": {
      "main": [
        [
          {
            "node": "Aggregate Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Apify": {
      "main": [
        [
          {
            "node": "Aggregate Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Costs": {
      "main": [
        [
          {
            "node": "Fetch 24h History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoke · mops-director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch 24h History": {
      "main": [
        [
          {
            "node": "Detect Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Anomalies": {
      "main": [
        [
          {
            "node": "Anomaly?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anomaly?": {
      "main": [
        [
          {
            "node": "Alert Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "fad1fd27-e71d-4cc0-83c1-9c05838d095e"
}
