n8n-workflows/proposed-sesion27b/01-orchestration/01-nexus-7phase-orchestrator.json
{
  "name": "Zero Risk — NEXUS 7-Phase Campaign Orchestrator (Webhook)",
  "nodes": [
    {
      "parameters": {
        "path": "campaign-orchestrator",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Campaign Webhook (Entry)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        100
      ],
      "webhookId": "unique-webhook-id-1"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate incoming campaign request\nconst { client_id, campaign_brief, priority } = $input.first().json.body;\n\nif (!client_id || !campaign_brief) {\n  throw new Error('Missing required fields: client_id, campaign_brief');\n}\n\nconst request_id = `nexus-${client_id}-${Date.now()}`;\nconst phases = ['DISCOVER', 'STRATEGIZE', 'SCAFFOLD', 'BUILD', 'HARDEN', 'LAUNCH', 'OPERATE'];\n\nreturn [{\n  json: {\n    request_id,\n    client_id,\n    campaign_brief,\n    priority: priority || 'normal',\n    phases,\n    current_phase_index: 0,\n    current_phase: phases[0],\n    phase_outputs: {},\n    retry_count: 0,\n    started_at: new Date().toISOString(),\n    status: 'initiated'\n  }\n}];"
      },
      "id": "parse-campaign-request",
      "name": "Parse & Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/campaign-pipeline/state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"campaign_brief\": \"{{ $json.campaign_brief }}\",\n  \"current_phase\": \"{{ $json.current_phase }}\",\n  \"status\": \"initiated\",\n  \"priority\": \"{{ $json.priority }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "init-pipeline-state",
      "name": "Initialize Pipeline State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-internal-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"jefe-marketing\",\n  \"task_type\": \"phase_execution\",\n  \"phase\": \"{{ $json.current_phase }}\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"campaign_brief\": \"{{ $json.campaign_brief }}\",\n  \"phase_input\": \"{{ $json.phase_outputs[$json.current_phase - 1] || $json.campaign_brief }}\",\n  \"success_criteria\": {\n    \"DISCOVER\": \"Market opportunity validated, competitive landscape mapped, client objectives understood\",\n    \"STRATEGIZE\": \"Positioning defined, messaging pillars set, channel mix approved, budget allocated\",\n    \"SCAFFOLD\": \"Content calendar finalized, creative briefs written, platform requirements documented\",\n    \"BUILD\": \"All creative assets completed, SEO optimized, paid media campaigns staged, launch checklist ready\",\n    \"HARDEN\": \"QA loops passed, A/B tests configured, compliance validated, brand audit cleared\",\n    \"LAUNCH\": \"All audiences targeted, campaigns live, budgets deployed, real-time monitoring active\",\n    \"OPERATE\": \"Performance metrics tracked, optimization recommendations ready, team briefed on learnings\"\n  }\n}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "execute-phase",
      "name": "Execute Phase (jefe-marketing)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/evidence/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phase\": \"{{ $json.current_phase }}\",\n  \"phase_output\": \"{{ $node['Execute Phase (jefe-marketing)'].json.output }}\",\n  \"success_criteria\": \"{{ $json.success_criteria[$json.current_phase] }}\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "validate-phase",
      "name": "Validate Phase Output (Evidence Collector)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-validation",
      "name": "Validation Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Phase passed validation — advance to next phase\nconst phases = ['DISCOVER', 'STRATEGIZE', 'SCAFFOLD', 'BUILD', 'HARDEN', 'LAUNCH', 'OPERATE'];\nconst current_idx = phases.indexOf($json.current_phase);\nconst next_idx = current_idx + 1;\n\nif (next_idx < phases.length) {\n  // More phases to execute\n  $json.current_phase = phases[next_idx];\n  $json.current_phase_index = next_idx;\n  $json.phase_outputs[phases[current_idx]] = $node['Execute Phase (jefe-marketing)'].json.output;\n  $json.retry_count = 0;\n  $json.status = 'in_progress';\n} else {\n  // All phases completed successfully\n  $json.status = 'completed';\n  $json.phase_outputs[phases[current_idx]] = $node['Execute Phase (jefe-marketing)'].json.output;\n  $json.completed_at = new Date().toISOString();\n}\n\nreturn [$json];"
      },
      "id": "advance-phase",
      "name": "Advance to Next Phase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validation failed — increment retry counter\n$json.retry_count = ($json.retry_count || 0) + 1;\n$json.last_validation_error = $node['Validate Phase Output (Evidence Collector)'].json.error || 'Unknown error';\n\nif ($json.retry_count >= 3) {\n  $json.status = 'escalated_to_hitl';\n  $json.escalation_reason = `Phase ${$json.current_phase} failed validation ${$json.retry_count} times`;\n} else {\n  $json.status = 'retrying';\n}\n\nreturn [$json];"
      },
      "id": "handle-validation-failure",
      "name": "Handle Validation Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-retry",
      "name": "Retries Remaining?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1500,
        180
      ]
    },
    {
      "parameters": {},
      "id": "retry-loop",
      "name": "Go Back to Phase Execution",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚨 *NEXUS Pipeline Escalation to HITL*\\n\\n*Request:* {{ $json.request_id }}\\n*Client:* {{ $json.client_id }}\\n*Phase:* {{ $json.current_phase }}\\n*Reason:* Failed validation after 3 retries\\n*Error:* {{ $json.last_validation_error | slice(0, 150) }}\\n\\nAction: Review in Mission Control → dashboard/inbox\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "escalate-slack",
      "name": "Notify Slack (HITL Escalation)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"approval_type\": \"phase_gate_failure\",\n  \"phase\": \"{{ $json.current_phase }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"context\": {\n    \"phase_output\": \"{{ $node['Execute Phase (jefe-marketing)'].json.output | slice(0, 500) }}\",\n    \"validation_error\": \"{{ $json.last_validation_error }}\",\n    \"retry_count\": {{ $json.retry_count }}\n  },\n  \"required_approver\": \"jefe-marketing\",\n  \"expires_in_hours\": 24\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "queue-hitl",
      "name": "Queue for HITL Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/campaign-pipeline/state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"current_phase\": \"{{ $json.current_phase }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"retry_count\": {{ $json.retry_count }},\n  \"phase_output\": \"{{ $node['Execute Phase (jefe-marketing)'].json.output | slice(0, 2000) }}\",\n  \"updated_at\": \"{{ now().toISOString() }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "persist-state",
      "name": "Persist Phase State to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/mc-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.MC_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"phase_complete\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"phase\": \"{{ $json.current_phase }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"timestamp\": \"{{ now().toISOString() }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "notify-mc-phase",
      "name": "Notify Mission Control (Phase Complete)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-complete",
      "name": "All Phases Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1700,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"✅ *NEXUS Campaign Pipeline Complete*\\n\\n*Request:* {{ $json.request_id }}\\n*Client:* {{ $json.client_id }}\\n*Completed At:* {{ $json.completed_at }}\\n*Duration:* {{ (new Date($json.completed_at) - new Date($json.started_at)) / 1000 / 60 }}m\\n\\n📊 All 7 phases (DISCOVER → OPERATE) successfully executed.\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "notify-completion",
      "name": "Notify Slack (Pipeline Complete)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        60
      ]
    },
    {
      "parameters": {},
      "id": "end-success",
      "name": "Success (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2100,
        60
      ]
    },
    {
      "parameters": {},
      "id": "end-hitl",
      "name": "HITL (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2100,
        200
      ]
    }
  ],
  "connections": {
    "Campaign Webhook (Entry)": {
      "main": [
        [
          {
            "node": "Parse & Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Request": {
      "main": [
        [
          {
            "node": "Initialize Pipeline State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Pipeline State": {
      "main": [
        [
          {
            "node": "Execute Phase (jefe-marketing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Phase (jefe-marketing)": {
      "main": [
        [
          {
            "node": "Validate Phase Output (Evidence Collector)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Phase Output (Evidence Collector)": {
      "main": [
        [
          {
            "node": "Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed?": {
      "main": [
        [
          {
            "node": "Advance to Next Phase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance to Next Phase": {
      "main": [
        [
          {
            "node": "Persist Phase State to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Validation Failure": {
      "main": [
        [
          {
            "node": "Retries Remaining?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retries Remaining?": {
      "main": [
        [
          {
            "node": "Go Back to Phase Execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack (HITL Escalation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go Back to Phase Execution": {
      "main": [
        [
          {
            "node": "Execute Phase (jefe-marketing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (HITL Escalation)": {
      "main": [
        [
          {
            "node": "Queue for HITL Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue for HITL Review": {
      "main": [
        [
          {
            "node": "HITL (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Phase State to DB": {
      "main": [
        [
          {
            "node": "Notify Mission Control (Phase Complete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Mission Control (Phase Complete)": {
      "main": [
        [
          {
            "node": "All Phases Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Phases Complete?": {
      "main": [
        [
          {
            "node": "Notify Slack (Pipeline Complete)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go Back to Phase Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (Pipeline Complete)": {
      "main": [
        [
          {
            "node": "Success (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "zero-risk",
      "id": "1"
    },
    {
      "name": "cluster-1-orchestration",
      "id": "2"
    },
    {
      "name": "nexus-pipeline",
      "id": "3"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-18T00:00:00.000Z",
  "versionId": "1"
}