scripts/worker-staging/LyVoKcrypS5uLyuu/poll-resume-worker.json
{"name": "Zero Risk \u00e2\u20ac\u201d Client Onboarding E2E v2 (Webhook: Deal Won)", "nodes": [{"parameters": {"httpMethod": "POST", "path": "zero-risk/deal-won-onboarding", "options": {}}, "id": "webhook-deal-won", "name": "Webhook: Deal Won", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [240, 400], "webhookId": "7b2b7829-0184-4158-9477-093194396e3b"}, {"parameters": {"jsCode": "const b = $input.first().json.body || $input.first().json;\nconst missing = [];\nif (!b.client_name) missing.push('client_name');\nif (!b.website && !b.domain) missing.push('website');\nif (!b.industry) missing.push('industry');\nif (!b.contract_scope) missing.push('contract_scope');\nif (missing.length) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\n// LOTE-C Fix \u00c2\u00b7 pre-generate client UUID so downstream agent invocations\n// share the same UUID as the persist upsert.\nif (!b.client_id) {\n  b.client_id = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n// Gap 1 \u00c2\u00b7 brand assets passed through unchanged so Persist + Cascade pick them up.\nb.client_logo_url = b.client_logo_url || null;\nb.client_brand_colors = Array.isArray(b.client_brand_colors) ? b.client_brand_colors : null;\nb.client_brand_fonts = Array.isArray(b.client_brand_fonts) ? b.client_brand_fonts : null;\nreturn [{ json: b }];"}, "id": "validate-deal", "name": "Validate Deal Data", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [720, 400]}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}, {"name": "x-smoke-test", "value": "={{ ($('Validate Deal Data').item.json.client_id || \"\").startsWith(\"smoke-\") ? \"1\" : \"\" }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"agent\": \"onboarding-specialist\",\n  \"agent_id\": \"onboarding-specialist\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id || '' }}\",\n  \"task\": {{ JSON.stringify('Auto-discover Client Brain for ' + ($('Validate Deal Data').item.json.client_name || 'new client') + ' (industry: ' + ($('Validate Deal Data').item.json.industry || 'unknown') + ', website: ' + ($('Validate Deal Data').item.json.website || 'unknown') + ', client_id: ' + ($('Validate Deal Data').item.json.client_id || '') + ').' + String.fromCharCode(10) + '' + String.fromCharCode(10) + 'Research \u00b7 brand voice + ICP + competitive landscape + VOC. Use available tools to fetch the website + search social media for handles + identify 3-8 real competitors in the industry/location.' + String.fromCharCode(10) + '' + String.fromCharCode(10) + 'CRITICAL FINAL STEP \u00b7 when research is complete, you MUST CALL the emit_discovery_output tool with your structured findings. Do NOT just describe them in prose \u00b7 the tool call is THE canonical way the Discovery output reaches the brain pipeline downstream. If you skip the tool call, your work won\\'t reach the brain \u00b7 the client_brain_chunks table stays empty \u00b7 zero downstream value.' + String.fromCharCode(10) + '' + String.fromCharCode(10) + 'Tool input shape (matches CC#3 zod schema \u00b7 canon \u00a7interface) \u00b7' + String.fromCharCode(10) + '{ client_id, own_handles: { instagram, facebook, tiktok, linkedin, youtube \u00b7 use null for unknown }, competitors: [ { name, handles: {...}, why (1-line) }, ... 3-8 entries \u00b7 real competitors only ], icp: { audience_segment (REQUIRED string), industries (array of strings), geography (string), pain_points (array), goals (array), jobs_to_be_done (array), objections (array), decision_criteria (array), preferred_channels (array), job_titles (array), company_size (string), buying_process (string), budget_range (string), content_preferences (string), segment_priority (1 primary or 2 secondary) }, competitive_landscape_summary (2-3 paragraphs synthesis) }.' + String.fromCharCode(10) + '' + String.fromCharCode(10) + 'After the tool call, a short prose summary for human readers is welcome but the tool call is what actually feeds the brain. Return discovery report only AFTER the tool was called.') }},\n  \"workflow_id\": \"{{ $('Validate Deal Data').item.json._journey_id || $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"callback_url\": \"{{ $execution.resumeUrl }}\",\n  \"context\": { \"smoke_test\": {{ ($('Validate Deal Data').item.json.client_id || \"\").startsWith(\"smoke-\") }}, \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id || '' }}\", \"client_name\": \"{{ $('Validate Deal Data').item.json.client_name || '' }}\", \"website\": \"{{ $('Validate Deal Data').item.json.website || '' }}\", \"industry\": \"{{ $('Validate Deal Data').item.json.industry || '' }}\" }\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 30000}}, "id": "call-onboarding-agent", "name": "Call Onboarding Specialist: Auto-Discovery Dispatch (fire+forget)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [960, 400], "notes": "[MODELB \u00b7 Costura B \u00b7 \u00a7149 correlation propagation \u00b7 CC#4 2026-06-05]\nworkflow_id propagation \u00b7 prefer sala-dispatched _journey_id (stream_id) \u00b7 fallback to n8n $workflow.id for legacy Deal Won path. Closes Costura B per SEAM-CLOSE-modelb-shadow-2026-06-05.md. Shadow \u00b7 worker inactive \u00b7 NO trigger real.\n----\n\n\n[ADDENDUM 2026-06-05 CC#4] Switched /api/agents/run \u2192 /api/agents/run-sdk \u00b7 \u00a7149-enforced canonical entry \u00b7 STOP-2 Dim 6 clean. workflow_id propagation preserved.\n\n[LAZO PRE-FIRE 2026-06-06 \u00b7 CC#4]\n(1) Task prompt re-wired \u00b7 instructs agent to CALL emit_discovery_output tool with structured findings (own_handles \u00b7 competitors[] \u00b7 icp \u00b7 landscape_summary). Canon \u00a7interface contract matches CC#3 zod schema.\n(2) options.timeout bumped 180000 \u2192 800000ms (13.3 min \u00b7 headroom for 5-6 min agent runs). Previous timeout was culprit of exec 19733 abort \"server offline\" at 326s.\nShadow \u00b7 worker active=True \u00b7 waiting CC#3 agent-runner ship emit_discovery_output tool registration.\n\n[ICP CANON STRICT 2026-06-06 \u00b7 CC#4 align CC#3 verdict]\nUpdated icp block in prompt-directive \u00b7 MCP tool zod is .strict() \u00b7 old shape (industry/location/segment) was REJECTED \u00b7 tool call invalid \u00b7 discovery vac\u00edo. New shape \u00b7 audience_segment (REQUIRED \u00b7 was \"segment\") \u00b7 industries (plural array \u00b7 was \"industry\") \u00b7 geography (was \"location\") \u00b7 plus full optional canon fields per PR #182 types.ts DiscoveredIcpSegment."}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-client-workspace", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"client_name\": \"{{ $('Validate Deal Data').item.json.client_name || '' }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id || '' }}\",\n  \"industry\": \"{{ $('Validate Deal Data').item.json.industry || '' }}\",\n  \"parent_page_id\": \"{{ $env.NOTION_PARENT_PAGE_ID || 'stub-parent' }}\"\n}", "options": {"timeout": 30000}}, "id": "create-notion-workspace", "name": "Create Notion Client Workspace", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1200, 400]}, {"parameters": {"jsCode": "const discovery = $node['Call Onboarding Specialist: Auto-Discovery'].json.result || {};\nconst scope = $node['Validate Deal Data'].json.contract_scope || [];\n\nconst activationMilestones = [];\nconst ttv_targets = {};\n\nif (scope.includes('paid_ads')) {\n  activationMilestones.push({ channel: 'paid_ads', milestone: 'First campaign launched', day: 14, success_metric: 'First converted lead' });\n  ttv_targets.paid_ads = 14;\n}\nif (scope.includes('content_seo')) {\n  activationMilestones.push({ channel: 'content_seo', milestone: 'Content calendar published', day: 30, success_metric: 'First organic traffic' });\n  ttv_targets.content_seo = 30;\n}\nif (scope.includes('email')) {\n  activationMilestones.push({ channel: 'email', milestone: 'Email sequence deployed', day: 7, success_metric: 'First engagement' });\n  ttv_targets.email = 7;\n}\nif (scope.includes('industrial') || scope.includes('complex')) {\n  ttv_targets.complex = 45;\n}\n\nconst successPlan = {\n  goals: [],\n  success_metrics: [],\n  timeline: activationMilestones,\n  ttv_targets,\n  champion_map: { identified: false, count: 0, stakeholders: [] },\n  status: 'draft'\n};\n\nreturn [{ json: { ...successPlan, discovery_report: discovery } }];"}, "id": "build-success-plan", "name": "Build Success Plan Template", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1680, 400]}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/notion/create-success-plan", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"client_name\": \"{{ $('Validate Deal Data').item.json.client_name || '' }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id || '' }}\",\n  \"workspace_id\": \"{{ $json.workspace_id || '' }}\",\n  \"plan\": {{ JSON.stringify($json ?? {}) }}\n}", "options": {"timeout": 30000}}, "id": "create-success-plan-notion", "name": "Create Success Plan in Notion", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2160, 400]}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/calendar/book", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"contact_id\": \"{{ $('Validate Deal Data').item.json.primary_contact_id || ('stub-contact-' + Date.now()) }}\",\n  \"event_title\": {{ JSON.stringify('Kickoff Call: ' + ($('Validate Deal Data').item.json.client_name || 'new client')) }},\n  \"contact_email\": \"{{ $('Validate Deal Data').item.json.contact_email }}\",\n  \"contact_name\": \"{{ $('Validate Deal Data').item.json.contact_name || $('Validate Deal Data').item.json.client_name }}\",\n  \"duration_minutes\": 60,\n  \"scheduled_at\": \"{{ new Date(Date.now() + 3*24*60*60*1000).toISOString() }}\",\n  \"description\": \"Welcome to Zero Risk! Success plan alignment + team intro.\"\n}", "options": {"timeout": 30000}}, "id": "schedule-kickoff", "name": "Schedule Kickoff Call (Cal.com)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2640, 400], "notes": "\n\n[GHL canon-clean rename 2026-06-05 \u00b7 CC#4 A2] Renamed from \"Schedule Kickoff Call (GHL Calendar)\". URL is canon-clean internal endpoint (NOT GHL). Per drift-hunt-results \u00a72.3 COSMETIC class."}, {"parameters": {"jsCode": "const activationHealth = 'Yellow'; // Initial onboarding health always Yellow (assumes basic setup)\nconst championMap = { count: 0, stakeholders: [] }; // To be updated post-kickoff\n\nreturn [{ json: { client_id: $node['Validate Deal Data'].json.client_id, client_name: $node['Validate Deal Data'].json.client_name, activation_health: activationHealth, champion_count: championMap.count, onboarding_status: 'initiated', kickoff_scheduled: true } }];"}, "id": "compute-handoff-score", "name": "Compute Handoff Score", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2880, 400]}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/client-tasks", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"title\": {{ JSON.stringify('Account Manager Handoff: ' + ($('Validate Deal Data').item.json.client_name || 'new client')) }},\n  \"description\": \"Onboarding initiated. Client Brain auto-populated. Success plan drafted. Ready for AM ownership.\",\n  \"due_at\": \"{{ new Date(Date.now() + 5*24*60*60*1000).toISOString() }}\",\n  \"priority\": \"high\"\n}", "options": {"timeout": 30000}}, "id": "ghl-handoff-task", "name": "Create AM Handoff Task", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3120, 400], "notes": "\n\n[GHL canon-clean rename 2026-06-05 \u00b7 CC#4 A2] Renamed from \"GHL: Create AM Handoff Task\". URL is canon-clean internal endpoint (NOT GHL). Per drift-hunt-results \u00a72.3 COSMETIC class."}, {"parameters": {"method": "POST", "url": "={{ $env.SLACK_WEBHOOK_URL || $env.SLACK_WEBHOOK_URL_EQUIPO || '' }}", "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"text\": {{ JSON.stringify('ONBOARDING INITIATED\\nClient: ' + ($('Validate Deal Data').item.json.client_name || 'unknown') + '\\nIndustry: ' + ($('Validate Deal Data').item.json.industry || 'unknown') + '\\nContract: ' + (Array.isArray($('Validate Deal Data').item.json.contract_scope) ? ($('Validate Deal Data').item.json.contract_scope.join(', ')) : String($('Validate Deal Data').item.json.contract_scope || ''))) }}\n}", "options": {"response": {"response": {"responseFormat": "text"}}, "timeout": 10000}}, "id": "alert-onboarding-slack", "name": "Alert Slack: Onboarding Initiated", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3360, 400]}, {"parameters": {"method": "POST", "url": "https://zero-risk-mission-control-production.up.railway.app/api/inbox", "sendQuery": true, "queryParameters": {"parameters": [{"name": "masterPassword", "value": "zerorisk2026"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"from\":\"client-onboarding\",\"to\":\"leader\",\"type\":\"report\",\"taskId\":\"{{ $json.task_id ?? $json.client_id ?? ('wf-' + $now) }}\",\"subject\":\"Client Onboarding completado\",\"body\":\"client={{ $json.client_id ?? 'unknown' }} | workflow={{ $workflow.name }}\"}", "options": {"allowUnauthorizedCerts": false}}, "id": "mc-inbox-5uLyuu", "name": "Notify MC Inbox", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3600, 400]}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || \"https://zero-risk-platform.vercel.app\" }}/api/clients/upsert", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  client_id: $('Validate Deal Data').item.json.client_id,\n  name: $('Validate Deal Data').item.json.client_name,\n  website: $('Validate Deal Data').item.json.website || $('Validate Deal Data').item.json.domain || null,\n  industry: $('Validate Deal Data').item.json.industry || null,\n  contact_email: $('Validate Deal Data').item.json.email || null,\n  country: $('Validate Deal Data').item.json.country || \"EC\",\n  language: \"es\",\n  status: \"onboarding\",\n  journey: \"ONBOARD\",\n  journey_stage: \"intake\",\n  journey_status: \"active\",\n  trigger_type: \"webhook\",\n  trigger_source: $('Validate Deal Data').item.json.source || \"deal_won_webhook\",\n  trigger_payload: {\n    client_name: $('Validate Deal Data').item.json.client_name,\n    contract_scope: $('Validate Deal Data').item.json.contract_scope\n  },\n  metadata: {\n    workflow: \"Client Onboarding E2E v2\",\n    workflow_id: $workflow.id,\n    execution_id: $execution.id\n  },\n  logo_url: $('Validate Deal Data').item.json.client_logo_url,\n  brand_colors: $('Validate Deal Data').item.json.client_brand_colors,\n  brand_fonts: $('Validate Deal Data').item.json.client_brand_fonts\n}) }}", "options": {"response": {"response": {"responseFormat": "json"}}, "timeout": 30000}}, "id": "persist-client-supabase", "name": "Persist Client to Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2400, 400]}, {"parameters": {"workflowId": "ugK3QrxkWq22Bly5", "options": {}}, "id": "trigger-master-journey-ugk3", "name": "Trigger Master Journey ugK3", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1, "position": [4800, 400], "notes": "Sprint 7 C5 cutover \u00c2\u00b7 2026-05-23 \u00c2\u00b7 converted from httpRequest \u00e2\u2020\u2019 executeWorkflow \u00e2\u2020\u2019 ugK3QrxkWq22Bly5"}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || \"https://zero-risk-platform.vercel.app\" }}/api/cascade/onboard", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}, {"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ client_id: $('Validate Deal Data').item.json.client_id, scrape_summary: $('Call Onboarding Specialist: Auto-Discovery').item.json.response, caller: \"onboarding-e2e-v2:\" + $execution.id }) }}", "options": {"response": {"response": {"neverError": true}}, "timeout": 300000}}, "id": "run-onboarding-cascade", "name": "Run Onboarding Cascade (Gap 3)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4320, 400], "onError": "continueRegularOutput"}, {"parameters": {}, "id": "spell-check-marker", "name": "Spell Check Pass (in-cascade)", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [4080, 400], "notes": "Gap 2 (2026-05-16) \u00c2\u00b7 marker only \u00c2\u00b7 the actual spell-check-corrector agent runs INSIDE /api/cascade/onboard between content-creator and editor-en-jefe (see src/lib/cascade-runner.ts SEQUENCE). This noOp documents the stage in n8n UI for operator visibility."}, {"parameters": {"jsCode": "// Discovery Parser canon \u00b7 CC#3\u2194CC#4 convergence PR #182 + Opus Maxx 2026-06-09.\n// AUGMENTED 2026-06-27 (dispatch multi-source) \u00b7 \u00a7144 rama \u00b7 NO prod \u00b7\n//   + deterministic webhook-URL classifier (Tarea 1)\n//   + source / trust_level / type taxonomy on every scrape_target\n//   + \u00a7150 G5 guardrails (max_competitors=10 \u00b7 max_actors=3 \u00b7 dedup)\n//   + google_serp fallback when no website (Tarea 2)\n//   + discovery_package.sources[] initialized (filled by Aggregate node \u00b7 Tarea 3)\n// Mirror of src/lib/onboarding-discovery/url-classifier.ts (tested \u00b7 keep in sync).\n//\n// EMITS A SINGLE consolidated item \u00b7 Camino III reviews ONE discovery package.\n\nconst agentResponse = $('Call Onboarding Specialist: Auto-Discovery').first().json;\nconst responseBody = agentResponse.body || agentResponse;\nconst dealData = $('Validate Deal Data').first().json;\nconst clientId = dealData.client_id;\nconst clientName = dealData.client_name;\nconst journeyId = dealData._journey_id;\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// DETERMINISTIC CLASSIFIER + GUARDRAILS (mirror of url-classifier.ts)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nconst GUARDRAILS = { max_competitors_to_scrape: 10, max_actors_per_run: 3 };\n\nfunction normalizeUrl(raw) {\n  if (typeof raw !== 'string') return null;\n  const t = raw.trim().toLowerCase();\n  if (!t) return null;\n  return t.replace(/^https?:\\/\\//, '').replace(/^www\\./, '').replace(/\\/+$/, '');\n}\nfunction classifyUrl(raw) {\n  const n = normalizeUrl(raw);\n  if (!n) return null;\n  if (n.includes('instagram.com') || n.includes('instagr.am'))\n    return { kind: 'apify', apify_function: 'instagram_scraper', source: 'apify_scrape' };\n  if (n.includes('linkedin.com/company'))\n    return { kind: 'apify', apify_function: 'linkedin_company_scraper', source: 'apify_scrape' };\n  if (n.includes('facebook.com') || n.includes('fb.com'))\n    return { kind: 'apify', apify_function: 'facebook_ads_library_scraper', source: 'apify_scrape' };\n  if (n.includes('tiktok.com'))\n    return { kind: 'apify', apify_function: 'tiktok_profile_scraper', source: 'apify_scrape' };\n  if (n.includes('twitter.com') || n === 'x.com' || n.startsWith('x.com/'))\n    return { kind: 'apify', apify_function: 'twitter_scraper', source: 'apify_scrape' };\n  if (n.includes('google.com/maps') || n.includes('maps.google.com') || n.includes('goo.gl/maps'))\n    return { kind: 'apify', apify_function: 'google_maps_scraper', source: 'apify_scrape' };\n  return { kind: 'web_generic', apify_function: null, source: 'onboarding_discovery' };\n}\n\nconst discoveryOutput =\n  responseBody && typeof responseBody === 'object' && responseBody.discovery_output\n    ? responseBody.discovery_output : null;\nconst discoveryPersist =\n  responseBody && typeof responseBody === 'object' && responseBody.discovery_persist\n    ? responseBody.discovery_persist : null;\n\n// \u2500\u2500\u2500 PATH C \u00b7 HITL branch \u00b7 canon parse_kind absent/malformed \u2500\u2500\u2500\u2500\u2500\nif (!discoveryOutput && discoveryPersist) {\n  const parseKind = discoveryPersist.parse_kind || 'unknown';\n  const source = discoveryPersist.source || 'unknown';\n  if (parseKind === 'absent' || parseKind === 'malformed') {\n    const parseFailure = {\n      parse_kind: parseKind, source: source,\n      parse_reason: discoveryPersist.parse_reason || null,\n      tool_emission_count: discoveryPersist.tool_emission_count || 0,\n      errors: discoveryPersist.errors || [],\n      duration_ms: discoveryPersist.duration_ms || null,\n      workflow_execution_id: $execution.id, calling_workflow_id: $workflow.id,\n    };\n    return [{ json: {\n      client_id: clientId, client_name: clientName, _journey_id: journeyId,\n      _hitl_required: true, _discovery_ok: false,\n      _skip_reason: 'discovery_persist_' + parseKind,\n      discovery_package: {\n        competitors: [], scrape_targets: [], icp_signals: [],\n        discovery_summary: 'HITL \u00b7 agent discovery parse_kind=' + parseKind,\n        own_handles: {}, sources: [], parse_failure: parseFailure,\n      },\n      competitor_count: 0, scrape_target_count: 0, ready_for_review: true,\n      hitl_payload: parseFailure,\n    }}];\n  }\n}\n\nconst ownHandles = (discoveryOutput && discoveryOutput.own_handles) || {};\nconst competitors =\n  discoveryOutput && Array.isArray(discoveryOutput.competitors)\n    ? discoveryOutput.competitors.slice(0, 8) : [];\nconst icpRaw = discoveryOutput && discoveryOutput.icp;\nconst icpSegments = Array.isArray(icpRaw) ? icpRaw : (icpRaw ? [icpRaw] : []);\nconst primaryIcp = icpSegments[0] || null;\nconst discoverySummary = (discoveryOutput && discoveryOutput.competitive_landscape_summary) || '';\n\nconst scrapeTargets = [];\nconst seenLabels = new Set();\nconst actorsUsed = new Set();\nlet droppedCompetitorCap = 0, droppedActorCap = 0, droppedDup = 0;\n\n// pushTarget \u00b7 canon shape + taxonomy + \u00a7150 guardrails enforced here.\n// trust_level \u00b7 'tenant_trusted' for the client's OWN data \u00b7 'untrusted' for\n// competitors/search/scraped third parties.\nfunction pushTarget(apify_function, params, target_kind, target_label, source, trust_level) {\n  if (seenLabels.has(target_label)) { droppedDup++; return; }\n  if (scrapeTargets.length >= GUARDRAILS.max_competitors_to_scrape) { droppedCompetitorCap++; return; }\n  if (apify_function && !actorsUsed.has(apify_function) && actorsUsed.size >= GUARDRAILS.max_actors_per_run) {\n    droppedActorCap++; return;\n  }\n  seenLabels.add(target_label);\n  if (apify_function) actorsUsed.add(apify_function);\n  scrapeTargets.push({\n    client_id: clientId, client_name: clientName, _journey_id: journeyId,\n    _discovery_ok: true, apify_function, params,\n    target_kind, target_label, destination: 'brain_rag', dry_run: false,\n    source: source, trust_level: trust_level, type: 'evidence',\n    metadata: {\n      calling_workflow_id: $workflow.id,\n      calling_workflow_execution_id: $execution.id,\n      scope: 'onboarding_e2e_lazo_dynamic',\n      sprint: 'discovery-multisource-2026-06-27',\n      target_kind, target_label, source, trust_level,\n    },\n  });\n}\n\n// \u2500\u2500\u2500 PATH A \u00b7 agent-derived OWN handles (tenant_trusted \u00b7 direct client data) \u2500\nif (ownHandles.instagram) pushTarget('instagram_scraper', { usernames: [String(ownHandles.instagram).replace(/^@/, '')], resultsLimit: 5 }, 'own', 'own:instagram:' + ownHandles.instagram, 'apify_scrape', 'tenant_trusted');\nif (ownHandles.tiktok) pushTarget('tiktok_profile_scraper', { usernames: [String(ownHandles.tiktok).replace(/^@/, '')], maxItems: 5 }, 'own', 'own:tiktok:' + ownHandles.tiktok, 'apify_scrape', 'tenant_trusted');\nif (ownHandles.linkedin) pushTarget('linkedin_company_scraper', { companies: [ownHandles.linkedin], maxItems: 1 }, 'own', 'own:linkedin:' + ownHandles.linkedin, 'apify_scrape', 'tenant_trusted');\n\n// \u2500\u2500\u2500 Tarea 1 \u00b7 classify the client's webhook URLs (website + socials) \u2500\n// Own data from the webhook = tenant_trusted. Generic website \u2192 web_fetch\n// (onboarding_discovery \u00b7 NO apify actor fired).\nconst webhookUrls = [\n  dealData.website, dealData.domain,\n  dealData.instagram, dealData.facebook, dealData.tiktok, dealData.linkedin,\n  ...(dealData.own_social_handles && typeof dealData.own_social_handles === 'object'\n    ? Object.values(dealData.own_social_handles) : []),\n].filter((u) => typeof u === 'string' && u.trim().length > 0);\n\nfor (const url of webhookUrls) {\n  const cls = classifyUrl(url);\n  if (!cls) continue;\n  const norm = normalizeUrl(url);\n  if (cls.kind === 'apify') {\n    pushTarget(cls.apify_function, { startUrls: [{ url: 'https://' + norm }] }, 'own', 'own:web:' + norm, cls.source, 'tenant_trusted');\n  } else {\n    // generic web URL \u00b7 agent web_fetch \u00b7 no actor \u00b7 still recorded as evidence\n    pushTarget(null, { url: 'https://' + norm }, 'own_web', 'own:webfetch:' + norm, cls.source, 'tenant_trusted');\n  }\n}\n\n// \u2500\u2500\u2500 COMPETITOR scrapes (untrusted) \u00b7 canon competitor fields \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfor (let i = 0; i < competitors.length; i++) {\n  const c = competitors[i];\n  if (!c || typeof c !== 'object' || !c.name) continue;\n  const cName = c.name; const h = c.handles || {};\n  pushTarget('facebook_ads_library_scraper', { searchTerms: [cName], country: 'US', maxItems: 3 }, 'competitor', 'comp:fb_ads:' + cName, 'apify_scrape', 'untrusted');\n  if (h.instagram) pushTarget('instagram_scraper', { usernames: [String(h.instagram).replace(/^@/, '')], resultsLimit: 3 }, 'competitor', 'comp:ig:' + cName, 'apify_scrape', 'untrusted');\n  if (h.tiktok) pushTarget('tiktok_profile_scraper', { usernames: [String(h.tiktok).replace(/^@/, '')], maxItems: 3 }, 'competitor', 'comp:tiktok:' + cName, 'apify_scrape', 'untrusted');\n  if (h.linkedin) pushTarget('linkedin_company_scraper', { companies: [h.linkedin], maxItems: 1 }, 'competitor', 'comp:linkedin:' + cName, 'apify_scrape', 'untrusted');\n}\n\n// \u2500\u2500\u2500 SEO \u00b7 canon icp.industries[] + icp.geography (search \u00b7 untrusted) \u2500\nif (primaryIcp) {\n  const industry = (Array.isArray(primaryIcp.industries) && primaryIcp.industries.length > 0)\n    ? primaryIcp.industries[0] : primaryIcp.audience_segment;\n  const geography = primaryIcp.geography || '';\n  if (industry) pushTarget('google_serp_scraper', { queries: industry + (geography ? (' ' + geography) : ''), resultsPerPage: 5, maxPagesPerQuery: 1 }, 'seo', 'seo:industry:' + industry, 'search', 'untrusted');\n}\n\n// \u2500\u2500\u2500 Tarea 2 \u00b7 FALLBACK \u00b7 no website AND no actor targets \u2192 google_serp \u2500\n// + extended \u00b7 if a location/city is provided, ALSO probe local presence via\n//   google_maps_scraper (compass/crawler-google-places).\nconst hasWebsite = typeof dealData.website === 'string' && dealData.website.trim().length > 0;\nconst hasActorTarget = scrapeTargets.some((t) => t.apify_function);\nif (!hasWebsite && !hasActorTarget) {\n  const q = [String(clientName || '').trim() + ' competitors', String(dealData.industry || '').trim()]\n    .filter((s) => s.length > 1).join(' ');\n  pushTarget('google_serp_scraper', { queries: q, resultsPerPage: 5, maxPagesPerQuery: 1 }, 'fallback', 'fallback:serp:' + q, 'search', 'untrusted');\n\n  const location = String(dealData.location || dealData.city || '').trim();\n  if (location.length > 0) {\n    const subject = String(clientName || dealData.industry || '').trim();\n    const mq = [subject, location].filter((s) => s.length > 0).join(' ');\n    pushTarget('google_maps_scraper', { searchStringsArray: [mq], maxCrawledPlacesPerSearch: 5 }, 'fallback', 'fallback:maps:' + mq, 'search', 'untrusted');\n  }\n}\n\n// \u2500\u2500\u2500 Shadow-safe \u00b7 no agent signal AND no deterministic targets \u2192 skip \u2500\nif (!discoveryOutput && scrapeTargets.length === 0) {\n  return [{ json: {\n    client_id: clientId, client_name: clientName, _journey_id: journeyId,\n    _discovery_ok: false, _skip_reason: 'discovery_output_missing_no_signal',\n    discovery_package: {\n      competitors: [], scrape_targets: [], icp_signals: [],\n      discovery_summary: 'NO_SIGNAL \u00b7 agent returned neither discovery_output nor discovery_persist \u00b7 no webhook URLs',\n      own_handles: {}, sources: [],\n    },\n    competitor_count: 0, scrape_target_count: 0, ready_for_review: false,\n  }}];\n}\n\n// \u2500\u2500\u2500 Final \u00b7 single consolidated item \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nreturn [{ json: {\n  client_id: clientId, client_name: clientName, _journey_id: journeyId,\n  _discovery_ok: true,\n  discovery_package: {\n    competitors: competitors, scrape_targets: scrapeTargets,\n    icp_signals: icpSegments, discovery_summary: discoverySummary,\n    own_handles: ownHandles,\n    // Tarea 3 \u00b7 filled by the Aggregate node post-Apify \u00b7 init here so the\n    // shape is stable for Camino III review even if discovery is shadow.\n    sources: [],\n    guardrails_applied: GUARDRAILS,\n    dropped: { by_competitor_cap: droppedCompetitorCap, by_actor_cap: droppedActorCap, duplicates: droppedDup },\n  },\n  competitor_count: competitors.length,\n  scrape_target_count: scrapeTargets.length,\n  ready_for_review: true,\n}}];\n"}, "id": "apify-wire-load-clients-onboarding_e2e", "name": "[APIFY-WIRE] Discovery Parser \u00b7 dynamic targets (lazo)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [240, 760], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 30000, "notes": "[LAZO 2026-06-06 \u00b7 CC#4] Discovery Parser \u00b7 canon \u00a7interface contract.\nLee response de Call Onboarding Specialist \u00b7 extrae discovery_output JSON.\nEmite 1 item por (target \u00d7 apify_function). Shadow-safe \u00b7 si contract no\nsatisfecho \u00b7 skip marker emitted \u00b7 APIFY-WIRE downstream se salta gracioso.\nReemplaza el old Load active clients (Supabase REST) \u00b7 era dry_run-only shadow.\n\n[CANON CONVERGE 2026-06-06 \u00b7 CC#4 PR #182 align]\nDiscovery Parser canon \u00b7 reads response.body.discovery_output (path A canon CC#3) \u00b7 NO re-parse (CC#3 route.ts handles tool_call + text_parser internally). Falls back to response.body.discovery_persist for HITL branch (parse_kind absent/malformed). ICP canon \u00b7 DiscoveredIcpSegment | DiscoveredIcpSegment[] \u00b7 industries[] + geography canon. YouTube competitor handle support added."}, {"parameters": {"fieldToSplitOut": "discovery_package.scrape_targets", "options": {}}, "id": "apify-wire-split-clients-onboarding_e2e", "name": "[APIFY-WIRE] Split per scrape target (lazo)", "type": "n8n-nodes-base.splitOut", "typeVersion": 1, "position": [500, 760], "notes": "[LAZO 2026-06-06 \u00b7 CC#4] n8n itera 1 item por scrape target (Discovery output).\nNo es por cliente \u00b7 es por (target \u00d7 function) tuple emitido por Discovery Parser."}, {"parameters": {"jsCode": "// Gate \u00b7 drop items that signaled skip (_discovery_ok=false or _skip_reason)\n// Canon \u00a7148 \u00b7 log skip but never crash the worker \u00b7 always safe pass.\nconst item = $input.item.json;\nif (item._discovery_ok === false || item._skip_reason) {\n  // Emit nothing \u00b7 downstream sees zero items, gracefully skips.\n  return [];\n}\nreturn [{ json: item }];"}, "id": "apify-wire-filter-functions-onboarding_e2e", "name": "[APIFY-WIRE] Gate \u00b7 drop skip-markers (lazo)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [760, 760], "notes": "[LAZO 2026-06-06 \u00b7 CC#4] Gate can\u00f3nico \u00b7 cuela items skip-marker \u00b7 mantiene items reales. Old filter-by-cron logic eliminada (canon ya viene del Discovery)."}, {"parameters": {"options": {}}, "id": "apify-wire-split-functions-onboarding_e2e", "name": "[APIFY-WIRE] Split per function (onboarding_e2e)", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 3, "position": [2060, 760], "disabled": true, "notes": "[LAZO 2026-06-06 \u00b7 CC#4] DISABLED \u00b7 Discovery Parser ya emite per-function.\nOld per-function split based on static cron \u00b7 ya no aplica."}, {"parameters": {"method": "POST", "url": "https://n8n-production-72be.up.railway.app/webhook/apify-service-workflow", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  client_id: $json.client_id,\n  apify_function: $json.apify_function,\n  destination: $json.destination || 'brain_rag',\n  dry_run: $json.dry_run === true,\n  params: $json.params || {},\n  metadata: $json.metadata || {}\n}) }}", "options": {"timeout": 120000}}, "id": "apify-wire-call-service-onboarding_e2e", "name": "[APIFY-WIRE] Call Apify Service Workflow (onboarding_e2e)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1020, 760], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 30000, "onError": "continueRegularOutput", "notes": "[LAZO 2026-06-06 \u00b7 CC#4] Dynamic body \u00b7 consume Discovery Parser items.\nparams canonicales del scrape vienen del Discovery agent \u00b7 NO de static config.\ndry_run default false (per item \u00b7 canon honest). brain persistence ya OK (transform-sections fix #3 ronda anterior)."}, {"parameters": {"jsCode": "// Aggregate Service responses \u00b7 AUGMENTED 2026-06-27 (dispatch multi-source) \u00b7\n// Tarea 3 \u00b7 graceful degradation + discovery_package.sources[].\n// Mirror of aggregateDiscoverySources() in src/lib/onboarding-discovery/url-classifier.ts.\n//\n// A failed actor is marked status:'failed' and the run CONTINUES \u00b7 one down\n// source NEVER aborts the whole discovery. The sources[] array (what ran \u00b7\n// status \u00b7 count \u00b7 trust_level) is surfaced for Camino III + the brain write.\n\nconst items = $input.all();\nconst summary = { total_calls: items.length, successes: 0, errors: 0, skipped_gate: 0, by_function: {} };\nconst sources = [];\nlet okCount = 0, failedCount = 0, totalResults = 0;\n\nfor (const it of items) {\n  const r = it.json || {};\n  const fn = r.apify_function || 'unknown';\n  summary.by_function[fn] = (summary.by_function[fn] || 0) + 1;\n\n  if (r.status === 'skipped' || r.skip_reason) {\n    summary.skipped_gate++;\n    continue; // gate skip-markers are not a source success/failure\n  }\n\n  const failed = r.success === false || !!r.error;\n  const count =\n    typeof r.result_count === 'number' ? r.result_count\n    : Array.isArray(r.results) ? r.results.length\n    : typeof r.count === 'number' ? r.count : 0;\n\n  if (failed) {\n    summary.errors++;\n    failedCount++;\n    sources.push({\n      apify_function: fn, status: 'failed', count: 0,\n      trust_level: r.trust_level || 'untrusted',\n      source: r.source || 'apify_scrape',\n      error: (r.error && (r.error.message || String(r.error))) || 'actor failed',\n    });\n  } else {\n    summary.successes++;\n    okCount++;\n    totalResults += count;\n    sources.push({\n      apify_function: fn, status: 'ok', count: count,\n      trust_level: r.trust_level || 'untrusted',\n      source: r.source || 'apify_scrape',\n    });\n  }\n}\n\nreturn [{ json: {\n  scope: 'onboarding_e2e',\n  destination_table: 'client_competitive_landscape',\n  summary,\n  // Tarea 3 \u00b7 top-level sources[] \u00b7 merged into discovery_package downstream.\n  sources,\n  sources_summary: { ok_count: okCount, failed_count: failedCount, total_results: totalResults },\n  ran_at: new Date().toISOString(),\n} }];\n"}, "id": "apify-wire-aggregate-onboarding_e2e", "name": "[APIFY-WIRE] Aggregate Service responses (onboarding_e2e)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1280, 760]}, {"parameters": {"jsCode": "// Model B \u00b7 DISPATCH-\u00daNICO guard\n// Rechaza runs que no vengan via sala dispatch.\n// Fix Ola 2 2026-06-05 \u00b7 variable scoping \u00b7 return reusa `...body` (que ya incluye los _ underscores)\nconst body = $input.first().json.body || $input.first().json;\nif (!body._sala_correlation_id || !body._journey_id) {\n  throw new Error(\n    'DISPATCH_REJECTED \u00b7 Model B canon \u00b7 este worker SOLO acepta '+\n    'dispatch via sala. Faltan _sala_correlation_id + _journey_id ' +\n    'en body. Scoped al run \u00b7 no corta workflow.'\n  );\n}\n// Pasa el body completo (incluye _sala_correlation_id + _journey_id + resto)\nreturn [{ json: { ...body, _modelb_guard: 'passed' } }];"}, "id": "modelb-dispatch-unico-guard", "name": "[MODELB] Dispatch-\u00fanico Guard \u00b7 scoped al run", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [480, 400], "notes": "Model B adapter \u00b7 DISPATCH-\u00daNICO guard. Verifica que el run venga\ndispatchado por la sala (presencia de _sala_correlation_id +\n_journey_id en el body del webhook). Si faltan, throw + halt este\nrun espec\u00edfico (scoped \u00b7 NO corte global \u00b7 otros runs siguen igual).\nWiring \u00b7 entre 'Webhook: Deal Won' y 'Validate Deal Data'.\nActivation \u00b7 \u00a7144 + CC#3 receiver listo. CC#4 spec 2026-06-05.\n\n[OLA 2 WIRE+ENABLE 2026-06-05 \u00b7 CC#4] Wired into main flow + enabled. SALA_WORKFLOW_DISPATCH_ENABLED flag sigue OFF (Vercel \u00b7 CIC Ola 1b pending) \u00b7 NO dispatch real hasta \u00a7144 Emilio + flips Ola 3.\n\n[OLA 2 BUGFIX 2026-06-05 \u00b7 CC#4] Fixed variable-scope bug in jsCode \u00b7 return now spreads body directly (no shadow vars \u00b7 no shorthand bug). Smoke confirmed pre-fix: throw path OK \u00b7 return path crashed with \"_sala_correlation_id is not defined\"."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"INTAKE\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "modelb-phase-boundary-emit", "name": "[MODELB] Phase-boundary Emit \u00b7 reconciliaci\u00f3n OBSERVE", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [720, 120], "notes": "[MODELB \u00b7 Costura A \u00b7 RONDA 2 re-point \u00b7 CC#4 2026-06-05]\nEndpoint can\u00f3nico re-pointed to dedicated /api/sala/ingress (CC#3 final decision).\nPrevious V2 pointed to multiplexed /api/sala/events/append (now interno-alterno only).\nShadow \u00b7 disabled \u00b7 unwired. Activation gate \u00a7144 + CC#3 receiver + wiring sesi\u00f3n.\n----\n[MODELB \u00b7 Costura A closed \u00b7 CC#4 2026-06-05]\nEndpoint converged to CC#3 canon \u00b7 /api/sala/events/append (PR #172).\nSingle endpoint for BOTH event_types \u00b7 phase_boundary + run_completed.\nPhase boundaries canon \u00b7 8 names (CC#3 JOURNEY_WORKFLOW_MAP).\nShadow \u00b7 disabled \u00b7 unwired. Activation gate \u00a7144 + CC#3 receiver verified.\n----\nModel B adapter \u00b7 phase-boundary event emitter. POST a la sala\ningress endpoint cuando se cruza una FRONTERA DE FASE (NO los\n24+ nodos individuales \u00b7 solo fases l\u00f3gicas Journey B ONBOARD).\nPhase taxonomy \u00b7 INTAKE \u2192 DISCOVERY \u2192 WORKSPACE \u2192 SCHEDULING \u2192\nNOTIFICATION \u2192 CASCADE \u2192 APIFY_WIRE \u2192 TERMINAL.\nWiring \u00b7 copy-paste este nodo en cada boundary con phase_name\nparametrizado. Activation \u00b7 \u00a7144 + CC#3 receiver. CC#4 2026-06-05.\n\n[OLA 2 WIRE+ENABLE 2026-06-05 \u00b7 CC#4] Wired into main flow + enabled. SALA_WORKFLOW_DISPATCH_ENABLED flag sigue OFF (Vercel \u00b7 CIC Ola 1b pending) \u00b7 NO dispatch real hasta \u00a7144 Emilio + flips Ola 3.\n\n[R1 CANON RENAME 2026-06-28 \u00b7 CC#2] phase_name \u2192 MAY\u00daSCULA can\u00f3nica. Display name legacy preservado (no referenciado \u00b7 evita cirug\u00eda connection-keys). Order-tolerant reconciliation PR #217 cubre orden DAG paralelo."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_CALLBACK_URL || 'https://zero-risk-platform.vercel.app/api/sala/callback' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_CALLBACK_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"run_completed\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"worker_name\": \"Zero Risk - Client Onboarding E2E v2\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"summary\": {\n    \"notion_workspace\": \"{{ $('Create Notion Client Workspace').item.json }}\",\n    \"success_plan\": \"{{ $('Create Success Plan in Notion').item.json }}\",\n    \"handoff_score\": \"{{ $('Compute Handoff Score').item.json }}\",\n    \"mc_inbox\": \"{{ $('Notify MC Inbox').item.json }}\"\n  },\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "modelb-writeback-callback", "name": "[MODELB] Write-back Callback \u00b7 run terminal", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3840, 400], "notes": "[MODELB \u00b7 Costura A \u00b7 RONDA 2 re-point \u00b7 CC#4 2026-06-05]\nEndpoint can\u00f3nico re-pointed to dedicated /api/sala/callback (CC#3 final decision).\nPrevious V2 pointed to multiplexed /api/sala/events/append (now interno-alterno only).\nShadow \u00b7 disabled \u00b7 unwired. Activation gate \u00a7144 + CC#3 receiver + wiring sesi\u00f3n.\n----\n[MODELB \u00b7 Costura A closed \u00b7 CC#4 2026-06-05]\nEndpoint converged to CC#3 canon \u00b7 /api/sala/events/append (PR #172).\nevent_type=run_completed envelope \u00b7 single endpoint same as phase_boundary.\nShadow \u00b7 disabled \u00b7 unwired. Activation gate \u00a7144 + CC#3 receiver verified.\n----\nModel B adapter \u00b7 write-back callback. POST a la sala callback\nendpoint cuando el worker llega al terminal (post 'Notify MC\nInbox'). Cierra el loop OBSERVE \u00b7 sala marca el run como\ncompleted + reconcilia el state final.\nWiring \u00b7 post 'Notify MC Inbox' (y/o un branch terminal common).\nActivation \u00b7 \u00a7144 + CC#3 receiver. CC#4 2026-06-05.\n\n[OLA 2 WIRE+ENABLE 2026-06-05 \u00b7 CC#4] Wired into main flow + enabled. SALA_WORKFLOW_DISPATCH_ENABLED flag sigue OFF (Vercel \u00b7 CIC Ola 1b pending) \u00b7 NO dispatch real hasta \u00a7144 Emilio + flips Ola 3."}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1}, "conditions": [{"id": "camino-iii-decision", "leftValue": "={{ $json.decision }}", "rightValue": "PASS", "operator": {"type": "string", "operation": "equals"}}], "combinator": "and"}, "options": {}}, "id": "apify-wire-hitl-if-canon-182", "name": "[APIFY-WIRE] IF \u00b7 Camino III decision (PASS/REJECT)", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1800, 760], "notes": "[CANON CONVERGE 2026-06-06 \u00b7 CC#4 PR #182] IF gate \u00b7 split HITL items (parse_kind=absent/malformed signal from CC#3 discovery_persist) from real scrape items. TRUE branch \u2192 HITL POST \u00b7 FALSE branch \u2192 existing Gate \u2192 Apify Service Workflow."}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/queue", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  task_type: \"onboarding_review\",\n  type: \"onboarding_review\",\n  agent_name: \"onboarding-specialist\",\n  client_id: $json.client_id,\n  title: \"Onboarding \u00b7 Camino III review \u00b7 \" + ($json.client_name || $json.client_id) + \" \u00b7 \" + ($json.competitor_count || 0) + \" competidores\",\n  priority: \"medium\",\n  client_name: $json.client_name,\n  workflow_id: \"LyVoKcrypS5uLyuu\",\n  workflow_execution_id: $execution.id,\n  payload: $json.staging_package || {},\n  metadata: {\n    source: \"onboarding_e2e_5phase\",\n    journey_id: $json._journey_id,\n    scope: \"onboarding_e2e\",\n    sprint: \"5phase-redesign-2026-06-09\",\n    competitor_count: $json.competitor_count || 0,\n    scrape_target_count: $json.scrape_target_count || 0,\n    staging_timestamp: $json.staging_package ? $json.staging_package.staging_timestamp : null\n  },\n  callback_url: $execution.resumeUrl,\n  dedup_key: $execution.id\n}) }}", "options": {"response": {"response": {"neverError": true}}, "timeout": 15000}}, "id": "apify-wire-hitl-post-canon-182", "name": "[APIFY-WIRE] POST /api/hitl/queue (canon)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1540, 760], "notes": "[CANON CONVERGE 2026-06-06 \u00b7 CC#4 PR #182] HITL inbox enqueue \u00b7 canon path C. POST /api/hitl/queue with type=discovery_persist_failure \u00b7 best-effort \u00b7 neverError. Worker continues normal flow after enqueue (skipping scraping for this run)."}, {"parameters": {"jsCode": "// Canon shape for Master Journey ugK3QrxkWq22Bly5 sub-workflow input.\n// parse-validate-request (entry) reads $input.first().json.body.\n// Required: journey (one of ACQUIRE|ONBOARD|PRODUCE|ALWAYS_ON|REVIEW)\n//           client_id (string \u00b7 except ACQUIRE)\n//           trigger_type (string \u00b7 'manual' default)\n//           params (object \u00b7 free-form context)\n// Fix root \u00b7 Sprint 7 C5 cutover converted httpRequest\u2192executeWorkflow\n// but never wrapped payload as { body: {...} } per webhook entry shape.\n\nconst deal = $('Validate Deal Data').first().json;\nconst cascade = $input.first().json;\n\nreturn [{\n  json: {\n    body: {\n      journey: 'ONBOARD',\n      client_id: deal.client_id,\n      trigger_type: 'deal-won-onboarding',\n      params: {\n        client_name: deal.client_name || null,\n        website: deal.website || null,\n        industry: deal.industry || null,\n        sala_correlation_id: deal._sala_correlation_id || null,\n        journey_id: deal._journey_id || null,\n        cascade_response: (cascade && typeof cascade === 'object') ? cascade : null,\n        upstream_workflow_id: $workflow.id,\n        upstream_execution_id: $execution.id,\n      },\n    },\n  },\n}];\n"}, "id": "build-master-journey-input-canon", "name": "Build Master Journey Input (canon shape)", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4560, 400], "notes": "CC#4 2026-06-09 rewire P0 \u00b7 Fix journey_type=undefined at Master Journey ugK3. Shapes payload as { body: { journey: ONBOARD, client_id, trigger_type, params } } per parse-validate-request expectations of ugK3QrxkWq22Bly5 webhook entry."}, {"parameters": {"jsCode": "// Canon \u00b7 unwrap Vercel callback envelope (PR #185 contract) into the same shape\n// the synchronous /api/agents/run-sdk used to return. Name preserved to keep\n// existing references ($('Call Onboarding Specialist: Auto-Discovery').item.json.*)\n// resolving transparently \u00b7 zero text-edits across downstream consumer nodes.\n//\n// Vercel callback body shape \u00b7 { status, agent_slug, client_id, result: <agentResult> }\n// where agentResult mirrors sync-mode response body { response, result, discovery_output, ... }.\n// If callback already arrives unwrapped (no `result` envelope) \u00b7 pass through.\n\nconst cb = $input.first().json;\nconst unwrapped = (cb && typeof cb === 'object' && 'result' in cb) ? cb.result : cb;\nreturn [{ json: unwrapped }];\n"}, "id": "unwrap-agent-callback", "name": "Call Onboarding Specialist: Auto-Discovery", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1920, 400], "notes": "CC#4 2026-06-09 \u00b7 NAME-PRESERVED unwrap of Vercel callback envelope (PR #185). Inherits the original name \"Call Onboarding Specialist: Auto-Discovery\" so that downstream references like $('Call Onboarding Specialist: Auto-Discovery').item.json.response resolve to the unwrapped agent result without code edits in consumer nodes."}, {"parameters": {"resume": "webhook", "httpMethod": "POST", "limitWaitTime": true, "resumeAmount": 86400, "resumeUnit": "seconds", "options": {}}, "id": "wait-camino-decision", "name": "Wait \u00b7 Camino III decision", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [5660, 580], "webhookId": "d6744618-1d7d-4eb9-9e80-a8df05d553b8", "notes": "CC#4 2026-06-09 \u00b7 Camino III decision wait \u00b7 pareja con POST /api/hitl/queue. Camino III revisa\u2192vota\u2192decide; POSTea callback_url con {decision: \"PASS\" | \"REJECT\"}. Wait reanuda + IF downstream eval\u00faa decision. Limit 86400s (24h) \u00b7 expira clean si Camino III no responde."}, {"parameters": {}, "id": "end-rejected-camino", "name": "Onboarding rejected \u00b7 Camino III", "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [5160, 760], "notes": "CC#4 2026-06-09 \u00b7 terminal \u00b7 onboarding rejected by Camino III \u00b7 flow stops cleanly \u00b7 no cascade \u00b7 no scrape fire."}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/queue", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({\n  task_type: \"confirm_competitor_list\",\n  type: \"confirm_competitor_list\",\n  title: \"Confirmaci\u00f3n lista de competidores \u00b7 \" + ($json.client_name || $json.client_id),\n  agent_name: \"competitive-intelligence-agent\",\n  client_id: $json.client_id,\n  client_name: $json.client_name,\n  priority: \"low\",\n  payload: {\n    competitors: $json.discovery_package.competitors || [],\n    scrape_targets: $json.discovery_package.scrape_targets || [],\n    instruction: \"Confirmar que estos competidores son relevantes antes de scrapear\",\n    discovery_summary: $json.discovery_package.discovery_summary || \"\"\n  },\n  callback_url: $execution.resumeUrl,\n  workflow_id: $workflow.id,\n  workflow_execution_id: $execution.id,\n  dedup_key: $execution.id + \"_competitor_confirm\"\n}) }}", "options": {"response": {"response": {"neverError": true}}, "timeout": 10000}}, "id": "confirm-competitor-list-6b", "name": "Confirm barato \u00b7 competitor list", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5160, 220]}, {"parameters": {"jsCode": "// Synthesis Staging \u00b7 Fase 3 \u00b7 spec 5-fases CC#4 2026-06-09\n// Consolida en memoria: agent output + Apify results \u2192 staging_package\n// NO hace INSERT/UPDATE a ninguna tabla.\n\nconst discoveryItem = $('Confirm barato \u00b7 competitor list').first().json;\nconst apifyAggregate = $('[APIFY-WIRE] Aggregate Service responses (onboarding_e2e)').first().json;\nconst dealData = $('Validate Deal Data').first().json;\n\nconst discoveryPkg = discoveryItem.discovery_package || {};\nconst apifyResults = apifyAggregate.results || apifyAggregate.apify_results || [];\n\n// brand_book_draft: conclusiones del agente + evidencia Apify\nconst brandBookDraft = {\n  competitive_landscape: discoveryPkg.discovery_summary || \"\",\n  competitors: discoveryPkg.competitors || [],\n  icp_signals: discoveryPkg.icp_signals || [],\n  own_handles: discoveryPkg.own_handles || {},\n  apify_evidence_count: apifyResults.length,\n  draft_status: \"pre_gate\",\n  source_agent: \"onboarding-specialist\",\n  source_apify: \"discovery_e2e_scrapes\",\n  generated_at: new Date().toISOString()\n};\n\n// icp_draft: se\u00f1ales ICP identificadas\nconst icpSignals = discoveryPkg.icp_signals || [];\nconst icpDraft = {\n  segments: icpSignals,\n  primary_segment: icpSignals[0] || null,\n  segment_count: icpSignals.length,\n  draft_status: \"pre_gate\"\n};\n\n// competitive_analysis_draft\nconst competitiveAnalysisDraft = {\n  competitors: discoveryPkg.competitors || [],\n  scrape_targets_count: discoveryPkg.scrape_targets ? discoveryPkg.scrape_targets.length : 0,\n  apify_results: apifyResults,\n  landscape_summary: discoveryPkg.discovery_summary || \"\",\n  draft_status: \"pre_gate\"\n};\n\nconst stagingPackage = {\n  brand_book_draft: brandBookDraft,\n  icp_draft: icpDraft,\n  competitive_analysis_draft: competitiveAnalysisDraft,\n  evidence_sources: [\"onboarding-specialist\", \"apify\"],\n  staging_timestamp: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    client_id: dealData.client_id,\n    client_name: dealData.client_name,\n    _journey_id: dealData._journey_id,\n    staging_package: stagingPackage,\n    competitor_count: (discoveryPkg.competitors || []).length,\n    scrape_target_count: (discoveryPkg.scrape_targets || []).length\n  }\n}];\n"}, "id": "synthesis-staging-node9", "name": "Synthesis Staging \u00b7 build package", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5160, 580]}, {"parameters": {"jsCode": "// Persist Canon \u00b7 Fase 5 \u00b7 solo tras PASS Camino III\n// Escribe brand_book, ICP, an\u00e1lisis competitivo via API.\n// RECI\u00c9N AQU\u00cd se persisten los datos canonizados.\n\nconst stagingPkg = $json.staging_package || {};\nconst clientId = $('Validate Deal Data').first().json.client_id;\nconst apiUrl = $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app';\nconst apiKey = $env.INTERNAL_API_KEY;\n\nconst headers = {\n  'Content-Type': 'application/json',\n  'x-api-key': apiKey\n};\n\n// 1. POST brand_book\nlet brandBookResult = null;\ntry {\n  const bbResp = await fetch(apiUrl + '/api/clients/' + clientId + '/brand-book', {\n    method: 'POST',\n    headers: headers,\n    body: JSON.stringify({\n      brand_book: stagingPkg.brand_book_draft,\n      source: 'onboarding_e2e_5phase',\n      camino_iii_approved: true,\n      approved_at: new Date().toISOString()\n    })\n  });\n  brandBookResult = { status: bbResp.status, ok: bbResp.ok };\n} catch(e) {\n  brandBookResult = { status: 'error', message: e.message };\n}\n\n// 2. POST ICP\nlet icpResult = null;\ntry {\n  const icpResp = await fetch(apiUrl + '/api/clients/' + clientId + '/icp', {\n    method: 'POST',\n    headers: headers,\n    body: JSON.stringify({\n      icp: stagingPkg.icp_draft,\n      source: 'onboarding_e2e_5phase',\n      camino_iii_approved: true\n    })\n  });\n  icpResult = { status: icpResp.status, ok: icpResp.ok };\n} catch(e) {\n  icpResult = { status: 'error', message: e.message };\n}\n\n// 3. POST competitive analysis al Brain como evidencia CANON (no provisional)\nlet brainResult = null;\ntry {\n  const brainResp = await fetch(apiUrl + '/api/brain/ingest-source', {\n    method: 'POST',\n    headers: headers,\n    body: JSON.stringify({\n      client_id: clientId,\n      source_type: 'competitive_intelligence',\n      content: JSON.stringify(stagingPkg.competitive_analysis_draft),\n      metadata: {\n        provenance: 'onboarding_e2e_5phase_post_camino_iii',\n        confidence: 'canon',\n        type: 'evidencia_canon',\n        camino_iii_approved: true,\n        approved_at: new Date().toISOString()\n      }\n    })\n  });\n  brainResult = { status: brainResp.status, ok: brainResp.ok };\n} catch(e) {\n  brainResult = { status: 'error', message: e.message };\n}\n\nreturn [{\n  json: {\n    ...$json,\n    persist_canon_results: {\n      brand_book: brandBookResult,\n      icp: icpResult,\n      brain_canon: brainResult,\n      persisted_at: new Date().toISOString()\n    }\n  }\n}];\n"}, "id": "persist-canon-fase5", "name": "Persist Canon \u00b7 brand_book + ICP + analysis", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5910, 580]}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"agent\": \"competitive-intelligence-agent\",\n  \"client_id\": \"{{ $('Validate Deal Data').first().json.client_id }}\",\n  \"workflow_id\": \"LyVoKcrypS5uLyuu\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify(\"Analiz\u00e1 la siguiente lista de competidores detectados y emit\u00ed un veredicto, PONDERANDO el trust_level de cada competidor (untrusted = evidencia sin verificar, menor confianza; tenant_trusted = confianza alta). Responde EXCLUSIVAMENTE con JSON: {\\\"veredicto\\\":\\\"confirmar\\\"|\\\"observar\\\",\\\"razones\\\":[string],\\\"confianza\\\":number 0-1}. confirmar = lista razonable y relevante para scrapear; observar = dudas o baja relevancia. Competidores detectados (cada uno con name, source, trust_level, why): \" + JSON.stringify($('[APIFY-WIRE] Discovery Parser \u00b7 dynamic targets (lazo)').first().json.discovery_package.competitors)) }}\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 800000}}, "id": "competitor-verdict-runsdk", "name": "Competitor Verdict \u00b7 run-sdk (INLINE)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5410, 220], "notes": "[CC#4 OptA] Gate 1 \u00b7 competitive-intelligence-agent \u00b7 INLINE. [BUG3 fix 2026-06-27: competitor_list \u2190 Discovery Parser.discovery_package.competitors (era Confirm barato HTTP resp)] [BUG8 fix 2026-06-27: context.competitor_list\u2192competitors (agent reads competitors[]; objs carry source+trust_level)] [BUG9 fix 2026-06-27: competitors embedded in TASK (agent-runner ignores context); + trust_level weighting instruction] [BUG10 fix 2026-06-28: .item.json \u2192 .first().json (paired-item flaky \u2192 competitors resolv\u00edan [])]"}, {"parameters": {"jsCode": "const r = $input.first().json; const body = (r && r.body) ? r.body : r;\nlet txt = ''; if (body && typeof body === 'object') txt = body.response || body.output_summary || ''; else if (typeof body === 'string') txt = body;\nlet veredicto = 'observar', razones = ['default_observar_no_parseable'], confianza = 0;\ntry { const m = (txt || '').match(/\\{[\\s\\S]*\\}/); if (m) { const j = JSON.parse(m[0]);\n  const v = String(j.veredicto || j.verdict || '').toLowerCase();\n  veredicto = (v === 'confirmar' || v === 'confirm') ? 'confirmar' : 'observar';\n  razones = Array.isArray(j.razones) ? j.razones : (Array.isArray(j.reasons) ? j.reasons : []);\n  confianza = typeof j.confianza === 'number' ? j.confianza : (typeof j.confidence === 'number' ? j.confidence : 0);\n} } catch (e) { veredicto = 'observar'; razones = ['parse_error: ' + (e.message || String(e))]; }\nreturn [{ json: { veredicto, razones, confianza,\n  client_id: $('Validate Deal Data').item.json.client_id,\n  client_name: $('Validate Deal Data').item.json.client_name,\n  competitor_list: $('Confirm barato \u00b7 competitor list').item.json,\n  _verdict_raw: (txt || '').slice(0, 800) } }];"}, "id": "parse-verdict", "name": "Parse veredicto", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5660, 220], "notes": "[CC#4 OptA] parse gate-1 \u00b7 default observar"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-if-verdict", "leftValue": "={{ $json.veredicto }}", "rightValue": "confirmar", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "id": "if-verdict", "name": "IF \u00b7 veredicto", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [5910, 220], "notes": "[CC#4 OptA] confirmar->Split \u00b7 observar->re-discovery"}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"agent\": \"onboarding-specialist\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"workflow_id\": \"LyVoKcrypS5uLyuu\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify(\"Rehace el descubrimiento de competidores aplicando las observaciones de correccion. La lista anterior fue marcada OBSERVAR por el agente de inteligencia competitiva. Usa las observaciones para corregir el criterio y emiti una lista corregida de competidores (JSON con array de competidores).\") }},\n  \"context\": {\n    \"observations\": {{ JSON.stringify($('Parse veredicto').item.json.razones) }},\n    \"previous_competitor_list\": {{ JSON.stringify($('Parse veredicto').item.json.competitor_list) }},\n    \"client_name\": \"{{ $('Validate Deal Data').item.json.client_name }}\"\n  }\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 800000}}, "id": "rediscover-runsdk", "name": "Re-discovery INLINE (onboarding-specialist)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5160, 400], "notes": "[CC#4 OptA] OBSERVAR -> re-discovery por el creador (onboarding-specialist). Decision Emilio: correcciones al creador."}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run-sdk", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"agent\": \"competitive-intelligence-agent\",\n  \"client_id\": \"{{ $('Validate Deal Data').first().json.client_id }}\",\n  \"workflow_id\": \"LyVoKcrypS5uLyuu\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"task\": {{ JSON.stringify(\"Re-evalu\u00e1 la lista de competidores corregida tras el re-discovery y emit\u00ed un veredicto, PONDERANDO el trust_level. Responde EXCLUSIVAMENTE con JSON: {\\\"veredicto\\\":\\\"confirmar\\\"|\\\"observar\\\",\\\"razones\\\":[string],\\\"confianza\\\":number 0-1}. Resultado del re-discovery (competidores corregidos): \" + JSON.stringify($('Re-discovery INLINE (onboarding-specialist)').first().json)) }}\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 800000}}, "id": "regate-runsdk", "name": "Re-gate INLINE (competitive-intelligence)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5410, 400], "notes": "[CC#4 OptA] Gate 2 \u00b7 re-evalua la lista corregida. [BUG8 fix 2026-06-27: context.competitor_list\u2192competitors (agent reads competitors[]; objs carry source+trust_level)] [BUG9 fix 2026-06-27: re-discovery list embedded in TASK] [BUG10 fix 2026-06-28: .item.json \u2192 .first().json (paired-item flaky \u2192 competitors resolv\u00edan [])]"}, {"parameters": {"jsCode": "const r = $input.first().json; const body = (r && r.body) ? r.body : r;\nlet txt = ''; if (body && typeof body === 'object') txt = body.response || body.output_summary || ''; else if (typeof body === 'string') txt = body;\nlet veredicto = 'observar', razones = ['default_observar_no_parseable'], confianza = 0;\ntry { const m = (txt || '').match(/\\{[\\s\\S]*\\}/); if (m) { const j = JSON.parse(m[0]);\n  const v = String(j.veredicto || j.verdict || '').toLowerCase();\n  veredicto = (v === 'confirmar' || v === 'confirm') ? 'confirmar' : 'observar';\n  razones = Array.isArray(j.razones) ? j.razones : (Array.isArray(j.reasons) ? j.reasons : []);\n  confianza = typeof j.confianza === 'number' ? j.confianza : (typeof j.confidence === 'number' ? j.confidence : 0);\n} } catch (e) { veredicto = 'observar'; razones = ['parse_error: ' + (e.message || String(e))]; }\nreturn [{ json: { veredicto, razones, confianza,\n  client_id: $('Validate Deal Data').item.json.client_id,\n  client_name: $('Validate Deal Data').item.json.client_name,\n  competitor_list: $('Re-discovery INLINE (onboarding-specialist)').item.json,\n  _verdict_raw: (txt || '').slice(0, 800) } }];"}, "id": "parse-regate", "name": "Parse re-gate veredicto", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5660, 400], "notes": "[CC#4 OptA] parse gate-2 \u00b7 lista corregida"}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2}, "conditions": [{"id": "c-if-regate", "leftValue": "={{ $json.veredicto }}", "rightValue": "confirmar", "operator": {"type": "string", "operation": "equals", "name": "filter.operator.equals"}}], "combinator": "and"}, "options": {}}, "id": "if-regate", "name": "IF \u00b7 re-gate veredicto", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [5910, 400], "notes": "[CC#4 OptA] confirmar->Split \u00b7 observar otra vez->hitl"}, {"parameters": {"method": "POST", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/queue", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ task_type:'confirm_competitor_list', type:'confirm_competitor_list', agent_name:'competitive-intelligence-agent', client_id:$json.client_id, title:'Competidores observar tras re-discovery - '+($json.client_name||$json.client_id), priority:'medium', client_name:$json.client_name, workflow_id:'LyVoKcrypS5uLyuu', workflow_execution_id:$execution.id, payload:{ veredicto:$json.veredicto, razones:$json.razones, confianza:$json.confianza, competitor_list:$json.competitor_list }, metadata:{ source:'competitor_checkpoint_auto', reason:'observar_after_rediscovery', retry_note:'cap-1 (cap-3 deferred Fase 2)' } }) }}", "options": {"response": {"response": {"neverError": true}}, "timeout": 30000}}, "id": "escalate-hitl", "name": "Escalate \u00b7 competitor observar (hitl)", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5410, 580], "notes": "[CC#4 OptA] OBSERVAR tras re-discovery -> escalacion humana. Non-blocking -> continua."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"DISCOVERY\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "5c2b17f0-ae50-455e-b759-b3ee573e5469", "name": "[MODELB] Phase-boundary Emit \u00b7 onboarding_specialist_done", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1920, 120], "notes": "\n\n[R1 CANON RENAME 2026-06-28 \u00b7 CC#2] phase_name \u2192 MAY\u00daSCULA can\u00f3nica. Display name legacy preservado (no referenciado \u00b7 evita cirug\u00eda connection-keys). Order-tolerant reconciliation PR #217 cubre orden DAG paralelo."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"WORKSPACE\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "6b358133-d549-41f6-ba74-d96d2b9ee8bf", "name": "[MODELB] Phase-boundary Emit \u00b7 notion_workspace_created", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1200, 120], "notes": "\n\n[R1 CANON RENAME 2026-06-28 \u00b7 CC#2] phase_name \u2192 MAY\u00daSCULA can\u00f3nica. Display name legacy preservado (no referenciado \u00b7 evita cirug\u00eda connection-keys). Order-tolerant reconciliation PR #217 cubre orden DAG paralelo."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"WORKSPACE\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "37856f77-704b-455f-bd87-d216e79b7ae9", "name": "[MODELB] Phase-boundary Emit \u00b7 success_plan_built", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2160, 120], "notes": "\n\n[R1 CANON RENAME 2026-06-28 \u00b7 CC#2] phase_name \u2192 MAY\u00daSCULA can\u00f3nica. Display name legacy preservado (no referenciado \u00b7 evita cirug\u00eda connection-keys). Order-tolerant reconciliation PR #217 cubre orden DAG paralelo."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"SCHEDULING\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "18de1149-d6ee-43c2-93b0-535b640390c6", "name": "[MODELB] Phase-boundary Emit \u00b7 kickoff_scheduled", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2640, 120], "notes": "\n\n[R1 CANON RENAME 2026-06-28 \u00b7 CC#2] phase_name \u2192 MAY\u00daSCULA can\u00f3nica. Display name legacy preservado (no referenciado \u00b7 evita cirug\u00eda connection-keys). Order-tolerant reconciliation PR #217 cubre orden DAG paralelo."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"INTAKE\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "6b16108c-f040-42ee-acb7-fa32282c4728", "name": "[MODELB] Phase-boundary Emit \u00b7 cliente_persisted", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2400, 120], "notes": "\n\n[R1 CANON RENAME 2026-06-28 \u00b7 CC#2] phase_name \u2192 MAY\u00daSCULA can\u00f3nica. Display name legacy preservado (no referenciado \u00b7 evita cirug\u00eda connection-keys). Order-tolerant reconciliation PR #217 cubre orden DAG paralelo."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"NOTIFICATION\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "9cc22328-17bd-4b7b-88ef-e3aa46980fae", "name": "[MODELB] Phase-boundary Emit \u00b7 mc_inbox_notified", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3600, 120], "notes": "\n\n[R1 CANON RENAME 2026-06-28 \u00b7 CC#2] phase_name \u2192 MAY\u00daSCULA can\u00f3nica. Display name legacy preservado (no referenciado \u00b7 evita cirug\u00eda connection-keys). Order-tolerant reconciliation PR #217 cubre orden DAG paralelo."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"journey_completed\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "12ebf79d-156a-48b3-ac81-461d854b11fb", "name": "[MODELB] Phase-boundary Emit \u00b7 journey_completed", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3840, 120], "disabled": false, "notes": "\n\n[R1 CANON 2026-06-28 \u00b7 CC#2] DISABLED \u00b7 journey_completed NO es phase_boundary \u00b7 terminal cubierto por Write-back Callback run_completed."}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"CASCADE\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "cc2-emit-cascade-20260628", "name": "[MODELB] Phase-boundary Emit \u00b7 CASCADE", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4540, 160], "notes": "[R1 CANON NEW EMIT 2026-06-28 \u00b7 CC#2] Fase CASCADE \u00b7 sin equivalente en los 8 viejos \u00b7 emit nuevo. Leaf \u00b7 POST sala ingress.", "disabled": false}, {"parameters": {"method": "POST", "url": "={{ $env.SALA_INGRESS_URL || 'https://zero-risk-platform.vercel.app/api/sala/ingress' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "x-api-key", "value": "={{ $env.SALA_INGRESS_API_KEY || $env.INTERNAL_API_KEY }}"}, {"name": "x-source", "value": "n8n-modelb-LyVoKcrypS5uLyuu"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"event_type\": \"phase_boundary\",\n  \"_sala_correlation_id\": \"{{ $('Validate Deal Data').item.json._sala_correlation_id }}\",\n  \"_journey_id\": \"{{ $('Validate Deal Data').item.json._journey_id }}\",\n  \"phase_name\": \"APIFY_WIRE\",\n  \"phase_state\": \"completed\",\n  \"worker_id\": \"LyVoKcrypS5uLyuu\",\n  \"tenant_id\": \"{{ $('Validate Deal Data').item.json.tenant_id || $('Validate Deal Data').item.json.client_id }}\",\n  \"client_id\": \"{{ $('Validate Deal Data').item.json.client_id }}\",\n  \"ts\": \"{{ $now }}\"\n}", "options": {"response": {"response": {"neverError": true}}, "timeout": 5000}}, "id": "cc2-emit-apifywire-20260628", "name": "[MODELB] Phase-boundary Emit \u00b7 APIFY_WIRE", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1500, 920], "notes": "[R1 CANON NEW EMIT 2026-06-28 \u00b7 CC#2] Fase APIFY_WIRE \u00b7 sin equivalente en los 8 viejos \u00b7 emit nuevo. Leaf \u00b7 POST sala ingress.", "disabled": false}, {"name": "Poll \u00b7 Wait 20s", "type": "n8n-nodes-base.wait", "typeVersion": 1.1, "position": [1120, 400], "parameters": {"resume": "timeInterval", "amount": 20, "unit": "seconds", "options": {}}, "webhookId": "poll-wait-onb-9a1b"}, {"name": "Poll \u00b7 Discovery Status", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1280, 400], "parameters": {"method": "GET", "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/onboarding/discovery-status/{{ $('Validate Deal Data').item.json.client_id || '' }}?workflow_id={{ $('Validate Deal Data').item.json._journey_id || '' }}", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "x-api-key", "value": "={{ $env.INTERNAL_API_KEY }}"}]}, "options": {"response": {"response": {"neverError": true}}, "timeout": 20000}}}, {"name": "Poll \u00b7 Ready?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1440, 400], "parameters": {"conditions": {"options": {"caseSensitive": true, "typeValidation": "loose", "version": 1}, "conditions": [{"id": "poll-ready", "leftValue": "={{ $json.ready }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}}, {"name": "Poll \u00b7 Retry Guard", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [1440, 600], "parameters": {"conditions": {"options": {"caseSensitive": true, "typeValidation": "loose", "version": 1}, "conditions": [{"id": "poll-guard", "leftValue": "={{ $runIndex }}", "rightValue": 18, "operator": {"type": "number", "operation": "lt"}}], "combinator": "and"}, "options": {}}}, {"name": "Poll \u00b7 Timeout", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1600, 600], "parameters": {"jsCode": "throw new Error('POLL_TIMEOUT \u00b7 discovery-status not ready after 18 polls (~6min) \u00b7 exec ' + $execution.id + ' \u00b7 client ' + ($('Validate Deal Data').item.json.client_id || ''));"}}], "connections": {"Webhook: Deal Won": {"main": [[{"node": "[MODELB] Dispatch-\u00fanico Guard \u00b7 scoped al run", "type": "main", "index": 0}]]}, "Validate Deal Data": {"main": [[{"node": "Call Onboarding Specialist: Auto-Discovery Dispatch (fire+forget)", "type": "main", "index": 0}, {"node": "Create Notion Client Workspace", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 reconciliaci\u00f3n OBSERVE", "type": "main", "index": 0}]]}, "Call Onboarding Specialist: Auto-Discovery": {"main": [[{"node": "Persist Client to Supabase", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 onboarding_specialist_done", "type": "main", "index": 0}]]}, "Create Notion Client Workspace": {"main": [[{"node": "Build Success Plan Template", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 notion_workspace_created", "type": "main", "index": 0}]]}, "Build Success Plan Template": {"main": [[{"node": "Create Success Plan in Notion", "type": "main", "index": 0}]]}, "Create Success Plan in Notion": {"main": [[{"node": "Schedule Kickoff Call (Cal.com)", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 success_plan_built", "type": "main", "index": 0}]]}, "Schedule Kickoff Call (Cal.com)": {"main": [[{"node": "Compute Handoff Score", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 kickoff_scheduled", "type": "main", "index": 0}]]}, "Compute Handoff Score": {"main": [[{"node": "Create AM Handoff Task", "type": "main", "index": 0}]]}, "Create AM Handoff Task": {"main": [[{"node": "Alert Slack: Onboarding Initiated", "type": "main", "index": 0}]]}, "Alert Slack: Onboarding Initiated": {"main": [[{"node": "Notify MC Inbox", "type": "main", "index": 0}]]}, "Persist Client to Supabase": {"main": [[{"node": "[APIFY-WIRE] Discovery Parser \u00b7 dynamic targets (lazo)", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 cliente_persisted", "type": "main", "index": 0}]]}, "Trigger Master Journey ugK3": {"main": [[{"node": "Build Success Plan Template", "type": "main", "index": 0}]]}, "Run Onboarding Cascade (Gap 3)": {"main": [[{"node": "Build Master Journey Input (canon shape)", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 CASCADE", "type": "main", "index": 0}]]}, "Spell Check Pass (in-cascade)": {"main": [[{"node": "Run Onboarding Cascade (Gap 3)", "type": "main", "index": 0}]]}, "[APIFY-WIRE] Split per function (onboarding_e2e)": {"main": [[{"node": "[APIFY-WIRE] Call Apify Service Workflow (onboarding_e2e)", "type": "main", "index": 0}]]}, "[APIFY-WIRE] Call Apify Service Workflow (onboarding_e2e)": {"main": [[{"node": "[APIFY-WIRE] Aggregate Service responses (onboarding_e2e)", "type": "main", "index": 0}]]}, "[MODELB] Dispatch-\u00fanico Guard \u00b7 scoped al run": {"main": [[{"node": "Validate Deal Data", "type": "main", "index": 0}]]}, "Notify MC Inbox": {"main": [[{"node": "[MODELB] Write-back Callback \u00b7 run terminal", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 mc_inbox_notified", "type": "main", "index": 0}]]}, "[APIFY-WIRE] Discovery Parser \u00b7 dynamic targets (lazo)": {"main": [[{"node": "Confirm barato \u00b7 competitor list", "type": "main", "index": 0}]]}, "[APIFY-WIRE] Gate \u00b7 drop skip-markers (lazo)": {"main": [[{"node": "[APIFY-WIRE] Call Apify Service Workflow (onboarding_e2e)", "type": "main", "index": 0}]]}, "[APIFY-WIRE] Split per scrape target (lazo)": {"main": [[{"node": "[APIFY-WIRE] Gate \u00b7 drop skip-markers (lazo)", "type": "main", "index": 0}]]}, "Build Master Journey Input (canon shape)": {"main": [[{"node": "Trigger Master Journey ugK3", "type": "main", "index": 0}]]}, "Call Onboarding Specialist: Auto-Discovery Dispatch (fire+forget)": {"main": [[{"node": "Poll \u00b7 Wait 20s", "type": "main", "index": 0}]]}, "[APIFY-WIRE] IF \u00b7 Camino III decision (PASS/REJECT)": {"main": [[{"node": "Persist Canon \u00b7 brand_book + ICP + analysis", "type": "main", "index": 0}], [{"node": "Onboarding rejected \u00b7 Camino III", "type": "main", "index": 0}]]}, "[APIFY-WIRE] POST /api/hitl/queue (canon)": {"main": [[{"node": "Wait \u00b7 Camino III decision", "type": "main", "index": 0}]]}, "Wait \u00b7 Camino III decision": {"main": [[{"node": "[APIFY-WIRE] IF \u00b7 Camino III decision (PASS/REJECT)", "type": "main", "index": 0}]]}, "[APIFY-WIRE] Aggregate Service responses (onboarding_e2e)": {"main": [[{"node": "Synthesis Staging \u00b7 build package", "type": "main", "index": 0}, {"node": "[MODELB] Phase-boundary Emit \u00b7 APIFY_WIRE", "type": "main", "index": 0}]]}, "Synthesis Staging \u00b7 build package": {"main": [[{"node": "[APIFY-WIRE] POST /api/hitl/queue (canon)", "type": "main", "index": 0}]]}, "Persist Canon \u00b7 brand_book + ICP + analysis": {"main": [[{"node": "Spell Check Pass (in-cascade)", "type": "main", "index": 0}]]}, "Confirm barato \u00b7 competitor list": {"main": [[{"node": "Competitor Verdict \u00b7 run-sdk (INLINE)", "type": "main", "index": 0}]]}, "Competitor Verdict \u00b7 run-sdk (INLINE)": {"main": [[{"node": "Parse veredicto", "type": "main", "index": 0}]]}, "Parse veredicto": {"main": [[{"node": "IF \u00b7 veredicto", "type": "main", "index": 0}]]}, "IF \u00b7 veredicto": {"main": [[{"node": "[APIFY-WIRE] Split per scrape target (lazo)", "type": "main", "index": 0}], [{"node": "Re-discovery INLINE (onboarding-specialist)", "type": "main", "index": 0}]]}, "Re-discovery INLINE (onboarding-specialist)": {"main": [[{"node": "Re-gate INLINE (competitive-intelligence)", "type": "main", "index": 0}]]}, "Re-gate INLINE (competitive-intelligence)": {"main": [[{"node": "Parse re-gate veredicto", "type": "main", "index": 0}]]}, "Parse re-gate veredicto": {"main": [[{"node": "IF \u00b7 re-gate veredicto", "type": "main", "index": 0}]]}, "IF \u00b7 re-gate veredicto": {"main": [[{"node": "[APIFY-WIRE] Split per scrape target (lazo)", "type": "main", "index": 0}], [{"node": "Escalate \u00b7 competitor observar (hitl)", "type": "main", "index": 0}]]}, "Escalate \u00b7 competitor observar (hitl)": {"main": [[{"node": "[APIFY-WIRE] Split per scrape target (lazo)", "type": "main", "index": 0}]]}, "[MODELB] Write-back Callback \u00b7 run terminal": {"main": [[{"node": "[MODELB] Phase-boundary Emit \u00b7 journey_completed", "type": "main", "index": 0}]]}, "Poll \u00b7 Wait 20s": {"main": [[{"node": "Poll \u00b7 Discovery Status", "type": "main", "index": 0}]]}, "Poll \u00b7 Discovery Status": {"main": [[{"node": "Poll \u00b7 Ready?", "type": "main", "index": 0}]]}, "Poll \u00b7 Ready?": {"main": [[{"node": "Call Onboarding Specialist: Auto-Discovery", "type": "main", "index": 0}], [{"node": "Poll \u00b7 Retry Guard", "type": "main", "index": 0}]]}, "Poll \u00b7 Retry Guard": {"main": [[{"node": "Poll \u00b7 Wait 20s", "type": "main", "index": 0}], [{"node": "Poll \u00b7 Timeout", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "saveManualExecutions": true, "saveDataSuccessExecution": "all", "saveDataErrorExecution": "all", "saveExecutionProgress": true}}