n8n-workflows/proposed-sesion27b/04-paid-media/1-meta-ads-full-stack-optimizer-v2.json
{
  "name": "Zero Risk — Meta Ads Full-Stack Optimizer v2 (Daily 3am)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Daily 3am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/meta-ads/campaigns?status=ACTIVE&days=7",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch",
      "name": "Fetch Active Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        320
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "campaigns",
        "options": {}
      },
      "id": "split",
      "name": "Split Campaigns",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.facebook.com/v21.0/{{ $json.campaign_id }}/insights?fields=impressions,clicks,spend,cpc,ctr,actions,action_values,cost_per_action_type,frequency,reach,video_thruplay_watched_actions&date_preset=last_7d&level=ad&access_token={{ $env.META_ACCESS_TOKEN }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "insights",
      "name": "Meta Insights (ad-level)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const ins = $json.data || [];\nconst campaign = $node['Split Campaigns'].json;\nlet flagged = [];\nlet winners = [];\nlet anomalies = [];\nconst spendEfficencyTier = campaign.spend_efficiency_tier || 'scaling';\nconst targetCpl = campaign.target_cpl || 50;\nconst targetRoas = campaign.target_roas || 2.0;\nfor (const ad of ins) {\n  const spend = parseFloat(ad.spend || 0);\n  const clicks = parseInt(ad.clicks || 0);\n  const impressions = parseInt(ad.impressions || 0);\n  const leads = (ad.actions || []).find(a => a.action_type === 'lead')?.value || 0;\n  const purch = (ad.actions || []).find(a => a.action_type === 'purchase')?.value || 0;\n  const rev = (ad.action_values || []).find(a => a.action_type === 'purchase')?.value || 0;\n  const cpl = leads > 0 ? spend / parseInt(leads) : null;\n  const roas = spend > 0 ? parseFloat(rev) / spend : 0;\n  const freq = parseFloat(ad.frequency || 0);\n  const ctr = parseFloat(ad.ctr || 0);\n  const isCreativeFatigue = freq > 3.5 || (impressions > 50000 && ctr < 0.5);\n  const isBudgetIneff = (cpl !== null && cpl > targetCpl * 1.5) || (roas > 0 && roas < targetRoas * 0.67);\n  const isUnderperformer = isBudgetIneff || isCreativeFatigue;\n  const isWinner = (roas > targetRoas * 1.5 || (cpl !== null && cpl < targetCpl * 0.6)) && spend > 20;\n  const row = {\n    ad_id: ad.ad_id,\n    spend: Math.round(spend * 100) / 100,\n    cpl: cpl ? Math.round(cpl * 100) / 100 : null,\n    roas: Math.round(roas * 100) / 100,\n    freq: Math.round(freq * 100) / 100,\n    ctr: Math.round(ctr * 1000) / 10,\n    leads: parseInt(leads),\n    purchases: parseInt(purch),\n    revenue: Math.round(parseFloat(rev) * 100) / 100,\n    impressions,\n    root_cause: isCreativeFatigue ? 'creative_fatigue' : (isBudgetIneff ? 'budget_inefficiency' : null)\n  };\n  if (isUnderperformer) flagged.push(row);\n  else if (isWinner) winners.push(row);\n  if ((freq > 4 && impressions > 100000) || (ctr < 0.3 && impressions > 100000)) anomalies.push({...row, anomaly_type: 'high_freq_low_ctr'});\n}\nreturn [{ json: {\n  campaign_id: campaign.campaign_id,\n  campaign_name: campaign.campaign_name,\n  client_id: campaign.client_id,\n  spend_efficiency_tier: spendEfficencyTier,\n  flagged: flagged.sort((a,b) => b.spend - a.spend).slice(0, 10),\n  winners: winners.sort((a,b) => b.roas - a.roas),\n  anomalies,\n  total_ads: ins.length,\n  active_ads: ins.filter(a => parseFloat(a.spend || 0) > 0).length\n} }];"
      },
      "id": "classify",
      "name": "Classify + Anomaly Detect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"media-buyer\",\n  \"model\": \"claude-sonnet-4-6\",\n  \"task\": \"Meta Ads advanced optimization for campaign {{ $json.campaign_name }} ({{ $json.spend_efficiency_tier }} tier). Tier-specific targets: beta=1.5x, scaling=2.5x, efficient=4x, mature=5x. Flagged ads ({{ $json.flagged.length }}): {{ JSON.stringify($json.flagged.slice(0,3)) }}. Root causes detected: {{ JSON.stringify($json.flagged.map(a => a.root_cause).filter((v,i,a) => a.indexOf(v) === i)) }}. Winners ({{ $json.winners.length }}): {{ JSON.stringify($json.winners.slice(0,2)) }}. Anomalies ({{ $json.anomalies.length }}): {{ JSON.stringify($json.anomalies.slice(0,2)) }}. Produce: (1) 10-point anomaly diagnosis checklist (creative_fatigue, audience_saturation, bidding_immaturity, messaging_mismatch, competitive_displacement, seasonality, etc.), (2) optimization hierarchy (audience→creative→landing→offer→bid), (3) spend tier-specific action plan, (4) 5 creative concept hooks ready for brief, (5) A/B test matrix (2x2 bandit or multivariate), (6) incremental spend recommendation, (7) diminishing returns curve with saturation week estimate. Return as structured JSON.\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"extra\": {{ JSON.stringify($json) }},\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "media-buyer",
      "name": "Media Buyer (Sonnet) - Tier-Aware Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $node['classify'].json.flagged.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "has-flagged",
      "name": "Has Underperformers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1700,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/meta-ads/apply-optimization",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign_id\": \"{{ $node['Classify + Anomaly Detect'].json.campaign_id }}\",\n  \"client_id\": \"{{ $node['Classify + Anomaly Detect'].json.client_id }}\",\n  \"spend_efficiency_tier\": \"{{ $node['Classify + Anomaly Detect'].json.spend_efficiency_tier }}\",\n  \"plan\": {{ JSON.stringify($json) }},\n  \"mode\": \"dry_run_then_hitl\",\n  \"audit_results\": {\n    \"flagged_count\": {{ $node['Classify + Anomaly Detect'].json.flagged.length }},\n    \"winners_count\": {{ $node['Classify + Anomaly Detect'].json.winners.length }},\n    \"anomalies_count\": {{ $node['Classify + Anomaly Detect'].json.anomalies.length }}\n  }\n}",
        "options": {}
      },
      "id": "apply",
      "name": "Stage Optimization (Dry-run → HITL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.spend_reallocation_pct }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "large-realloc",
      "name": ">20% Spend Realloc?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2240,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"meta_ads_optimization_large_realloc\",\n  \"client_id\": \"{{ $node['Classify + Anomaly Detect'].json.client_id }}\",\n  \"priority\": \"high\",\n  \"summary\": \"{{ $node['Classify + Anomaly Detect'].json.campaign_name }}: LARGE BUDGET REALLOCATION ({{ $json.spend_reallocation_pct }}%) — {{ $node['Classify + Anomaly Detect'].json.flagged.length }} underperformers, {{ $node['Classify + Anomaly Detect'].json.winners.length }} winners. Media Buyer analysis staged. Requires approval before execution.\",\n  \"payload\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "hitl-large",
      "name": "Queue HITL (Large Realloc)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"meta_ads_optimization\",\n  \"client_id\": \"{{ $node['Classify + Anomaly Detect'].json.client_id }}\",\n  \"priority\": \"medium\",\n  \"summary\": \"{{ $node['Classify + Anomaly Detect'].json.campaign_name }}: {{ $node['Classify + Anomaly Detect'].json.flagged.length }} underperformers, {{ $node['Classify + Anomaly Detect'].json.winners.length }} winners. Optimization plan staged for approval.\",\n  \"payload\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "hitl-standard",
      "name": "Queue HITL (Standard)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        300
      ]
    },
    {
      "parameters": {},
      "id": "noop",
      "name": "All Healthy",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1980,
        440
      ]
    },
    {
      "id": "apify-wire-load-clients-meta_ads_optimizer",
      "name": "[APIFY-WIRE] Load active clients with apify enabled (meta_ads_optimizer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        840
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ordaeyxvvvdqsznsecjx.supabase.co/rest/v1/clients?status=eq.active&select=id,name,slug,config&config->apify->enabled=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "apify-wire-split-clients-meta_ads_optimizer",
      "name": "[APIFY-WIRE] Split per cliente (meta_ads_optimizer)",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        600,
        840
      ],
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      }
    },
    {
      "id": "apify-wire-filter-functions-meta_ads_optimizer",
      "name": "[APIFY-WIRE] Filter functions for meta_ads_optimizer scope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        840
      ],
      "parameters": {
        "jsCode": "const cliente = $input.item.json;\nconst cron = (cliente.config && cliente.config.apify && cliente.config.apify.cron_cadence_per_function) || {};\nconst tier = (cliente.config && cliente.config.apify && cliente.config.apify.plan_tier) || 'basic';\nconst scopeFunctions = [\"facebook_ads_library_scraper\"];\nconst activas = scopeFunctions.filter(fn => cron[fn] != null);\nreturn activas.map(fn => ({\n  json: { client_id: cliente.id, client_name: cliente.name, apify_function: fn, cadence: cron[fn], tier }\n}));"
      }
    },
    {
      "id": "apify-wire-split-functions-meta_ads_optimizer",
      "name": "[APIFY-WIRE] Split per function (meta_ads_optimizer)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        840
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "apify-wire-call-service-meta_ads_optimizer",
      "name": "[APIFY-WIRE] Call Apify Service Workflow (meta_ads_optimizer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        840
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-72be.up.railway.app/webhook/apify-service-workflow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_id: $json.client_id,\n  apify_function: $json.apify_function,\n  destination: \"brain_rag\",\n  dry_run: true,\n  source_table: \"client_competitive_landscape\",\n  metadata: {\n    calling_workflow_id: $workflow.id,\n    calling_workflow_execution_id: $execution.id,\n    scope: \"meta_ads_optimizer\",\n    sprint: \"9-cleanup-wire-6-critical-meta-ads-optimizer\",\n    tier: $json.tier,\n    cadence: $json.cadence\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "apify-wire-aggregate-meta_ads_optimizer",
      "name": "[APIFY-WIRE] Aggregate Service responses (meta_ads_optimizer)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        840
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = { total_calls: items.length, successes: 0, errors: 0, skipped_gate: 0, by_function: {} };\nfor (const it of items) {\n  const r = it.json || {};\n  const fn = r.apify_function || 'unknown';\n  summary.by_function[fn] = (summary.by_function[fn] || 0) + 1;\n  if (r.status === 'skipped' || r.skip_reason) summary.skipped_gate++;\n  else if (r.success === false || r.error) summary.errors++;\n  else summary.successes++;\n}\nreturn [{ json: { scope: 'meta_ads_optimizer', destination_table: 'client_competitive_landscape', summary, ran_at: new Date().toISOString() } }];"
      }
    }
  ],
  "connections": {
    "Daily 3am": {
      "main": [
        [
          {
            "node": "Fetch Active Campaigns",
            "type": "main",
            "index": 0
          },
          {
            "node": "[APIFY-WIRE] Load active clients with apify enabled (meta_ads_optimizer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Campaigns": {
      "main": [
        [
          {
            "node": "Split Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Campaigns": {
      "main": [
        [
          {
            "node": "Meta Insights (ad-level)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Insights (ad-level)": {
      "main": [
        [
          {
            "node": "Classify + Anomaly Detect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify + Anomaly Detect": {
      "main": [
        [
          {
            "node": "Media Buyer (Sonnet) - Tier-Aware Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Buyer (Sonnet) - Tier-Aware Plan": {
      "main": [
        [
          {
            "node": "Has Underperformers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Underperformers?": {
      "main": [
        [
          {
            "node": "Stage Optimization (Dry-run → HITL)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage Optimization (Dry-run → HITL)": {
      "main": [
        [
          {
            "node": ">20% Spend Realloc?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    ">20% Spend Realloc?": {
      "main": [
        [
          {
            "node": "Queue HITL (Large Realloc)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Queue HITL (Standard)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Load active clients with apify enabled (meta_ads_optimizer)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Split per cliente (meta_ads_optimizer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Split per cliente (meta_ads_optimizer)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Filter functions for meta_ads_optimizer scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Filter functions for meta_ads_optimizer scope": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Split per function (meta_ads_optimizer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Split per function (meta_ads_optimizer)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Call Apify Service Workflow (meta_ads_optimizer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Call Apify Service Workflow (meta_ads_optimizer)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Aggregate Service responses (meta_ads_optimizer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "81fb5f34-0489-45ac-8a76-72106d44fca1"
}
