n8n-workflows/proposed-sesion27b/04-paid-media/7-ad-creative-landing-message-match-validator.json
{
  "name": "Zero Risk — Ad Creative → Landing Message Match Validator (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zero-risk/message-match-audit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook: Creative or Landing Change",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        320
      ],
      "webhookId": "95024b21-e7f4-44d6-ab59-748bfc4359e2"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nif (!b.client_id || (!b.creative_id && !b.landing_url)) throw new Error('client_id + (creative_id OR landing_url) required');\nreturn [{ json: {\n  audit_id: `mma_${Date.now()}`,\n  client_id: b.client_id,\n  campaign_id: b.campaign_id,\n  creative_id: b.creative_id || null,\n  landing_url: b.landing_url || null,\n  change_type: b.creative_id ? 'creative' : 'landing'\n} }];"
      },
      "id": "validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/meta-ads/creative?creative_id={{ encodeURIComponent($('Validate Input').item.json.creative_id || 'unknown') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-creative",
      "name": "Fetch Creative (if applicable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FIRECRAWL_API_URL || 'https://zero-risk-platform.vercel.app/api/stubs/firecrawl/scrape' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.FIRECRAWL_API_KEY || \"stub\" }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": {{ JSON.stringify($('Validate Input').item.json.landing_url || 'https://example.com') }},\n  \"formats\": [\"markdown\"],\n  \"waitFor\": 1000\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "scrape-landing",
      "name": "Scrape Landing (if applicable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        440
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge",
      "name": "Merge Content",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        920,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "x-smoke-test",
              "value": "={{ ($('Validate Input').item.json.client_id || \"\").startsWith(\"smoke-\") ? \"1\" : \"\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"editor-en-jefe\",\n  \"model\": \"claude-sonnet-4-6\",\n  \"task\": {{ JSON.stringify('Message-match audit for campaign ' + ($('Validate Input').item.json.campaign_id || 'unknown') + '. Apply Schwartz positioning layers and score 0-100. If >30pt mismatch, flag and recommend copy/positioning fixes. Return JSON: { match_score, flags, required_actions }.') }},\n  \"client_id\": \"{{ $('Validate Input').item.json.client_id || '' }}\",\n  \"audit_id\": \"{{ $('Validate Input').item.json.audit_id || '' }}\",\n  \"campaign_id\": {{ JSON.stringify($('Validate Input').item.json.campaign_id ?? null) }},\n  \"creative_id\": {{ JSON.stringify($('Validate Input').item.json.creative_id ?? null) }},\n  \"landing_url\": {{ JSON.stringify($('Validate Input').item.json.landing_url ?? null) }},\n  \"change_type\": {{ JSON.stringify($('Validate Input').item.json.change_type ?? null) }},\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"context\": { \"smoke_test\": {{ ($('Validate Input').item.json.client_id || \"\").startsWith(\"smoke-\") }} },\n  \"extra\": { \"validate_input\": {{ JSON.stringify($('Validate Input').item.json ?? {}) }}, \"merged_content\": {{ JSON.stringify($json ?? {}) }} }\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "editor-audit",
      "name": "Editor en Jefe (Sonnet) - Schwartz Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ Number($('Editor en Jefe (Sonnet) - Schwartz Audit').item.json.match_score) || 100 }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ]
        }
      },
      "id": "is-mismatch",
      "name": "Mismatch >30pct gap?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/campaigns/block-launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign_id\": {{ JSON.stringify($('Validate Input').item.json.campaign_id ?? null) }},\n  \"client_id\": \"{{ $('Validate Input').item.json.client_id || '' }}\",\n  \"audit_id\": \"{{ $('Validate Input').item.json.audit_id || '' }}\",\n  \"reason\": \"message_match_violation\",\n  \"match_score\": {{ Number($('Editor en Jefe (Sonnet) - Schwartz Audit').item.json.match_score) || 0 }},\n  \"blocked_by\": \"editor-en-jefe\",\n  \"required_actions\": {{ JSON.stringify($('Editor en Jefe (Sonnet) - Schwartz Audit').item.json.required_actions || []) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "block-launch",
      "name": "BLOCK Launch + Escalate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify('Message Match Violation: ' + ($('Validate Input').item.json.campaign_id || 'unknown')) }},\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": {{ JSON.stringify('*MESSAGE MATCH VIOLATION DETECTED*\\nCampaign: ' + ($('Validate Input').item.json.campaign_id || 'unknown') + '\\nMatch Score: ' + (Number($('Editor en Jefe (Sonnet) - Schwartz Audit').item.json.match_score) || 0) + '/100\\n\\nRequired Actions:\\n' + (($('Editor en Jefe (Sonnet) - Schwartz Audit').item.json.required_actions || []).map(a => '- ' + a).join('\\n')) + '\\n\\nAd launch BLOCKED pending fixes.') }} }\n    }\n  ]\n}",
        "options": {
          "timeout": 10000
        },
        "sendHeaders": false
      },
      "id": "slack-block",
      "name": "Slack Alert (BLOCKED)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        380
      ],
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "respondWith": "json",
        "responseBody": "={{ { audit_id: $('Validate Input').item.json.audit_id, match_score: Number($('Editor en Jefe (Sonnet) - Schwartz Audit').item.json.match_score) || 0, status: 'blocked_launch', reason: 'message_match_violation' } }}",
        "options": {}
      },
      "id": "respond-blocked",
      "name": "Respond (Blocked)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        290
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "respondWith": "json",
        "responseBody": "={{ { audit_id: $('Validate Input').item.json.audit_id, match_score: Number($('Editor en Jefe (Sonnet) - Schwartz Audit').item.json.match_score) || 100, status: 'approved', reason: 'message_alignment_verified' } }}",
        "options": {}
      },
      "id": "respond-approved",
      "name": "Respond (Approved)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1920,
        440
      ]
    },
    {
      "id": "mc-inbox-8aJBx2",
      "name": "Notify MC Inbox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        290
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MC_BASE_URL || 'https://zero-risk-mission-control-production.up.railway.app' }}/api/inbox?masterPassword={{ $env.MC_API_TOKEN || 'zerorisk2026' }}",
        "sendQuery": true,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"from\":\"ad-creative-validator\",\"to\":\"leader\",\"type\":\"approval\",\"taskId\":\"{{ $('Validate Input').item.json.audit_id }}\",\"subject\":\"Ad Creative Validado: Revisar {{ $('Validate Input').item.json.campaign_id }}\",\"body\":\"Cliente: {{ $('Validate Input').item.json.client_id }} | Campaign: {{ $('Validate Input').item.json.campaign_id }} | Match Score: {{ Number($('Editor en Jefe (Sonnet) - Schwartz Audit').item.json.match_score) || 100 }}/100 | Change: {{ $('Validate Input').item.json.change_type }} | Score >= 70 = APROBADO. Ver Mission Control para revision.\"}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook: Creative or Landing Change": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Fetch Creative (if applicable)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Landing (if applicable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Creative (if applicable)": {
      "main": [
        [
          {
            "node": "Merge Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Landing (if applicable)": {
      "main": [
        [
          {
            "node": "Merge Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Content": {
      "main": [
        [
          {
            "node": "Editor en Jefe (Sonnet) - Schwartz Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor en Jefe (Sonnet) - Schwartz Audit": {
      "main": [
        [
          {
            "node": "Mismatch >30pct gap?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mismatch >30pct gap?": {
      "main": [
        [
          {
            "node": "BLOCK Launch + Escalate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Alert (BLOCKED)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond (Blocked)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond (Approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond (Blocked)": {
      "main": [
        [
          {
            "node": "Notify MC Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "dc36526b-4716-4847-9fed-ed8fed25a97d"
}
