outputs/sprint7-naming-backups-2026-05-22/RT1tcru9mysEwKkf.json
{
  "updatedAt": "2026-05-12T19:55:50.085Z",
  "createdAt": "2026-04-18T15:44:57.996Z",
  "id": "RT1tcru9mysEwKkf",
  "name": "Zero Risk - NEXUS 7-Phase Campaign Orchestrator (Webhook)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-orchestrator",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Campaign Webhook (Entry)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -288,
        96
      ],
      "webhookId": "a19f4789-e7db-470a-b2ca-b07cd7f440f4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/nexus/parse-request",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {{ JSON.stringify($json.body ?? $json) }},\n  \"client_id\": \"{{ ($json.body && $json.body.client_id) || $json.client_id || '' }}\",\n  \"campaign_brief\": \"{{ ($json.body && $json.body.campaign_brief) || $json.campaign_brief || '' }}\",\n  \"priority\": \"{{ ($json.body && $json.body.priority) || $json.priority || 'normal' }}\"\n}",
        "options": {
          "timeout": 15000
        },
        "contentType": "json"
      },
      "id": "parse-campaign-request",
      "name": "Parse & Validate Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/campaign-pipeline/state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"campaign_brief\": \"{{ $json.campaign_brief }}\",\n  \"current_phase\": \"{{ $json.current_phase }}\",\n  \"status\": \"initiated\",\n  \"priority\": \"{{ $json.priority }}\"\n}",
        "options": {
          "timeout": 15000
        },
        "contentType": "json"
      },
      "id": "init-pipeline-state",
      "name": "Initialize Pipeline State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
            },
            {
              "name": "x-smoke-test",
              "value": "={{ ($json.client_id || \"\").startsWith(\"smoke-\") ? \"1\" : \"\" }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"jefe-marketing\",\n  \"task_type\": \"phase_execution\",\n  \"phase\": \"{{ $json.current_phase }}\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"campaign_brief\": \"{{ $json.campaign_brief }}\",\n  \"phase_input\": {{ JSON.stringify($json.campaign_brief || '') }}\n}",
        "options": {
          "timeout": 60000
        },
        "contentType": "json"
      },
      "id": "execute-phase",
      "name": "Execute Phase (jefe-marketing)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/evidence/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phase\": \"{{ $node['Resolve Phase'].json.current_phase }}\",\n  \"phase_output\": {{ JSON.stringify($node['Execute Phase (jefe-marketing)'].json.output || '') }},\n  \"success_criteria\": \"standard phase-complete check\",\n  \"request_id\": \"{{ $node['Resolve Phase'].json.request_id }}\",\n  \"client_id\": \"{{ $node['Resolve Phase'].json.client_id }}\"\n}",
        "options": {
          "timeout": 30000
        },
        "contentType": "json"
      },
      "id": "validate-phase",
      "name": "Validate Phase Output (Evidence Collector)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-validation",
      "name": "Validation Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/nexus/advance-phase",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"campaign_brief\": {{ JSON.stringify($json.campaign_brief ?? '') }},\n  \"current_phase\": \"{{ $json.current_phase || 'DISCOVER' }}\",\n  \"current_phase_index\": {{ Number($json.current_phase_index) || 0 }},\n  \"phase_output\": {{ JSON.stringify($('Execute Phase (jefe-marketing)').item.json.output ?? $('Execute Phase (jefe-marketing)').item.json.response ?? '') }},\n  \"phase_outputs\": {{ JSON.stringify($json.phase_outputs || {}) }},\n  \"retry_count\": {{ Number($json.retry_count) || 0 }},\n  \"priority\": \"{{ $json.priority || 'normal' }}\",\n  \"started_at\": \"{{ $json.started_at || new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 15000
        },
        "contentType": "json"
      },
      "id": "advance-phase",
      "name": "Advance to Next Phase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/nexus/handle-failure",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"current_phase\": \"{{ $json.current_phase || 'UNKNOWN' }}\",\n  \"retry_count\": {{ Number($json.retry_count) || 0 }},\n  \"validation_error\": {{ JSON.stringify($('Validate Phase Output (Evidence Collector)').item.json.error ?? $('Validate Phase Output (Evidence Collector)').item.json.rationale ?? 'Unknown error') }},\n  \"campaign_brief\": {{ JSON.stringify($json.campaign_brief ?? '') }},\n  \"phases\": {{ JSON.stringify($json.phases || []) }},\n  \"phase_outputs\": {{ JSON.stringify($json.phase_outputs || {}) }},\n  \"started_at\": \"{{ $json.started_at || new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 15000
        },
        "contentType": "json"
      },
      "id": "handle-validation-failure",
      "name": "Handle Validation Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.retry_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-retry",
      "name": "Retries Remaining?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        560
      ]
    },
    {
      "parameters": {},
      "id": "retry-loop",
      "name": "Go Back to Phase Execution",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1792,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"?? *NEXUS Pipeline Escalation to HITL*\\n\\n*Request:* {{ $json.request_id }}\\n*Client:* {{ $json.client_id }}\\n*Phase:* {{ $json.current_phase }}\\n*Reason:* Failed validation after 3 retries\\n*Error:* {{ ($json.last_validation_error || '').slice(0, 150) }}\\n\\nAction: Review in Mission Control ? dashboard/inbox\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        },
        "contentType": "json"
      },
      "id": "escalate-slack",
      "name": "Notify Slack (HITL Escalation)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/create",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"approval_type\": \"phase_gate_failure\",\n  \"phase\": \"{{ $json.current_phase }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"context\": {\n    \"phase_output\": {{ JSON.stringify($node['Execute Phase (jefe-marketing)('].json.output || '').slice(0, 500)) }},\n    \"validation_error\": \"{{ $json.last_validation_error }}\",\n    \"retry_count\": {{ $json.retry_count }}\n  },\n  \"required_approver\": \"jefe-marketing\",\n  \"expires_in_hours\": 24\n}",
        "options": {
          "timeout": 15000
        },
        "contentType": "json"
      },
      "id": "queue-hitl",
      "name": "Queue for HITL Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/campaign-pipeline/state",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"current_phase\": \"{{ $json.current_phase || 'DISCOVER' }}\",\n  \"status\": \"{{ $json.status || 'in_progress' }}\",\n  \"retry_count\": {{ Number($json.retry_count) || 0 }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "timeout": 15000
        },
        "contentType": "json"
      },
      "id": "persist-state",
      "name": "Persist Phase State to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/mc-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"phase_complete\",\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"phase\": \"{{ $json.current_phase || '' }}\",\n  \"status\": \"{{ $json.status || '' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 15000
        },
        "contentType": "json"
      },
      "id": "notify-mc-phase",
      "name": "Notify Mission Control (Phase Complete)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $('Advance to Next Phase').item.json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-complete",
      "name": "All Phases Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1744,
        -144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"? *NEXUS Campaign Pipeline Complete*\\n\\n*Request:* {{ $json.request_id }}\\n*Client:* {{ $json.client_id }}\\n*Completed At:* {{ $json.completed_at }}\\n*Duration:* {{ (new Date($json.completed_at) - new Date($json.started_at)) / 1000 / 60 }}m\\n\\n?? All 7 phases (DISCOVER ? OPERATE) successfully executed.\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        },
        "contentType": "json"
      },
      "id": "notify-completion",
      "name": "Notify Slack (Pipeline Complete)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        -64
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "end-success",
      "name": "Success (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2288,
        64
      ]
    },
    {
      "parameters": {},
      "id": "end-hitl",
      "name": "HITL (End)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2304,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/nexus/resolve-phase",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_phase\": \"{{ $json.current_phase || 'DISCOVER' }}\",\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"campaign_brief\": {{ JSON.stringify($json.campaign_brief || '') }},\n  \"priority\": \"{{ $json.priority || 'normal' }}\",\n  \"phases\": {{ JSON.stringify($json.phases || ['DISCOVER']) }},\n  \"phase_outputs\": {{ JSON.stringify($json.phase_outputs || {}) }},\n  \"retry_count\": {{ Number($json.retry_count) || 0 }}\n}",
        "options": {
          "timeout": 15000
        },
        "contentType": "json"
      },
      "id": "resolve-phase-node-1776585271501",
      "name": "Resolve Phase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        96
      ]
    }
  ],
  "connections": {
    "Campaign Webhook (Entry)": {
      "main": [
        [
          {
            "node": "Parse & Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Request": {
      "main": [
        [
          {
            "node": "Initialize Pipeline State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Pipeline State": {
      "main": [
        [
          {
            "node": "Resolve Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Phase (jefe-marketing)": {
      "main": [
        [
          {
            "node": "Validate Phase Output (Evidence Collector)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Phase Output (Evidence Collector)": {
      "main": [
        [
          {
            "node": "Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed?": {
      "main": [
        [
          {
            "node": "Advance to Next Phase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Validation Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advance to Next Phase": {
      "main": [
        [
          {
            "node": "Persist Phase State to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Validation Failure": {
      "main": [
        [
          {
            "node": "Retries Remaining?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retries Remaining?": {
      "main": [
        [
          {
            "node": "Go Back to Phase Execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack (HITL Escalation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Go Back to Phase Execution": {
      "main": [
        [
          {
            "node": "Resolve Phase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (HITL Escalation)": {
      "main": [
        [
          {
            "node": "Queue for HITL Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue for HITL Review": {
      "main": [
        [
          {
            "node": "HITL (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Phase State to DB": {
      "main": [
        [
          {
            "node": "Notify Mission Control (Phase Complete)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Mission Control (Phase Complete)": {
      "main": [
        [
          {
            "node": "All Phases Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Phases Complete?": {
      "main": [
        [
          {
            "node": "Notify Slack (Pipeline Complete)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Go Back to Phase Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack (Pipeline Complete)": {
      "main": [
        [
          {
            "node": "Success (End)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Phase": {
      "main": [
        [
          {
            "node": "Execute Phase (jefe-marketing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "88d03dbc-5dc3-495d-b74d-587040706a85",
  "activeVersionId": "88d03dbc-5dc3-495d-b74d-587040706a85",
  "versionCounter": 245,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-18T15:44:57.996Z",
      "createdAt": "2026-04-18T15:44:57.996Z",
      "role": "workflow:owner",
      "workflowId": "RT1tcru9mysEwKkf",
      "projectId": "xKBOyp07nrGbu4ob",
      "project": {
        "updatedAt": "2026-04-18T13:51:26.012Z",
        "createdAt": "2026-04-18T13:41:21.856Z",
        "id": "xKBOyp07nrGbu4ob",
        "name": "Emilio  Perez  <emilacho@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1a2877ea-d537-4ccd-9acb-0d9187da6327"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-12T19:55:50.102Z",
    "createdAt": "2026-05-12T19:55:50.102Z",
    "versionId": "88d03dbc-5dc3-495d-b74d-587040706a85",
    "workflowId": "RT1tcru9mysEwKkf",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "campaign-orchestrator",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Campaign Webhook (Entry)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -288,
          96
        ],
        "webhookId": "a19f4789-e7db-470a-b2ca-b07cd7f440f4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/nexus/parse-request",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"body\": {{ JSON.stringify($json.body ?? $json) }},\n  \"client_id\": \"{{ ($json.body && $json.body.client_id) || $json.client_id || '' }}\",\n  \"campaign_brief\": \"{{ ($json.body && $json.body.campaign_brief) || $json.campaign_brief || '' }}\",\n  \"priority\": \"{{ ($json.body && $json.body.priority) || $json.priority || 'normal' }}\"\n}",
          "options": {
            "timeout": 15000
          },
          "contentType": "json"
        },
        "id": "parse-campaign-request",
        "name": "Parse & Validate Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -64,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/campaign-pipeline/state",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"campaign_brief\": \"{{ $json.campaign_brief }}\",\n  \"current_phase\": \"{{ $json.current_phase }}\",\n  \"status\": \"initiated\",\n  \"priority\": \"{{ $json.priority }}\"\n}",
          "options": {
            "timeout": 15000
          },
          "contentType": "json"
        },
        "id": "init-pipeline-state",
        "name": "Initialize Pipeline State",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          176,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/agents/run",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
              },
              {
                "name": "x-smoke-test",
                "value": "={{ ($json.client_id || \"\").startsWith(\"smoke-\") ? \"1\" : \"\" }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"agent\": \"jefe-marketing\",\n  \"task_type\": \"phase_execution\",\n  \"phase\": \"{{ $json.current_phase }}\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"campaign_brief\": \"{{ $json.campaign_brief }}\",\n  \"phase_input\": {{ JSON.stringify($json.campaign_brief || '') }}\n}",
          "options": {
            "timeout": 60000
          },
          "contentType": "json"
        },
        "id": "execute-phase",
        "name": "Execute Phase (jefe-marketing)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          624,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/evidence/validate",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phase\": \"{{ $node['Resolve Phase'].json.current_phase }}\",\n  \"phase_output\": {{ JSON.stringify($node['Execute Phase (jefe-marketing)'].json.output || '') }},\n  \"success_criteria\": \"standard phase-complete check\",\n  \"request_id\": \"{{ $node['Resolve Phase'].json.request_id }}\",\n  \"client_id\": \"{{ $node['Resolve Phase'].json.client_id }}\"\n}",
          "options": {
            "timeout": 30000
          },
          "contentType": "json"
        },
        "id": "validate-phase",
        "name": "Validate Phase Output (Evidence Collector)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          832,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.verdict }}",
                "rightValue": "PASS",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-validation",
        "name": "Validation Passed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1040,
          96
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/nexus/advance-phase",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"campaign_brief\": {{ JSON.stringify($json.campaign_brief ?? '') }},\n  \"current_phase\": \"{{ $json.current_phase || 'DISCOVER' }}\",\n  \"current_phase_index\": {{ Number($json.current_phase_index) || 0 }},\n  \"phase_output\": {{ JSON.stringify($('Execute Phase (jefe-marketing)').item.json.output ?? $('Execute Phase (jefe-marketing)').item.json.response ?? '') }},\n  \"phase_outputs\": {{ JSON.stringify($json.phase_outputs || {}) }},\n  \"retry_count\": {{ Number($json.retry_count) || 0 }},\n  \"priority\": \"{{ $json.priority || 'normal' }}\",\n  \"started_at\": \"{{ $json.started_at || new Date().toISOString() }}\"\n}",
          "options": {
            "timeout": 15000
          },
          "contentType": "json"
        },
        "id": "advance-phase",
        "name": "Advance to Next Phase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1168,
          -112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/nexus/handle-failure",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"current_phase\": \"{{ $json.current_phase || 'UNKNOWN' }}\",\n  \"retry_count\": {{ Number($json.retry_count) || 0 }},\n  \"validation_error\": {{ JSON.stringify($('Validate Phase Output (Evidence Collector)').item.json.error ?? $('Validate Phase Output (Evidence Collector)').item.json.rationale ?? 'Unknown error') }},\n  \"campaign_brief\": {{ JSON.stringify($json.campaign_brief ?? '') }},\n  \"phases\": {{ JSON.stringify($json.phases || []) }},\n  \"phase_outputs\": {{ JSON.stringify($json.phase_outputs || {}) }},\n  \"started_at\": \"{{ $json.started_at || new Date().toISOString() }}\"\n}",
          "options": {
            "timeout": 15000
          },
          "contentType": "json"
        },
        "id": "handle-validation-failure",
        "name": "Handle Validation Failure",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1184,
          528
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.retry_count }}",
                "rightValue": 3,
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-retry",
        "name": "Retries Remaining?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1440,
          560
        ]
      },
      {
        "parameters": {},
        "id": "retry-loop",
        "name": "Go Back to Phase Execution",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1792,
          128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"text\": \"?? *NEXUS Pipeline Escalation to HITL*\\n\\n*Request:* {{ $json.request_id }}\\n*Client:* {{ $json.client_id }}\\n*Phase:* {{ $json.current_phase }}\\n*Reason:* Failed validation after 3 retries\\n*Error:* {{ ($json.last_validation_error || '').slice(0, 150) }}\\n\\nAction: Review in Mission Control ? dashboard/inbox\"\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 10000
          },
          "contentType": "json"
        },
        "id": "escalate-slack",
        "name": "Notify Slack (HITL Escalation)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1840,
          512
        ],
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/create",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"approval_type\": \"phase_gate_failure\",\n  \"phase\": \"{{ $json.current_phase }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"context\": {\n    \"phase_output\": {{ JSON.stringify($node['Execute Phase (jefe-marketing)('].json.output || '').slice(0, 500)) }},\n    \"validation_error\": \"{{ $json.last_validation_error }}\",\n    \"retry_count\": {{ $json.retry_count }}\n  },\n  \"required_approver\": \"jefe-marketing\",\n  \"expires_in_hours\": 24\n}",
          "options": {
            "timeout": 15000
          },
          "contentType": "json"
        },
        "id": "queue-hitl",
        "name": "Queue for HITL Review",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2016,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/campaign-pipeline/state",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"current_phase\": \"{{ $json.current_phase || 'DISCOVER' }}\",\n  \"status\": \"{{ $json.status || 'in_progress' }}\",\n  \"retry_count\": {{ Number($json.retry_count) || 0 }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}",
          "options": {
            "timeout": 15000
          },
          "contentType": "json"
        },
        "id": "persist-state",
        "name": "Persist Phase State to DB",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1504,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/mc-sync",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"action\": \"phase_complete\",\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"phase\": \"{{ $json.current_phase || '' }}\",\n  \"status\": \"{{ $json.status || '' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 15000
          },
          "contentType": "json"
        },
        "id": "notify-mc-phase",
        "name": "Notify Mission Control (Phase Complete)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1488,
          -176
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $('Advance to Next Phase').item.json.status }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-complete",
        "name": "All Phases Complete?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1744,
          -144
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"text\": \"? *NEXUS Campaign Pipeline Complete*\\n\\n*Request:* {{ $json.request_id }}\\n*Client:* {{ $json.client_id }}\\n*Completed At:* {{ $json.completed_at }}\\n*Duration:* {{ (new Date($json.completed_at) - new Date($json.started_at)) / 1000 / 60 }}m\\n\\n?? All 7 phases (DISCOVER ? OPERATE) successfully executed.\"\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 10000
          },
          "contentType": "json"
        },
        "id": "notify-completion",
        "name": "Notify Slack (Pipeline Complete)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          -64
        ],
        "disabled": true
      },
      {
        "parameters": {},
        "id": "end-success",
        "name": "Success (End)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2288,
          64
        ]
      },
      {
        "parameters": {},
        "id": "end-hitl",
        "name": "HITL (End)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2304,
          208
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/nexus/resolve-phase",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"current_phase\": \"{{ $json.current_phase || 'DISCOVER' }}\",\n  \"request_id\": \"{{ $json.request_id || '' }}\",\n  \"client_id\": \"{{ $json.client_id || '' }}\",\n  \"campaign_brief\": {{ JSON.stringify($json.campaign_brief || '') }},\n  \"priority\": \"{{ $json.priority || 'normal' }}\",\n  \"phases\": {{ JSON.stringify($json.phases || ['DISCOVER']) }},\n  \"phase_outputs\": {{ JSON.stringify($json.phase_outputs || {}) }},\n  \"retry_count\": {{ Number($json.retry_count) || 0 }}\n}",
          "options": {
            "timeout": 15000
          },
          "contentType": "json"
        },
        "id": "resolve-phase-node-1776585271501",
        "name": "Resolve Phase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          400,
          96
        ]
      }
    ],
    "connections": {
      "Campaign Webhook (Entry)": {
        "main": [
          [
            {
              "node": "Parse & Validate Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Validate Request": {
        "main": [
          [
            {
              "node": "Initialize Pipeline State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Initialize Pipeline State": {
        "main": [
          [
            {
              "node": "Resolve Phase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Phase (jefe-marketing)": {
        "main": [
          [
            {
              "node": "Validate Phase Output (Evidence Collector)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Phase Output (Evidence Collector)": {
        "main": [
          [
            {
              "node": "Validation Passed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validation Passed?": {
        "main": [
          [
            {
              "node": "Advance to Next Phase",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle Validation Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Advance to Next Phase": {
        "main": [
          [
            {
              "node": "Persist Phase State to DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Validation Failure": {
        "main": [
          [
            {
              "node": "Retries Remaining?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retries Remaining?": {
        "main": [
          [
            {
              "node": "Go Back to Phase Execution",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notify Slack (HITL Escalation)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Go Back to Phase Execution": {
        "main": [
          [
            {
              "node": "Resolve Phase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Slack (HITL Escalation)": {
        "main": [
          [
            {
              "node": "Queue for HITL Review",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Queue for HITL Review": {
        "main": [
          [
            {
              "node": "HITL (End)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Persist Phase State to DB": {
        "main": [
          [
            {
              "node": "Notify Mission Control (Phase Complete)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Mission Control (Phase Complete)": {
        "main": [
          [
            {
              "node": "All Phases Complete?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "All Phases Complete?": {
        "main": [
          [
            {
              "node": "Notify Slack (Pipeline Complete)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Go Back to Phase Execution",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Slack (Pipeline Complete)": {
        "main": [
          [
            {
              "node": "Success (End)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Phase": {
        "main": [
          [
            {
              "node": "Execute Phase (jefe-marketing)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Emilio  Perez ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-12T19:55:50.492Z",
        "id": 679,
        "workflowId": "RT1tcru9mysEwKkf",
        "versionId": "88d03dbc-5dc3-495d-b74d-587040706a85",
        "event": "deactivated",
        "userId": "1a2877ea-d537-4ccd-9acb-0d9187da6327"
      },
      {
        "createdAt": "2026-05-12T19:55:50.700Z",
        "id": 680,
        "workflowId": "RT1tcru9mysEwKkf",
        "versionId": "88d03dbc-5dc3-495d-b74d-587040706a85",
        "event": "activated",
        "userId": "1a2877ea-d537-4ccd-9acb-0d9187da6327"
      }
    ]
  }
}