outputs/sprint7-naming-backups-2026-05-22/ZrMZpnLxurnJPnJH.json
{
  "updatedAt": "2026-05-12T19:29:14.439Z",
  "createdAt": "2026-04-18T15:44:58.801Z",
  "id": "ZrMZpnLxurnJPnJH",
  "name": "Zero Risk - HITL Inbox Processor (Every 15 Minutes)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "cron-15min",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/pending?status=pending&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-pending",
      "name": "Fetch Pending HITL Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.items || $input.first().json.pending || [];\nconst now = Date.now();\nconst categorized = {\n  fresh: [],\n  stale: [],\n  very_stale: [],\n  critical: [],\n  expired: []\n};\nconst thresholds = {\n  fresh: 30 * 60 * 1000,\n  stale: 4 * 60 * 60 * 1000,\n  very_stale: 24 * 60 * 60 * 1000,\n  critical: 72 * 60 * 60 * 1000\n};\nitems.forEach(item => {\n  const age_ms = now - new Date(item.created_at || item.paused_at || 0).getTime();\n  const age_min = age_ms / (60 * 1000);\n  if (age_ms > thresholds.critical) {\n    categorized.expired.push({...item, age_minutes: age_min, action: 'auto_expire'});\n  } else if (age_ms > thresholds.very_stale) {\n    categorized.critical.push({...item, age_minutes: age_min, action: 'critical_escalate'});\n  } else if (age_ms > thresholds.stale) {\n    categorized.very_stale.push({...item, age_minutes: age_min, action: 'renotify'});\n  } else if (age_ms > thresholds.fresh) {\n    categorized.stale.push({...item, age_minutes: age_min, action: 'monitor'});\n  } else {\n    categorized.fresh.push({...item, age_minutes: age_min, action: 'none'});\n  }\n});\nreturn [{\n  json: {\n    cycle_id: `hitl-${Date.now()}`,\n    total_pending: items.length,\n    categorized,\n    items_to_expire: categorized.expired.length,\n    items_to_escalate: categorized.critical.length,\n    items_to_renotify: categorized.very_stale.length,\n    cycle_timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "categorize-items",
      "name": "Categorize Items by Age",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.items_to_expire }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-expired",
      "name": "Any Expired Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        -160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "categorized.expired",
        "options": {}
      },
      "id": "split-expired",
      "name": "Split Expired Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1008,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/expire",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"item_id\": \"{{ $json.item_id }}\",\n  \"approval_type\": \"{{ $json.approval_type }}\",\n  \"age_minutes\": {{ Math.round($json.age_minutes) }},\n  \"escalation_path\": \"{{ $json.escalation_path || 'jefe-marketing' }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "expire-item",
      "name": "Expire Item & Escalate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.items_to_escalate }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-critical",
      "name": "Any Critical Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        768,
        208
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "categorized.critical",
        "options": {}
      },
      "id": "split-critical",
      "name": "Split Critical Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        944,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"?? *HITL Critical Escalation*\\n\\n*Item:* {{ $json.item_id }}\\n*Type:* {{ $json.approval_type }}\\n*Age:* {{ ($json.age_minutes / 60).toFixed(1) }}h\\n*Approver:* {{ $json.required_approver }}\\n\\nAction: escalating to {{ $json.escalation_path || 'general-manager' }}\",\n  \"channel\": \"#ops-alerts\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "alert-critical",
      "name": "Alert Slack (Critical)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        128
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.items_to_renotify }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-renotify",
      "name": "Any Stale Items to Renotify?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        512
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "categorized.very_stale",
        "options": {}
      },
      "id": "split-renotify",
      "name": "Split Stale Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"?? *HITL Approval Reminder*\\n\\n*Item:* {{ $json.item_id }}\\n*Type:* {{ $json.approval_type }}\\n*Pending Since:* {{ ($json.age_minutes / 60).toFixed(1) }}h ago\\n\\nPlease review in Mission Control ? inbox\",\n  \"channel\": \"@{{ $json.required_approver }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "dm-approver",
      "name": "DM Approver (Renotify)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        512
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/metrics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cycle_id\": \"{{ $('Categorize Items by Age').item.json.cycle_id }}\",\n  \"queue_depth\": {{ $('Categorize Items by Age').item.json.total_pending }},\n  \"items_expired\": {{ $('Categorize Items by Age').item.json.items_to_expire }},\n  \"items_escalated\": {{ $('Categorize Items by Age').item.json.items_to_escalate }},\n  \"items_renotified\": {{ $('Categorize Items by Age').item.json.items_to_renotify }},\n  \"cycle_timestamp\": \"{{ $('Categorize Items by Age').item.json.cycle_timestamp }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "log-metrics",
      "name": "Log Cycle Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/mc-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"hitl_cycle_complete\",\n  \"cycle_id\": \"{{ $('Categorize Items by Age').first().json.cycle_id }}\",\n  \"queue_depth\": {{ $('Categorize Items by Age').first().json.total_pending }},\n  \"items_processed\": {{ $('Categorize Items by Age').first().json.items_to_expire + $('Categorize Items by Age').first().json.items_to_escalate + $('Categorize Items by Age').first().json.items_to_renotify }},\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "notify-mc",
      "name": "Notify Mission Control",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        200
      ]
    },
    {
      "parameters": {},
      "id": "end",
      "name": "Cycle Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1904,
        200
      ]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Pending HITL Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Pending HITL Items": {
      "main": [
        [
          {
            "node": "Categorize Items by Age",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorize Items by Age": {
      "main": [
        [
          {
            "node": "Any Expired Items?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Any Critical Items?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Any Stale Items to Renotify?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Expired Items?": {
      "main": [
        [
          {
            "node": "Split Expired Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Cycle Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Expired Items": {
      "main": [
        [
          {
            "node": "Expire Item & Escalate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expire Item & Escalate": {
      "main": [
        [
          {
            "node": "Log Cycle Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Critical Items?": {
      "main": [
        [
          {
            "node": "Split Critical Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Cycle Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Critical Items": {
      "main": [
        [
          {
            "node": "Alert Slack (Critical)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Slack (Critical)": {
      "main": [
        [
          {
            "node": "Log Cycle Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Stale Items to Renotify?": {
      "main": [
        [
          {
            "node": "Split Stale Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Cycle Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Stale Items": {
      "main": [
        [
          {
            "node": "DM Approver (Renotify)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DM Approver (Renotify)": {
      "main": [
        [
          {
            "node": "Log Cycle Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Cycle Metrics": {
      "main": [
        [
          {
            "node": "Notify Mission Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Mission Control": {
      "main": [
        [
          {
            "node": "Cycle Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Every 15 Minutes": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "ebf9f93a-0960-4c1a-88a9-7502a8a1c2ad",
  "activeVersionId": "ebf9f93a-0960-4c1a-88a9-7502a8a1c2ad",
  "versionCounter": 126,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-18T15:44:58.801Z",
      "createdAt": "2026-04-18T15:44:58.801Z",
      "role": "workflow:owner",
      "workflowId": "ZrMZpnLxurnJPnJH",
      "projectId": "xKBOyp07nrGbu4ob",
      "project": {
        "updatedAt": "2026-04-18T13:51:26.012Z",
        "createdAt": "2026-04-18T13:41:21.856Z",
        "id": "xKBOyp07nrGbu4ob",
        "name": "Emilio  Perez  <emilacho@hotmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1a2877ea-d537-4ccd-9acb-0d9187da6327"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-12T19:29:14.456Z",
    "createdAt": "2026-05-12T19:29:14.456Z",
    "versionId": "ebf9f93a-0960-4c1a-88a9-7502a8a1c2ad",
    "workflowId": "ZrMZpnLxurnJPnJH",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/15 * * * *"
              }
            ]
          }
        },
        "id": "cron-15min",
        "name": "Every 15 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          112,
          200
        ]
      },
      {
        "parameters": {
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/pending?status=pending&limit=100",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "id": "fetch-pending",
        "name": "Fetch Pending HITL Items",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          336,
          200
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.first().json.items || $input.first().json.pending || [];\nconst now = Date.now();\nconst categorized = {\n  fresh: [],\n  stale: [],\n  very_stale: [],\n  critical: [],\n  expired: []\n};\nconst thresholds = {\n  fresh: 30 * 60 * 1000,\n  stale: 4 * 60 * 60 * 1000,\n  very_stale: 24 * 60 * 60 * 1000,\n  critical: 72 * 60 * 60 * 1000\n};\nitems.forEach(item => {\n  const age_ms = now - new Date(item.created_at || item.paused_at || 0).getTime();\n  const age_min = age_ms / (60 * 1000);\n  if (age_ms > thresholds.critical) {\n    categorized.expired.push({...item, age_minutes: age_min, action: 'auto_expire'});\n  } else if (age_ms > thresholds.very_stale) {\n    categorized.critical.push({...item, age_minutes: age_min, action: 'critical_escalate'});\n  } else if (age_ms > thresholds.stale) {\n    categorized.very_stale.push({...item, age_minutes: age_min, action: 'renotify'});\n  } else if (age_ms > thresholds.fresh) {\n    categorized.stale.push({...item, age_minutes: age_min, action: 'monitor'});\n  } else {\n    categorized.fresh.push({...item, age_minutes: age_min, action: 'none'});\n  }\n});\nreturn [{\n  json: {\n    cycle_id: `hitl-${Date.now()}`,\n    total_pending: items.length,\n    categorized,\n    items_to_expire: categorized.expired.length,\n    items_to_escalate: categorized.critical.length,\n    items_to_renotify: categorized.very_stale.length,\n    cycle_timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "categorize-items",
        "name": "Categorize Items by Age",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.items_to_expire }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-expired",
        "name": "Any Expired Items?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          -160
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "categorized.expired",
          "options": {}
        },
        "id": "split-expired",
        "name": "Split Expired Items",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1008,
          -160
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/expire",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"item_id\": \"{{ $json.item_id }}\",\n  \"approval_type\": \"{{ $json.approval_type }}\",\n  \"age_minutes\": {{ Math.round($json.age_minutes) }},\n  \"escalation_path\": \"{{ $json.escalation_path || 'jefe-marketing' }}\"\n}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "expire-item",
        "name": "Expire Item & Escalate",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1232,
          -160
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.items_to_escalate }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-critical",
        "name": "Any Critical Items?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          768,
          208
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "categorized.critical",
          "options": {}
        },
        "id": "split-critical",
        "name": "Split Critical Items",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          944,
          64
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"text\": \"?? *HITL Critical Escalation*\\n\\n*Item:* {{ $json.item_id }}\\n*Type:* {{ $json.approval_type }}\\n*Age:* {{ ($json.age_minutes / 60).toFixed(1) }}h\\n*Approver:* {{ $json.required_approver }}\\n\\nAction: escalating to {{ $json.escalation_path || 'general-manager' }}\",\n  \"channel\": \"#ops-alerts\"\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 10000
          }
        },
        "id": "alert-critical",
        "name": "Alert Slack (Critical)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1232,
          128
        ],
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.items_to_renotify }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "check-renotify",
        "name": "Any Stale Items to Renotify?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          512
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "categorized.very_stale",
          "options": {}
        },
        "id": "split-renotify",
        "name": "Split Stale Items",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          960,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL || 'https://zero-risk-platform.vercel.app/api/stubs/slack-webhook' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"text\": \"?? *HITL Approval Reminder*\\n\\n*Item:* {{ $json.item_id }}\\n*Type:* {{ $json.approval_type }}\\n*Pending Since:* {{ ($json.age_minutes / 60).toFixed(1) }}h ago\\n\\nPlease review in Mission Control ? inbox\",\n  \"channel\": \"@{{ $json.required_approver }}\"\n}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            },
            "timeout": 10000
          }
        },
        "id": "dm-approver",
        "name": "DM Approver (Renotify)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1232,
          512
        ],
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/hitl/approvals/metrics",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"cycle_id\": \"{{ $('Categorize Items by Age').item.json.cycle_id }}\",\n  \"queue_depth\": {{ $('Categorize Items by Age').item.json.total_pending }},\n  \"items_expired\": {{ $('Categorize Items by Age').item.json.items_to_expire }},\n  \"items_escalated\": {{ $('Categorize Items by Age').item.json.items_to_escalate }},\n  \"items_renotified\": {{ $('Categorize Items by Age').item.json.items_to_renotify }},\n  \"cycle_timestamp\": \"{{ $('Categorize Items by Age').item.json.cycle_timestamp }}\"\n}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "log-metrics",
        "name": "Log Cycle Metrics",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1456,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/mc-sync",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "x-api-key",
                "value": "={{ $env.INTERNAL_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"action\": \"hitl_cycle_complete\",\n  \"cycle_id\": \"{{ $('Categorize Items by Age').first().json.cycle_id }}\",\n  \"queue_depth\": {{ $('Categorize Items by Age').first().json.total_pending }},\n  \"items_processed\": {{ $('Categorize Items by Age').first().json.items_to_expire + $('Categorize Items by Age').first().json.items_to_escalate + $('Categorize Items by Age').first().json.items_to_renotify }},\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "notify-mc",
        "name": "Notify Mission Control",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          200
        ]
      },
      {
        "parameters": {},
        "id": "end",
        "name": "Cycle Complete",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1904,
          200
        ]
      }
    ],
    "connections": {
      "Every 15 Minutes": {
        "main": [
          [
            {
              "node": "Fetch Pending HITL Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Pending HITL Items": {
        "main": [
          [
            {
              "node": "Categorize Items by Age",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Categorize Items by Age": {
        "main": [
          [
            {
              "node": "Any Expired Items?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Any Critical Items?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Any Stale Items to Renotify?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any Expired Items?": {
        "main": [
          [
            {
              "node": "Split Expired Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Cycle Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Expired Items": {
        "main": [
          [
            {
              "node": "Expire Item & Escalate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expire Item & Escalate": {
        "main": [
          [
            {
              "node": "Log Cycle Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any Critical Items?": {
        "main": [
          [
            {
              "node": "Split Critical Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Cycle Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Critical Items": {
        "main": [
          [
            {
              "node": "Alert Slack (Critical)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Alert Slack (Critical)": {
        "main": [
          [
            {
              "node": "Log Cycle Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Any Stale Items to Renotify?": {
        "main": [
          [
            {
              "node": "Split Stale Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Cycle Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Stale Items": {
        "main": [
          [
            {
              "node": "DM Approver (Renotify)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DM Approver (Renotify)": {
        "main": [
          [
            {
              "node": "Log Cycle Metrics",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Cycle Metrics": {
        "main": [
          [
            {
              "node": "Notify Mission Control",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notify Mission Control": {
        "main": [
          [
            {
              "node": "Cycle Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Emilio  Perez ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-12T19:29:14.742Z",
        "id": 673,
        "workflowId": "ZrMZpnLxurnJPnJH",
        "versionId": "ebf9f93a-0960-4c1a-88a9-7502a8a1c2ad",
        "event": "deactivated",
        "userId": "1a2877ea-d537-4ccd-9acb-0d9187da6327"
      },
      {
        "createdAt": "2026-05-12T19:29:14.879Z",
        "id": 674,
        "workflowId": "ZrMZpnLxurnJPnJH",
        "versionId": "ebf9f93a-0960-4c1a-88a9-7502a8a1c2ad",
        "event": "activated",
        "userId": "1a2877ea-d537-4ccd-9acb-0d9187da6327"
      }
    ]
  }
}