n8n-workflows/proposed-sesion27b/06-client-success/001-account-health-score-daily.json
{
  "name": "Zero Risk — Account Health Score Daily (6am)",
  "description": "Daily health score computation for all active clients. Pulls NPS, usage frequency, adoption, ticket trends, renewal proximity. Tier classification (Green/Yellow/Red). Alerts for transitions.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "cron-6am",
      "name": "Daily 6am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL || 'https://zero-risk-platform.vercel.app' }}/api/clients?status=active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-clients",
      "name": "Fetch Active Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients",
        "options": {}
      },
      "id": "split-clients",
      "name": "Split Clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/analytics/nps?client_id={{ $json.id }}&days=90",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-nps",
      "name": "Fetch NPS (90d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/analytics/usage?client_id={{ $json.id }}&days=30",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-usage",
      "name": "Fetch Usage Frequency (30d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/analytics/adoption?client_id={{ $json.id }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-adoption",
      "name": "Fetch Feature Adoption",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/support/tickets?client_id={{ $json.id }}&days=30",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-tickets",
      "name": "Fetch Support Tickets (30d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 460]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/ghl/relationships?client_id={{ $json.id }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-relationships",
      "name": "Fetch Relationship Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 580]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-signals",
      "name": "Merge Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst client = $node['Split Clients'].json;\nconst nps = all[0]?.json || { current_score: null, previous_score: null };\nconst usage = all[1]?.json || { active_days_last_30: 0, frequency: 'low' };\nconst adoption = all[2]?.json || { feature_adoption_pct: 0, adopted_features: [] };\nconst tickets = all[3]?.json || { count_30d: 0, unresolved_count: 0, avg_resolution_hrs: 0 };\nconst relationships = all[4]?.json || { active_threads: 0, champions: [], last_contact_days_ago: 999 };\n\nlet score = 0;\nconst factors = {};\n\n// NPS: 0-25 points\nif (nps.current_score !== null) {\n  if (nps.current_score >= 50) { score += 25; factors.nps = 25; }\n  else if (nps.current_score >= 30) { score += 15; factors.nps = 15; }\n  else if (nps.current_score >= 10) { score += 5; factors.nps = 5; }\n  else { factors.nps = 0; }\n} else { factors.nps = 0; }\n\n// Usage frequency: 0-20 points\nconst activeDays = usage.active_days_last_30 || 0;\nif (activeDays >= 25) { score += 20; factors.usage = 20; }\nelse if (activeDays >= 15) { score += 12; factors.usage = 12; }\nelse if (activeDays >= 5) { score += 5; factors.usage = 5; }\nelse { factors.usage = 0; }\n\n// Feature adoption: 0-20 points\nconst adoptionPct = adoption.feature_adoption_pct || 0;\nif (adoptionPct >= 80) { score += 20; factors.adoption = 20; }\nelse if (adoptionPct >= 50) { score += 12; factors.adoption = 12; }\nelse if (adoptionPct >= 20) { score += 5; factors.adoption = 5; }\nelse { factors.adoption = 0; }\n\n// Support ticket trend: 0-15 points (inverse)\nconst ticketCount = tickets.count_30d || 0;\nconst unresolvedCount = tickets.unresolved_count || 0;\nif (unresolvedCount > 3 || ticketCount > 20) { factors.support = -10; score -= 10; }\nelse if (ticketCount > 10) { score += 5; factors.support = 5; }\nelse if (ticketCount <= 5) { score += 15; factors.support = 15; }\nelse { score += 8; factors.support = 8; }\n\n// Relationship threads: 0-20 points\nconst threadCount = relationships.active_threads || 0;\nif (threadCount >= 3) { score += 20; factors.relationships = 20; }\nelse if (threadCount >= 2) { score += 12; factors.relationships = 12; }\nelse if (threadCount >= 1) { score += 5; factors.relationships = 5; }\nelse { factors.relationships = 0; }\n\nscore = Math.max(0, Math.min(100, score));\nconst tier = score >= 75 ? 'Green' : score >= 50 ? 'Yellow' : 'Red';\nconst npsChange = nps.previous_score !== null ? (nps.current_score - nps.previous_score) : 0;\nconst usageChange = usage.usage_trend || 'stable'; // 'up' | 'stable' | 'down'\n\nreturn [{\n  json: {\n    client_id: client.id,\n    client_name: client.name,\n    client_tier: client.engagement_tier || 'Tier 3',\n    health_score: score,\n    tier,\n    factors,\n    signals: {\n      nps_current: nps.current_score,\n      nps_change: npsChange,\n      usage_active_days_30: activeDays,\n      usage_trend: usageChange,\n      adoption_pct: adoptionPct,\n      support_tickets_30d: ticketCount,\n      support_unresolved: unresolvedCount,\n      support_avg_response_hrs: tickets.avg_resolution_hrs,\n      relationship_threads: threadCount,\n      relationship_last_contact_days: relationships.last_contact_days_ago\n    },\n    computed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "compute-health-score",
      "name": "Compute Health Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/clients/health-snapshot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "persist-health",
      "name": "Persist Health Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/clients/health-history?client_id={{ $json.client_id }}&limit=2",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-previous-health",
      "name": "Fetch Previous Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 500]
    },
    {
      "parameters": {
        "jsCode": "const current = $node['Compute Health Score'].json;\nconst history = $input.first().json || { history: [] };\nconst previous = history.history && history.history[1] ? history.history[1] : null;\n\nif (previous && previous.tier !== current.tier) {\n  return [{ json: { transitioned: true, from_tier: previous.tier, to_tier: current.tier, client_id: current.client_id, client_name: current.client_name, severity: current.tier === 'Red' ? 'high' : 'medium' } }];\n} else {\n  return [{ json: { transitioned: false } }];\n}"
      },
      "id": "check-tier-transition",
      "name": "Check Tier Transition",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.transitioned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-transition",
      "name": "Is Transition?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1840, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ *TIER TRANSITION ALERT*\\n• Client: {{ $json.client_name }}\\n• {{ $json.from_tier }} → {{ $json.to_tier }}\\n• Severity: {{ $json.severity }}\\n\\n→ Jefe CS: review health factors + intervention plan\",\n  \"color\": \"{{ $json.severity === 'high' ? '#FF0000' : '#FFA500' }}\"\n}",
        "options": {}
      },
      "id": "alert-transition",
      "name": "Alert Slack: Tier Transition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/mc-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.MC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"create_task\",\n  \"title\": \"{{ $json.from_tier }}→{{ $json.to_tier }} Transition: {{ $json.client_name }}\",\n  \"priority\": \"{{ $json.severity === 'high' ? 'high' : 'medium' }}\",\n  \"department\": \"client_success\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"metadata\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "mc-task-transition",
      "name": "MC: Create Transition Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 380]
    },
    {
      "parameters": {},
      "id": "noop-no-transition",
      "name": "No Transition",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2080, 600]
    }
  ],
  "connections": {
    "Daily 6am": {
      "main": [
        [
          {
            "node": "Fetch Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Clients": {
      "main": [
        [
          {
            "node": "Split Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clients": {
      "main": [
        [
          {
            "node": "Fetch NPS (90d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Usage Frequency (30d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Feature Adoption",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Support Tickets (30d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Relationship Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NPS (90d)": {
      "main": [
        [
          {
            "node": "Merge Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Usage Frequency (30d)": {
      "main": [
        [
          {
            "node": "Merge Signals",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Feature Adoption": {
      "main": [
        [
          {
            "node": "Merge Signals",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch Support Tickets (30d)": {
      "main": [
        [
          {
            "node": "Merge Signals",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Fetch Relationship Threads": {
      "main": [
        [
          {
            "node": "Merge Signals",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge Signals": {
      "main": [
        [
          {
            "node": "Compute Health Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Health Score": {
      "main": [
        [
          {
            "node": "Persist Health Snapshot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Previous Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Previous Health": {
      "main": [
        [
          {
            "node": "Check Tier Transition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tier Transition": {
      "main": [
        [
          {
            "node": "Is Transition?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Transition?": {
      "main": [
        [
          {
            "node": "Alert Slack: Tier Transition",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Transition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Slack: Tier Transition": {
      "main": [
        [
          {
            "node": "MC: Create Transition Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "zero-risk"
    },
    {
      "name": "cluster-6"
    },
    {
      "name": "client-success"
    },
    {
      "name": "health-score"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
