n8n-workflows/proposed-sesion27b/06-client-success/002-churn-prediction-90d.json
{
  "name": "Zero Risk — Churn Prediction 90d Pre-Renewal (9am)",
  "description": "Daily churn risk prediction for clients within 90-120d of renewal. Calculates churn risk from health trends, engagement decline, thread collapse, support escalations. Triggers Account Manager intervention for high-risk clients (>0.6 score).",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cron-9am",
      "name": "Daily 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/clients?status=active&renewal_window=90-120d",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-renewal-window",
      "name": "Fetch Clients in 90-120d Window",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients",
        "options": {}
      },
      "id": "split-renewal",
      "name": "Split by Client",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/clients/health-history?client_id={{ $json.id }}&limit=4",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-health-trend",
      "name": "Fetch Health Trend (90d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/ghl/relationships?client_id={{ $json.id }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-thread-density",
      "name": "Fetch Thread Density",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/support/tickets?client_id={{ $json.id }}&days=90&filter=escalation",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-escalations",
      "name": "Fetch Support Escalations (90d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/analytics/nrr-trajectory?client_id={{ $json.id }}&months=3",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-nrr",
      "name": "Fetch NRR Trajectory (3m)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 460]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-churn-signals",
      "name": "Merge Churn Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst client = $node['Split by Client'].json;\nconst healthHistory = all[0]?.json || { history: [] };\nconst threads = all[1]?.json || { active_threads: 0 };\nconst escalations = all[2]?.json || { count_90d: 0, escalation_trend: 'stable' };\nconst nrr = all[3]?.json || { nrr_current: 0, nrr_trend: 'flat' };\n\nlet churnRisk = 0;\nconst factors = {};\n\n// Health score decline: 0-30 points\nif (healthHistory.history && healthHistory.history.length >= 2) {\n  const recent = healthHistory.history[0].health_score || 0;\n  const previous = healthHistory.history[1].health_score || 0;\n  const decline = previous - recent;\n  \n  if (decline > 20) { churnRisk += 30; factors.health_decline = 30; }\n  else if (decline > 10) { churnRisk += 20; factors.health_decline = 20; }\n  else if (decline > 0) { churnRisk += 10; factors.health_decline = 10; }\n  else { factors.health_decline = 0; }\n} else { factors.health_decline = 0; }\n\n// Thread collapse: 0-25 points\nconst threadCount = threads.active_threads || 0;\nif (threadCount < 2) { churnRisk += 25; factors.thread_collapse = 25; }\nelse if (threadCount < 3) { churnRisk += 15; factors.thread_collapse = 15; }\nelse { factors.thread_collapse = 0; }\n\n// Support escalation pattern: 0-20 points\nconst escalationCount = escalations.count_90d || 0;\nconst escalationTrend = escalations.escalation_trend || 'stable';\n\nif (escalationTrend === 'up' && escalationCount > 3) { churnRisk += 20; factors.escalation_pattern = 20; }\nelse if (escalationTrend === 'up' || escalationCount > 5) { churnRisk += 12; factors.escalation_pattern = 12; }\nelse if (escalationCount > 2) { churnRisk += 5; factors.escalation_pattern = 5; }\nelse { factors.escalation_pattern = 0; }\n\n// NRR trajectory: 0-25 points (inverse)\nconst nrrCurrent = nrr.nrr_current || 0;\nconst nrrTrend = nrr.nrr_trend || 'flat';\n\nif (nrrTrend === 'down' || nrrCurrent < 0.8) { churnRisk += 25; factors.nrr_decline = 25; }\nelse if (nrrCurrent < 1.0) { churnRisk += 15; factors.nrr_decline = 15; }\nelse if (nrrCurrent >= 1.2) { churnRisk -= 10; factors.nrr_decline = -10; }\nelse { factors.nrr_decline = 0; }\n\nchurnRisk = Math.max(0, Math.min(100, churnRisk));\nconst riskLevel = churnRisk > 70 ? 'critical' : churnRisk > 50 ? 'high' : churnRisk > 30 ? 'medium' : 'low';\nconst requiresIntervention = churnRisk > 60; // Intervention playbook triggered at >60\n\nreturn [{\n  json: {\n    client_id: client.id,\n    client_name: client.name,\n    renewal_date: client.renewal_date,\n    churn_risk_score: churnRisk,\n    risk_level: riskLevel,\n    requires_intervention: requiresIntervention,\n    factors,\n    signals: {\n      health_trend: healthHistory.history && healthHistory.history.length >= 2 ? healthHistory.history[0].health_score - healthHistory.history[1].health_score : 0,\n      active_threads: threadCount,\n      escalation_count_90d: escalationCount,\n      escalation_trend: escalationTrend,\n      nrr_current: nrrCurrent,\n      nrr_trend: nrrTrend\n    },\n    computed_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "compute-churn-risk",
      "name": "Compute Churn Risk Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/churn-predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "persist-churn-pred",
      "name": "Persist Churn Prediction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.requires_intervention }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "high-risk-check",
      "name": "Risk > 60?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚨 *CHURN RISK: {{ $json.client_name }}*\\n• Renewal: {{ $json.renewal_date }}\\n• Churn Risk: {{ Math.round($json.churn_risk_score) }}/100 ({{ $json.risk_level }})\\n• Health decline: {{ Math.round($json.signals.health_trend || 0) }} pts\\n• Threads: {{ $json.signals.active_threads }}\\n• NRR: {{ $json.signals.nrr_current.toFixed(2) }}\\n\\n→ Account Manager: intervention playbook needed\"\n}",
        "options": {}
      },
      "id": "alert-churn-slack",
      "name": "Alert Slack: High Churn Risk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/mc-sync",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.MC_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"create_task\",\n  \"title\": \"CHURN RISK: {{ $json.client_name }} (renewal {{ $json.renewal_date }})\",\n  \"priority\": \"high\",\n  \"department\": \"client_success\",\n  \"assigned_to\": \"account-manager\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"metadata\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "mc-churn-task",
      "name": "MC: Create Intervention Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 200]
    },
    {
      "parameters": {},
      "id": "noop-low-risk",
      "name": "Low Risk (Continue Monitoring)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2080, 400]
    }
  ],
  "connections": {
    "Daily 9am": {
      "main": [
        [
          {
            "node": "Fetch Clients in 90-120d Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Clients in 90-120d Window": {
      "main": [
        [
          {
            "node": "Split by Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split by Client": {
      "main": [
        [
          {
            "node": "Fetch Health Trend (90d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Thread Density",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Support Escalations (90d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch NRR Trajectory (3m)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Health Trend (90d)": {
      "main": [
        [
          {
            "node": "Merge Churn Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Thread Density": {
      "main": [
        [
          {
            "node": "Merge Churn Signals",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Support Escalations (90d)": {
      "main": [
        [
          {
            "node": "Merge Churn Signals",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch NRR Trajectory (3m)": {
      "main": [
        [
          {
            "node": "Merge Churn Signals",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge Churn Signals": {
      "main": [
        [
          {
            "node": "Compute Churn Risk Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Churn Risk Score": {
      "main": [
        [
          {
            "node": "Persist Churn Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Churn Prediction": {
      "main": [
        [
          {
            "node": "Risk > 60?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk > 60?": {
      "main": [
        [
          {
            "node": "Alert Slack: High Churn Risk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Risk (Continue Monitoring)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Slack: High Churn Risk": {
      "main": [
        [
          {
            "node": "MC: Create Intervention Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "zero-risk"
    },
    {
      "name": "cluster-6"
    },
    {
      "name": "client-success"
    },
    {
      "name": "churn-prediction"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
