n8n-workflows/proposed-sesion27b/06-client-success/004-onboarding-e2e-v2.json
{
  "name": "Zero Risk — Client Onboarding E2E v2 (Webhook: Deal Won)",
  "description": "E2E onboarding workflow triggered on new deal (GHL opportunity = Won). Auto-populates Client Brain (brand, ICP, competitive landscape, VoC). Co-creates success plan with client. Sets activation milestones + TTV targets. Handoff to Account Manager when health ≥ Yellow.",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zero-risk/deal-won-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-deal-won",
      "name": "Webhook: Deal Won",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "zero-risk-deal-won-onboarding"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst missing = [];\nif (!b.client_name) missing.push('client_name');\nif (!b.website && !b.domain) missing.push('website');\nif (!b.industry) missing.push('industry');\nif (!b.contract_scope) missing.push('contract_scope');\nif (missing.length) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}`);\n}\nreturn [{ json: b }];"
      },
      "id": "validate-deal",
      "name": "Validate Deal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"onboarding-specialist\",\n  \"task\": \"Auto-discover and populate Client Brain for {{ $json.client_name }} (industry: {{ $json.industry }}, website: {{ $json.website }}). Use web_fetch + web_search to research: brand voice, positioning, target market, competitive landscape, public voice/reviews. Structure into: brand book (voice, tone, values), ICP document (target customer profile), competitive landscape (3-5 top competitors), VOC library (customer testimonials, voice patterns). Return discovery report.\",\n  \"context\": { \"client_name\": \"{{ $json.client_name }}\", \"website\": \"{{ $json.website }}\", \"industry\": \"{{ $json.industry }}\" }\n}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "call-onboarding-agent",
      "name": "Call Onboarding Specialist: Auto-Discovery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/notion/create-client-workspace",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"client_id\": \"{{ $json.client_id || 'temp-' + Date.now() }}\",\n  \"industry\": \"{{ $json.industry }}\",\n  \"parent_page_id\": \"{{ $env.NOTION_PARENT_PAGE_ID }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-notion-workspace",
      "name": "Create Notion Client Workspace",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const discovery = $node['Call Onboarding Specialist: Auto-Discovery'].json.result || {};\nconst scope = $node['Validate Deal Data'].json.contract_scope || [];\n\nconst activationMilestones = [];\nconst ttv_targets = {};\n\nif (scope.includes('paid_ads')) {\n  activationMilestones.push({ channel: 'paid_ads', milestone: 'First campaign launched', day: 14, success_metric: 'First converted lead' });\n  ttv_targets.paid_ads = 14;\n}\nif (scope.includes('content_seo')) {\n  activationMilestones.push({ channel: 'content_seo', milestone: 'Content calendar published', day: 30, success_metric: 'First organic traffic' });\n  ttv_targets.content_seo = 30;\n}\nif (scope.includes('email')) {\n  activationMilestones.push({ channel: 'email', milestone: 'Email sequence deployed', day: 7, success_metric: 'First engagement' });\n  ttv_targets.email = 7;\n}\nif (scope.includes('industrial') || scope.includes('complex')) {\n  ttv_targets.complex = 45;\n}\n\nconst successPlan = {\n  goals: [],\n  success_metrics: [],\n  timeline: activationMilestones,\n  ttv_targets,\n  champion_map: { identified: false, count: 0, stakeholders: [] },\n  status: 'draft'\n};\n\nreturn [{ json: { ...successPlan, discovery_report: discovery } }];"
      },
      "id": "build-success-plan",
      "name": "Build Success Plan Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/notion/create-success-plan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"workspace_id\": \"{{ $node['Create Notion Client Workspace'].json.workspace_id }}\",\n  \"plan\": {{ JSON.stringify($json) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-success-plan-notion",
      "name": "Create Success Plan in Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/ghl/create-calendar-event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": \"{{ $json.primary_contact_id }}\",\n  \"event_title\": \"🚀 Kickoff Call: {{ $json.client_name }}\",\n  \"duration_minutes\": 60,\n  \"scheduled_at\": \"{{ new Date(Date.now() + 3*24*60*60*1000).toISOString() }}\",\n  \"description\": \"Welcome to Zero Risk! Let's align on your success plan, introduce the team, and answer questions.\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "schedule-kickoff",
      "name": "Schedule Kickoff Call (GHL Calendar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "jsCode": "const activationHealth = 'Yellow'; // Initial onboarding health always Yellow (assumes basic setup)\nconst championMap = { count: 0, stakeholders: [] }; // To be updated post-kickoff\n\nreturn [{ json: { client_id: $node['Validate Deal Data'].json.client_id, client_name: $node['Validate Deal Data'].json.client_name, activation_health: activationHealth, champion_count: championMap.count, onboarding_status: 'initiated', kickoff_scheduled: true } }];"
      },
      "id": "compute-handoff-score",
      "name": "Compute Handoff Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/ghl/add-task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": \"{{ $json.primary_contact_id }}\",\n  \"title\": \"Account Manager Handoff: {{ $json.client_name }}\",\n  \"description\": \"Onboarding initiated. Client Brain auto-populated. Success plan drafted in Notion. Kickoff call scheduled. Ready for Account Manager ownership after kickoff confirmation + champion map.\",\n  \"due_date\": \"{{ new Date(Date.now() + 5*24*60*60*1000).toISOString().split('T')[0] }}\",\n  \"priority\": \"high\"\n}",
        "options": {}
      },
      "id": "ghl-handoff-task",
      "name": "GHL: Create AM Handoff Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"✅ *ONBOARDING INITIATED*\\n• Client: {{ $json.client_name }}\\n• Industry: {{ $json.industry }}\\n• Contract: {{ $json.contract_scope.join(', ') }}\\n• Notion Workspace: <{{ $node['Create Notion Client Workspace'].json.workspace_url }}|View>\\n• Success Plan: <{{ $node['Create Success Plan in Notion'].json.plan_url }}|Review>\\n• Kickoff: scheduled (see calendar invite)\\n\\n→ Account Manager: await kickoff → map champions → begin activation\"\n}",
        "options": {}
      },
      "id": "alert-onboarding-slack",
      "name": "Alert Slack: Onboarding Initiated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 300]
    }
  ],
  "connections": {
    "Webhook: Deal Won": {
      "main": [
        [
          {
            "node": "Validate Deal Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal Data": {
      "main": [
        [
          {
            "node": "Call Onboarding Specialist: Auto-Discovery",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Notion Client Workspace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Onboarding Specialist: Auto-Discovery": {
      "main": [
        [
          {
            "node": "Build Success Plan Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Client Workspace": {
      "main": [
        [
          {
            "node": "Build Success Plan Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Plan Template": {
      "main": [
        [
          {
            "node": "Create Success Plan in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Success Plan in Notion": {
      "main": [
        [
          {
            "node": "Schedule Kickoff Call (GHL Calendar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Kickoff Call (GHL Calendar)": {
      "main": [
        [
          {
            "node": "Compute Handoff Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Handoff Score": {
      "main": [
        [
          {
            "node": "GHL: Create AM Handoff Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL: Create AM Handoff Task": {
      "main": [
        [
          {
            "node": "Alert Slack: Onboarding Initiated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "zero-risk"
    },
    {
      "name": "cluster-6"
    },
    {
      "name": "client-success"
    },
    {
      "name": "onboarding"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
