n8n-workflows/proposed-sesion27b/06-client-success/005-expansion-readiness-scanner.json
{
  "name": "Zero Risk — Expansion Readiness Scanner (Fridays 2pm)",
  "description": "Weekly scan for expansion-ready clients. Identifies adoption >70%, NPS >40, engagement growing, NRR positive. Distinguishes expansion intent (what client said) vs readiness (metrics aligned). Creates expansion_opportunities records. Slack digest to account managers.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * 5"
            }
          ]
        }
      },
      "id": "cron-friday-2pm",
      "name": "Fridays 2pm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/clients?status=active&tenure_months=>=3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-active-clients",
      "name": "Fetch Active Clients (3+ months tenure)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients",
        "options": {}
      },
      "id": "split-expansion",
      "name": "Split Clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/analytics/adoption?client_id={{ $json.id }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-adoption",
      "name": "Fetch Adoption %",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/analytics/nps?client_id={{ $json.id }}&days=90",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-nps",
      "name": "Fetch NPS (90d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 220]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/analytics/engagement?client_id={{ $json.id }}&days=30&compare_previous=true",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-engagement",
      "name": "Fetch Engagement (30d vs prev)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/analytics/nrr-trajectory?client_id={{ $json.id }}&months=3",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-nrr",
      "name": "Fetch NRR Trajectory (3m)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 460]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/ghl/expansion-intent?client_id={{ $json.id }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-intent",
      "name": "Fetch Expansion Intent (from GHL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 580]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-expansion-data",
      "name": "Merge Expansion Signals",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const all = $input.all();\nconst client = $node['Split Clients'].json;\nconst adoption = all[0]?.json || { feature_adoption_pct: 0 };\nconst nps = all[1]?.json || { current_score: 0 };\nconst engagement = all[2]?.json || { current_score: 0, previous_score: 0 };\nconst nrr = all[3]?.json || { nrr_current: 0, nrr_trend: 'flat' };\nconst intent = all[4]?.json || { expressed_intent: null, intent_channels: [] };\n\nconst adoptionPct = adoption.feature_adoption_pct || 0;\nconst currentNps = nps.current_score || 0;\nconst engagementGrowing = (engagement.current_score || 0) > (engagement.previous_score || 0);\nconst nrrPositive = nrr.nrr_current >= 1.0;\nconst hasIntent = intent.expressed_intent !== null && intent.expressed_intent !== undefined;\n\n// Expansion readiness: metrics-based\nconst isReady = adoptionPct > 70 && currentNps > 40 && engagementGrowing && nrrPositive;\n\n// Readiness score (0-100)\nlet readinessScore = 0;\nif (adoptionPct > 70) readinessScore += 25;\nelse if (adoptionPct > 50) readinessScore += 15;\nif (currentNps > 40) readinessScore += 25;\nelse if (currentNps > 30) readinessScore += 15;\nif (engagementGrowing) readinessScore += 25;\nif (nrrPositive) readinessScore += 25;\n\nconst priority = readinessScore > 75 ? 'high' : readinessScore > 50 ? 'medium' : 'low';\n\nreturn [{\n  json: {\n    client_id: client.id,\n    client_name: client.name,\n    client_tier: client.engagement_tier,\n    expansion_readiness_score: readinessScore,\n    is_ready: isReady,\n    priority,\n    has_intent: hasIntent,\n    intent_channels: intent.intent_channels || [],\n    metrics: {\n      adoption_pct: adoptionPct,\n      nps: currentNps,\n      engagement_trending: engagementGrowing ? 'up' : 'flat/down',\n      nrr: nrrPositive ? 'positive' : 'declining',\n      nrr_value: nrr.nrr_current\n    }\n  }\n}];"
      },
      "id": "compute-readiness",
      "name": "Compute Expansion Readiness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-expansion-ready",
      "name": "Is Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/expansion-opportunities",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"readiness_score\": {{ $json.expansion_readiness_score }},\n  \"priority\": \"{{ $json.priority }}\",\n  \"has_intent\": {{ $json.has_intent }},\n  \"metrics\": {{ JSON.stringify($json.metrics) }},\n  \"status\": \"ready\"\n}",
        "options": {}
      },
      "id": "create-opportunity",
      "name": "Create Expansion Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 200]
    },
    {
      "parameters": {},
      "id": "noop-not-ready",
      "name": "Not Ready (Continue Monitoring)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1840, 400]
    },
    {
      "parameters": {
        "jsCode": "const ready = $input.all().filter(item => item.json.is_ready === true);\nconst high = ready.filter(item => item.json.priority === 'high');\nconst medium = ready.filter(item => item.json.priority === 'medium');\n\nlet digest = '📈 *EXPANSION READINESS DIGEST (Weekly)*\\n\\n';\nif (high.length > 0) {\n  digest += '🔥 *High Priority (Ready to Expand):*\\n';\n  high.forEach((item) => {\n    digest += `• ${item.json.client_name} (Adoption: ${item.json.metrics.adoption_pct}%, NPS: ${item.json.metrics.nps}, NRR: ${item.json.metrics.nrr_value.toFixed(2)})\\n`;\n  });\n  digest += '\\n';\n}\nif (medium.length > 0) {\n  digest += '⚡ *Medium Priority (Getting Close):*\\n';\n  medium.forEach((item) => {\n    digest += `• ${item.json.client_name} (Score: ${item.json.expansion_readiness_score})\\n`;\n  });\n  digest += '\\n';\n}\nif (ready.length === 0) {\n  digest += 'No new expansion-ready clients this week.\\n';\n}\ndigest += '\\n→ Account Managers: Review readiness scores in MC, build expansion playbooks for high-priority clients';\n\nreturn [{ json: { digest } }];"
      },
      "id": "build-digest",
      "name": "Build Slack Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.digest }}\"\n}",
        "options": {}
      },
      "id": "send-digest",
      "name": "Send Slack Digest to AM Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2320, 300]
    }
  ],
  "connections": {
    "Fridays 2pm": {
      "main": [
        [
          {
            "node": "Fetch Active Clients (3+ months tenure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Clients (3+ months tenure)": {
      "main": [
        [
          {
            "node": "Split Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clients": {
      "main": [
        [
          {
            "node": "Fetch Adoption %",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch NPS (90d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Engagement (30d vs prev)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch NRR Trajectory (3m)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Expansion Intent (from GHL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Adoption %": {
      "main": [
        [
          {
            "node": "Merge Expansion Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NPS (90d)": {
      "main": [
        [
          {
            "node": "Merge Expansion Signals",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Engagement (30d vs prev)": {
      "main": [
        [
          {
            "node": "Merge Expansion Signals",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Fetch NRR Trajectory (3m)": {
      "main": [
        [
          {
            "node": "Merge Expansion Signals",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Fetch Expansion Intent (from GHL)": {
      "main": [
        [
          {
            "node": "Merge Expansion Signals",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge Expansion Signals": {
      "main": [
        [
          {
            "node": "Compute Expansion Readiness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Expansion Readiness": {
      "main": [
        [
          {
            "node": "Is Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready?": {
      "main": [
        [
          {
            "node": "Create Expansion Opportunity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Ready (Continue Monitoring)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Expansion Opportunity": {
      "main": [
        [
          {
            "node": "Build Slack Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Digest": {
      "main": [
        [
          {
            "node": "Send Slack Digest to AM Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "zero-risk"
    },
    {
      "name": "cluster-6"
    },
    {
      "name": "client-success"
    },
    {
      "name": "expansion"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
