n8n-workflows/proposed-sesion27b/06-client-success/006-weekly-client-report-v2.json
{
  "name": "Zero Risk — Weekly Client Report Generator v2 (Mondays 8am)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "cron-monday-8am",
      "name": "Mondays 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/clients?status=active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-all-clients",
      "name": "Fetch All Active Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients",
        "options": {}
      },
      "id": "split-clients-report",
      "name": "Split Clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.meta_ad_account_id }}/insights?fields=spend,impressions,clicks,ctr,cpc,actions,action_values&date_preset=last_7d&access_token={{ $env.META_ACCESS_TOKEN }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-meta-7d",
      "name": "Meta Ads (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://analyticsdata.googleapis.com/v1beta/properties/{{ $json.ga4_property_id }}:runReport",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GOOGLE_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"dateRanges\": [{ \"startDate\": \"7daysAgo\", \"endDate\": \"today\" }],\n  \"metrics\": [{ \"name\": \"sessions\" }, { \"name\": \"totalUsers\" }, { \"name\": \"conversions\" }, { \"name\": \"engagementRate\" }],\n  \"dimensions\": [{ \"name\": \"sessionDefaultChannelGroup\" }]\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-ga4-7d",
      "name": "GA4 (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        220
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/pipeline/summary?client_id={{ $json.id }}&days=7",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
            }
          ]
        }
      },
      "id": "fetch-ghl-pipeline",
      "name": "GHL Pipeline (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        340
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/posthog/events?client_id={{ $json.id }}&days=7&event_count=true",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "557fd3526c7808040924290f170aa25099d2896282acf31cf38dd9cf2ea2bfed"
            }
          ]
        }
      },
      "id": "fetch-posthog-events",
      "name": "PostHog Events (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        460
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-report-data",
      "name": "Merge Report Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent_id\": \"reporting-agent\",\n  \"task\": \"Generate comprehensive weekly report for {{ $json.client_name }} ({{ $json.engagement_tier }}). Use SCQA narrative + McKinsey pyramid structure. Meta Ads: spend={{ $json.meta_spend || 0 }}, impressions={{ $json.meta_impressions || 0 }}, actions={{ $json.meta_actions || 0 }}. GA4: sessions={{ $json.ga4_sessions || 0 }}, conversions={{ $json.ga4_conversions || 0 }}, engagement={{ $json.ga4_engagement_rate || 0 }}%. GHL Pipeline: leads={{ $json.ghl_new_leads || 0 }}, pipeline_value={{ $json.ghl_pipeline_value || 0 }}, closed={{ $json.ghl_closed_value || 0 }}. Include: executive brief (1 page SCQA), KPI dashboard with trend arrows, channel breakdown, stat significance testing, competitive benchmarks (show percentile), prioritized recommendations ranked by impact×feasibility.\",\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"workflow_execution_id\": \"{{ $execution.id }}\",\n  \"context\": {{ JSON.stringify($json) }}\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "call-reporting-agent",
      "name": "Call Reporting Agent: Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{ $env.ZERO_RISK_API_URL }}/api/notion/create-weekly-report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"week_ending\": \"{{ new Date().toISOString().split('T')[0] }}\",\n  \"report_content\": {{ JSON.stringify($node['Call Reporting Agent: Generate Report'].json.result) }},\n  \"status\": \"draft_for_approval\",\n  \"parent_page_id\": \"{{ $env.NOTION_PARENT_PAGE_ID }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-notion-report",
      "name": "Create Notion Report Draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/hitl/submit-approval",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"weekly_report_delivery\",\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"week_ending\": \"{{ new Date().toISOString().split('T')[0] }}\",\n  \"notion_page_id\": \"{{ $node['Create Notion Report Draft'].json.page_id }}\",\n  \"notion_page_url\": \"{{ $node['Create Notion Report Draft'].json.page_url }}\",\n  \"awaiting_approval\": true,\n  \"sla_hours\": 4\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "submit-report-hitl",
      "name": "Submit HITL Gate: Weekly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"📊 *WEEKLY REPORT DRAFT READY*\\n• Client: {{ $json.client_name }}\\n• Week ending: {{ new Date().toISOString().split('T')[0] }}\\n• Notion: <{{ $node['Create Notion Report Draft'].json.page_url }}|Review>\\n\\n→ Emilio: 4h approval SLA. Once approved, auto-delivers via email + Notion\\n→ Check Mission Control HITL inbox\"\n}",
        "options": {}
      },
      "id": "alert-hitl-report",
      "name": "Alert Slack: HITL Gate Opened",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zero-risk-platform.vercel.app/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: \"reporting-agent\", context: $json, task: \"Sprint 7 A1 wire-in side-effect invocation from Zero Risk — Weekly Client Report Generator v2 (Mondays 8am)\", workflow_id: $workflow.id, workflow_execution_id: $execution.id }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "wire-reporting-agent-pqck7x5r",
      "name": "Invoke · reporting-agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zero-risk-platform.vercel.app/api/agents/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ agent: \"account-manager\", context: $json, task: \"Sprint 7 A1 wire-in side-effect invocation from Zero Risk — Weekly Client Report Generator v2 (Mondays 8am)\", workflow_id: $workflow.id, workflow_execution_id: $execution.id }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "wire-account-manager-ftjvbeg3",
      "name": "Invoke · account-manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        420
      ]
    },
    {
      "id": "apify-wire-load-clients-weekly_report",
      "name": "[APIFY-WIRE] Load active clients with apify enabled (weekly_report)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        980
      ],
      "parameters": {
        "method": "GET",
        "url": "https://ordaeyxvvvdqsznsecjx.supabase.co/rest/v1/clients?status=eq.active&select=id,name,slug,config&config->apify->enabled=eq.true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "id": "apify-wire-split-clients-weekly_report",
      "name": "[APIFY-WIRE] Split per cliente (weekly_report)",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        600,
        980
      ],
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      }
    },
    {
      "id": "apify-wire-filter-functions-weekly_report",
      "name": "[APIFY-WIRE] Filter functions for weekly_report scope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        980
      ],
      "parameters": {
        "jsCode": "const cliente = $input.item.json;\nconst cron = (cliente.config && cliente.config.apify && cliente.config.apify.cron_cadence_per_function) || {};\nconst tier = (cliente.config && cliente.config.apify && cliente.config.apify.plan_tier) || 'basic';\nconst scopeFunctions = [\"instagram_scraper\",\"tiktok_profile_scraper\",\"linkedin_company_scraper\",\"facebook_ads_library_scraper\"];\nconst activas = scopeFunctions.filter(fn => cron[fn] != null);\nreturn activas.map(fn => ({\n  json: { client_id: cliente.id, client_name: cliente.name, apify_function: fn, cadence: cron[fn], tier }\n}));"
      }
    },
    {
      "id": "apify-wire-split-functions-weekly_report",
      "name": "[APIFY-WIRE] Split per function (weekly_report)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        980
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "apify-wire-call-service-weekly_report",
      "name": "[APIFY-WIRE] Call Apify Service Workflow (weekly_report)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        980
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n-production-72be.up.railway.app/webhook/apify-service-workflow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  client_id: $json.client_id,\n  apify_function: $json.apify_function,\n  destination: \"brain_rag\",\n  dry_run: true,\n  source_table: \"client_historical_outputs\",\n  metadata: {\n    calling_workflow_id: $workflow.id,\n    calling_workflow_execution_id: $execution.id,\n    scope: \"weekly_report\",\n    sprint: \"9-cleanup-wire-6-critical-weekly-report\",\n    tier: $json.tier,\n    cadence: $json.cadence\n  }\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "apify-wire-aggregate-weekly_report",
      "name": "[APIFY-WIRE] Aggregate Service responses (weekly_report)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        980
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst summary = { total_calls: items.length, successes: 0, errors: 0, skipped_gate: 0, by_function: {} };\nfor (const it of items) {\n  const r = it.json || {};\n  const fn = r.apify_function || 'unknown';\n  summary.by_function[fn] = (summary.by_function[fn] || 0) + 1;\n  if (r.status === 'skipped' || r.skip_reason) summary.skipped_gate++;\n  else if (r.success === false || r.error) summary.errors++;\n  else summary.successes++;\n}\nreturn [{ json: { scope: 'weekly_report', destination_table: 'client_historical_outputs', summary, ran_at: new Date().toISOString() } }];"
      }
    }
  ],
  "connections": {
    "Mondays 8am": {
      "main": [
        [
          {
            "node": "Fetch All Active Clients",
            "type": "main",
            "index": 0
          },
          {
            "node": "[APIFY-WIRE] Load active clients with apify enabled (weekly_report)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Active Clients": {
      "main": [
        [
          {
            "node": "Split Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clients": {
      "main": [
        [
          {
            "node": "Meta Ads (7d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "GA4 (7d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "GHL Pipeline (7d)",
            "type": "main",
            "index": 0
          },
          {
            "node": "PostHog Events (7d)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Ads (7d)": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GA4 (7d)": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GHL Pipeline (7d)": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "PostHog Events (7d)": {
      "main": [
        [
          {
            "node": "Merge Report Data",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Invoke · reporting-agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Report Data": {
      "main": [
        [
          {
            "node": "Call Reporting Agent: Generate Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invoke · account-manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Reporting Agent: Generate Report": {
      "main": [
        [
          {
            "node": "Create Notion Report Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Report Draft": {
      "main": [
        [
          {
            "node": "Submit HITL Gate: Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit HITL Gate: Weekly Report": {
      "main": [
        [
          {
            "node": "Alert Slack: HITL Gate Opened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Load active clients with apify enabled (weekly_report)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Split per cliente (weekly_report)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Split per cliente (weekly_report)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Filter functions for weekly_report scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Filter functions for weekly_report scope": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Split per function (weekly_report)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Split per function (weekly_report)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Call Apify Service Workflow (weekly_report)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[APIFY-WIRE] Call Apify Service Workflow (weekly_report)": {
      "main": [
        [
          {
            "node": "[APIFY-WIRE] Aggregate Service responses (weekly_report)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [],
  "triggerCount": 1,
  "versionId": "f922aa13-f0a0-4d23-b660-a7b733758a00"
}
