n8n-workflows/proposed-sesion27b/06-client-success/007-client-nps-csat-monthly.json
{
  "name": "Zero Risk — Client NPS + CSAT Monthly Pulse (1st of Month 10am)",
  "description": "Monthly NPS survey pulse. Sends 1-10 NPS survey via GHL email to primary champion. 2 follow-ups if no response (3d, 7d). Upon response: calculates client NPS, logs trend. For detractors (0-6): immediate AM action. Aggregates org-wide NPS for monthly board reporting.",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 1 * *"
            }
          ]
        }
      },
      "id": "cron-1st-month-10am",
      "name": "1st of Month at 10am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/clients?status=active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-clients-nps",
      "name": "Fetch All Active Clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients",
        "options": {}
      },
      "id": "split-clients-nps",
      "name": "Split Clients",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/ghl/primary-champion?client_id={{ $json.id }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-primary-champion",
      "name": "Fetch Primary Champion Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const champion = $input.first().json || {};\nconst client = $node['Split Clients'].json;\n\nif (!champion.contact_email) {\n  return [];\n}\n\nconst surveyUrl = `{{ $env.ZERO_RISK_API_URL }}/surveys/nps?client_id={{ $json.id }}&survey_id=nps-{{ new Date().getFullYear() }}-{{ (new Date().getMonth()+1).toString().padStart(2, '0') }}`;\nconst subject = `Quick question: How would you rate your experience with Zero Risk?`;\nconst body = `Hi ${champion.contact_name || 'there'},\\n\\nWe'd love to hear your feedback! On a scale of 0-10, how likely are you to recommend Zero Risk to a colleague?\\n\\n→ Take 30-second survey: ${surveyUrl}\\n\\nYour honest feedback helps us improve.\\n\\nBest,\\nZero Risk Team`;\n\nreturn [{ json: { client_id: client.id, client_name: client.name, champion_email: champion.contact_email, champion_name: champion.contact_name, survey_url: surveyUrl, subject, body } }];"
      },
      "id": "prepare-survey-email",
      "name": "Prepare Survey Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/ghl/send-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": \"{{ $json.champion_email }}\",\n  \"contact_email\": \"{{ $json.champion_email }}\",\n  \"subject\": \"{{ $json.subject }}\",\n  \"body\": \"{{ $json.body }}\",\n  \"campaign_name\": \"nps-monthly-pulse\",\n  \"track_opens\": true,\n  \"track_clicks\": true\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "send-nps-survey",
      "name": "Send NPS Survey Email (GHL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ZERO_RISK_API_URL }}/api/surveys/nps/log-sent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.INTERNAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"client_name\": \"{{ $json.client_name }}\",\n  \"survey_sent_to\": \"{{ $json.champion_email }}\",\n  \"sent_at\": \"{{ new Date().toISOString() }}\",\n  \"sent_attempt\": 1,\n  \"month_year\": \"{{ new Date().getFullYear() }}-{{ (new Date().getMonth()+1).toString().padStart(2, '0') }}\"\n}",
        "options": {}
      },
      "id": "log-survey-sent",
      "name": "Log Survey Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"📊 *MONTHLY NPS PULSE SENT*\\n• Surveys sent: {{ $node['Log Survey Sent'].json.clients_count || 'processing...' }}\\n• Month: {{ new Date().getFullYear() }}-{{ (new Date().getMonth()+1).toString().padStart(2, '0') }}\\n\\n📌 Reminders will be sent at Day 3 + Day 7 if no response.\\n📈 Aggregate NPS report generated on 15th of month.\"\n}",
        "options": {}
      },
      "id": "alert-nps-sent",
      "name": "Alert Slack: NPS Pulse Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 300]
    }
  ],
  "connections": {
    "1st of Month at 10am": {
      "main": [
        [
          {
            "node": "Fetch All Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Active Clients": {
      "main": [
        [
          {
            "node": "Split Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Clients": {
      "main": [
        [
          {
            "node": "Fetch Primary Champion Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Primary Champion Contact": {
      "main": [
        [
          {
            "node": "Prepare Survey Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Survey Email": {
      "main": [
        [
          {
            "node": "Send NPS Survey Email (GHL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send NPS Survey Email (GHL)": {
      "main": [
        [
          {
            "node": "Log Survey Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Survey Sent": {
      "main": [
        [
          {
            "node": "Alert Slack: NPS Pulse Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "zero-risk"
    },
    {
      "name": "cluster-6"
    },
    {
      "name": "client-success"
    },
    {
      "name": "nps"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
